.AddBonusCard {
  margin-top: 36px;
  background: var(--product-details-bg);

  &Wrapper {
    padding: 30px 48px;
    color: var(--text-primary);
  }

  &Left {
    padding-bottom: 60px;
    padding-right: 48px;

    @media only screen and(max-width:768px) {
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  &Right {
    @media only screen and(max-width:768px) {
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  .BonusAddGender {
    margin-top: 10px;
    display: flex;
    align-items: center;
    column-gap: 8px;

    // .AddCardBtn1 {
    //     background: var(--text-primary);
    //     opacity: 100%;
    //     color: var(--add-btn);
    //     padding: 8px 12px;
    //     border-radius: 12px;
    // }

    // .AddCardBtn2 {
    //     background: var(--bonus-bg);
    //     opacity: 100%;
    //     color: var(--text-primary);
    // }

    span {
      margin-right: 12px;
    }
  }

  .BonusAddForm {
    margin: 20px 0px;

    &ColLeft {
      padding-left: 0px;

      @media only screen and(max-width:768px) {
        padding-left: 0px;
        padding-right: 0px;
      }
    }

    &ColRight {
      padding-right: 0px;

      @media only screen and(max-width:768px) {
        padding-left: 0px;
        padding-right: 0px;
      }
    }
  }

  .BonusAddFormRight {
    // margin-bottom: 30px;
    // margin-bottom: 40px;
  }

  .BonusAddFormRightInner {
    // margin-top: 30px;
  }

  button.cardRegister {
    margin-top: 30px;
    width: max-content;
    padding: 12px 24px;
    font-family: Poppins;
    border: none;
    border-radius: 12px;
    background: var(--text-primary);
    opacity: 100%;
    color: var(--add-btn);
    text-transform: initial;
  }
}

@media (min-width: 1440px) {
  .AddBonusCard {
    &Wrapper {
      max-width: 1340px;
      margin-inline: auto;
      padding-inline: 0;
    }
  }
}
