.BonusUserCard {
  margin-top: 70px;
  background: var(--bg-main);
  &Wrapper {
    padding: 30px 48px;
  }

  h3 {
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--text-primary);
  }

  a.cardRegister {
    display: inline-block;
    padding: 12px 24px;
    border: none;
    border-radius: 12px;
    background: #333333;
    opacity: 100%;
    color: #fff;
    text-transform: capitalize;
  }

  &Content {
    background: var(--product-details-bg);
    color: var(--text-primary);
    width: 100%;
    border-radius: 24px;
    padding: 16px;
    margin-bottom: 32px;
    display: flex;
    align-items: center;

    svg {
      width: 45px;
      height: 45px;
      fill: white;
    }

    p {
      margin-left: 12px;
    }
  }

  &MainContent {
    background: var(--product-details-bg);
    color: var(--text-primary);
    width: 100%;
    border-radius: 24px;
    padding: 36px;

    h3 {
      font-weight: 700;
    }

    ul {
      li {
        margin-top: 15px;
        position: relative;
      }

      li:before {
        position: absolute;
        content: '';
        top: 6px;
        left: -14px;
        width: 9px;
        height: 9px;
        border-radius: 100%;
        background: red;
      }
    }
  }
}

@media only screen and (min-width: 1440px) {
  .BonusUserCard {
    &Wrapper {
      max-width: 1340px;
      margin-inline: auto;
      padding-inline: 0;

    }
  }
}

@media only screen and (max-width: 1024px) {
  .BonusUserCard {
    &Wrapper {
      padding-inline: 20px;
    }
    .MuiButtonBase-root {
      color: red;
    }
  }
}

@media only screen and (max-width: 768px) {
  .BonusUserCard {
    a.cardRegister {
      padding: 8px 18px;
      font-size: 12px;
    }

    &Content {
      padding: 8px;
      margin-bottom: 20px;

      p {
        font-size: 12px;
      }
    }

    &MainContent {
      h3 {
        font-size: 12px;
      }

      ul {
        li {
          font-size: 12px;
        }
      }
    }
  }
}


