.SectionTwo {
    padding-block: 56px 40px;
    padding-inline: 48px;
    width: 100%;
    background: var(--special-offer-bg);

    &Title {
        margin-bottom: 40px;

        h2 {
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 0.26em;
            color: #EA2427;
            margin-bottom: 8px;
        }

        span {
            font-weight: 600;
            font-size: 24px;
            line-height: 36px;
            color: var(--text-primary);
        }
    }

    &Inner {
        display: grid;
        //grid-template-columns: repeat(5, 1fr);
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        grid-gap: 36px;
    }
}

@media only screen and (min-width: 1440px) {
.SectionTwo {
    &Inner{
        margin-inline: auto;
        padding-inline: 0;
        width: 1340px;
    }
    &Title{
        margin-inline: auto;
        padding-inline: 0;
        width: 1340px;
    }
}
}

@media only screen and (max-width: 1024px) {
    .SectionTwo {
        padding-inline: 20px;
    }
}

@media only screen and (max-width: 992px) {
    .SectionTwo {
        display: none;
    }
}