.SectionTwo {
    position: relative;
    padding-top: 20px;
    padding-inline: 48px;

    &Title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
        color: var(--text-primary);

        &Text {
            &Top {
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
                letter-spacing: 0.26em;
                color: var(--red-main);
            }

            &Bottom {
                font-weight: 600;
                font-size: 24px;
                line-height: 36px;
            }
        }

        &Actions {
            display: flex;
            gap: 16px;
        }
    }

    &Products {
        display: flex;
        margin-bottom: 122px;

        &FirstSlider {
            width: 100%;

            &Item {
                // margin-right: 36px;
                padding: 10px;
                // padding-inline: 18px;
                // margin-right: 36px;
                width: 240px;
                flex-shrink: 0;

                // .slick-arrow{
                //     background-color: red !important;
                // }
            }
        }


    }
}

@media only screen and (max-width: 1024px) {
    .SectionTwo {
        padding-inline: 20px;
    }
}

@media only screen and (max-width: 630px) {
    .SectionTwo {

        &Title {
            margin-bottom: 20px;

            &Text {
                &Top {
                    font-size: 10px;
                }

                &Bottom {
                    font-size: 16px;
                }
            }
        }
    }
}