.InfoCardList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(238px, 1fr));
  grid-gap: 32px;
  padding-block: 53px;

  .Box {
    background: var(--white-to-black);
    box-shadow: -4px -10px 11px var(--info-box-shadow-first),
      4px 10px 19px var(--info-box-shadow-second);
    border-radius: 24px;
    height: 87px;
    padding: 24px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    p {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: var(--text-primary);
      white-space: nowrap;
    }

    span {
      font-weight: 400;
      font-size: 10px;
      line-height: 15px;
      color: var(--text-primary);
      opacity: 0.6;
    }
  }
}

@media(min-width: 1440px) {
  .InfoCardList {
    max-width: 1050px;
    margin-inline: auto;
    padding-inline: 0;
  }
}

// @media only screen and (max-width: 1024px) {
//   .InfoCardList {
//     padding-inline: 20px;
//   }
// }

@media only screen and (max-width: 630px) {
  .InfoCardList {
    grid-template-columns: repeat(auto-fit, minmax(159px, 1fr));
    grid-gap: 16px;
    grid-row-gap: 24px;

    .Box {
      padding: 16px;
      p {
        font-size: 14px;
      }
    }
  }
}
