.BrandsAllProductsContainer {
    background: var(--brands-bg);
    padding-bottom: 100px;

    &Body {
        padding-inline: 48px;
        display: flex;
        column-gap: 2%;
        padding-top: 26px;

        &Sidebar {
            background-color: var(--brands-all-products-sidebar-bg);
            box-shadow: 0px 16px 23px rgba(0, 0, 0, 0.01);
            border-radius: 24px;
            flex-shrink: 0;

            &Form {

                padding: 24px;

                .PriceFilter {
                    margin-bottom: 48px;

                    &Title {
                        font-weight: 500;
                        font-size: 14px;
                        margin-bottom: 16px;
                        color: var(--text-primary);
                    }

                    &Content {
                        &Input {
                            display: flex;
                            gap: 16px;

                            input:nth-child(1) {
                                width: 100%;
                                padding: 12px 16px;
                                background-color: var(--searchbar-bg);
                                color: var(--text-primary);
                                font-weight: 400;
                                font-size: 12px;
                                line-height: 18px;
                                border: unset;
                                border-radius: 12px;
                                // opacity: 0.4;
                            }

                            input:nth-child(2) {
                                width: 100%;
                                padding: 12px 16px;
                                background-color: var(--searchbar-bg);
                                color: var(--text-primary);
                                font-weight: 400;
                                font-size: 12px;
                                line-height: 18px;
                                border: unset;
                                border-radius: 12px;
                                // opacity: 0.4;
                            }
                        }
                    }
                }

                .ProductsSidebarBrends {
                    margin-bottom: 48px;

                    &Title {
                        font-weight: 500;
                        font-size: 14px;
                        margin-bottom: 16px;
                        color: var(--text-primary);
                    }

                    .Search {
                        margin-bottom: 24px;
                    }

                    &Checkbox {
                        display: flex;
                        width: 100%;
                        align-items: center;
                        justify-content: space-between;
                        padding-block: 5px;

                        span {
                            font-size: 12px;
                            color: var(--text-primary);
                        }
                    }

                    button {
                        border: none;
                        color: blue;
                        font-weight: 500;
                        background-color: inherit;
                    }

                    &SecondGroup {
                        transition: all 0.3s ease-in-out;
                        max-height: 0;
                        overflow: hidden;
                        opacity: 0;
                        // padding: 30px;

                        &Show {
                            max-height: 200px;
                            transition: all 0.3s ease-in-out;
                            opacity: 1;
                        }
                    }
                }
            }
        }

        &Products {
            width: 100%;

            .ProductsInner {
                width: 100%;
                background: var(--bg-main);
                overflow: hidden;

                &Header {
                    margin-bottom: 34px;

                    &Title {
                        margin-bottom: 20px;

                        &Desktop {
                            font-weight: 600;
                            font-size: 24px;
                            line-height: 36px;
                            color: var(--text-primary);
                        }

                        &Mobile {
                            display: none;

                            .BackButton {
                                cursor: pointer;
                                width: fit-content;

                                a {
                                    padding: 12px;
                                    background: var(--sidebar-bg-secondary);
                                    display: flex;
                                    border-radius: 12px;

                                    svg {
                                        color: var(--text-primary);
                                    }
                                }
                            }

                            .Text {
                                margin-left: 12px;

                                p:nth-child(1) {
                                    font-weight: 700;
                                    font-size: 16px;
                                    line-height: 106.2%;
                                    color: var(--text-primary);
                                    margin-bottom: 4px;
                                }

                                p:nth-child(2) {
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 12px;
                                    line-height: 18px;
                                    color: var(--text-secondary);
                                }
                            }
                        }
                    }

                    &MobileFilter {
                        display: none;
                        padding-bottom: 12px;

                        a {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-shrink: 0;
                            padding: 6px 16px;
                            border-radius: 12px;
                            background: var(--info-card-second-bg);
                            margin-right: 6px;
                            font-weight: 500;
                            font-size: 12px;
                            line-height: 15px;
                            color: var(--text-primary);

                            &:last-child {
                                margin-right: unset;
                            }
                        }

                        .ActiveFilterBtn {
                            background: var(--text-primary);
                            color: var(--f-to-0);
                        }

                    }

                    &Filter {
                        display: flex;
                        justify-content: space-between;
                        padding-top: 12px;

                        .FilterLeft {
                            &Desktop {
                                display: flex;

                                li {
                                    margin-right: 24px;

                                    button {
                                        border: unset;
                                        background: unset;
                                        font-weight: 500;
                                        font-size: 14px;
                                        line-height: 21px;
                                        color: var(--text-primary);
                                        opacity: 0.5;
                                        padding-bottom: 6px;
                                    }
                                }

                                .ActiveLink {

                                    opacity: unset;
                                    border-bottom: 2px solid #ea2427;

                                }
                            }

                            &Mobile {
                                display: none;

                                .FilterButton {
                                    background: var(--button-product);
                                    border-radius: 16px;
                                    padding: 10px 52px;
                                    text-transform: unset;

                                    span:nth-child(1) {
                                        svg {
                                            color: #ea2427;
                                        }
                                    }

                                    span:nth-child(2) {
                                        color: #ea2427;
                                        margin-left: 8px;
                                        font-weight: 500;
                                        font-size: 14px;
                                        line-height: 21px;
                                    }
                                }
                            }
                        }


                        .FilterRight {
                            &Buttons {
                                button {
                                    border: unset;
                                    background: unset;
                                    padding: 10px;
                                    background: var(--pagination-bg);
                                    line-height: 0;
                                    border-radius: 10px;
                                    min-width: unset;

                                    &:nth-child(1) {
                                        margin-right: 16px;
                                    }

                                    svg {
                                        width: 12px;
                                        height: 12px;
                                        color: var(--text-primary);
                                    }
                                }

                                .ActiveButton {
                                    background: #ea2427;

                                    svg {
                                        color: #ffffff;
                                    }
                                }
                            }
                        }
                    }
                }

                &Body {
                    display: flex;
                    flex-direction: column;

                    &Grid {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        column-gap: 1%;
                        // display: grid;
                        // grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
                        // grid-gap: 32px;
                        // margin-bottom: 40px;
                        overflow: hidden;
                        transition: 1s cubic-bezier(.42, 0, .14, 1.26);
                        transform: translateY(50%);
                        visibility: hidden;
                        opacity: 0.1;
                        order: 2;
                        height: 0;

                        &Item {
                            width: 24%;
                            max-width: 250px;
                            margin-bottom: 24px;
                        }
                    }

                    .GridActive {
                        transform: translateY(0%);
                        visibility: unset;
                        opacity: unset;
                        order: 1;
                        height: auto;
                    }

                    &List {
                        display: grid;
                        grid-gap: 32px;
                        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
                        transition: 1s cubic-bezier(.42, 0, .14, 1.26);
                        transform: translateY(50%);
                        visibility: hidden;
                        opacity: 0.1;
                        order: 2;
                        height: 0;
                        padding-bottom: 20px;
                    }

                    .ListActive {
                        transform: translateY(0%);
                        visibility: unset;
                        opacity: unset;
                        order: 1;
                        height: auto;
                    }
                }

            }
        }
    }
}

@media (max-width: 1300px) {

    .BrandsAllProductsContainer {
        &Body {
            &Products {
                .ProductsInner {
                    &Body {
                        &Grid {
                            // gap: 10px;

                            &Item {
                                width: 32%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .BrandsAllProductsContainer {
        &Body {
            padding-inline: 0px;

            &Sidebar {
                display: none;
            }

            &Products {
                .ProductsInner {

                    padding-inline: 20px;

                    &Header {
                        position: relative;

                        &Title {
                            &Desktop {
                                display: none;
                            }

                            &Mobile {
                                display: flex;

                            }
                        }

                        &MobileFilter {
                            display: flex;
                            width: 100%;
                            overflow-x: auto;
                            position: absolute;
                            top: 54px;
                        }

                        &Filter {

                            padding-top: 48px;

                            .FilterLeft {
                                &Desktop {
                                    display: none;
                                }

                                &Mobile {
                                    display: block;
                                }
                            }

                            .FilterRight {
                                &Buttons {
                                    button {
                                        padding: 15px 30px;
                                        border-radius: 16px;
                                    }

                                    .ActiveButton {
                                        border-radius: 16px;
                                    }
                                }
                            }
                        }
                    }

                    &Body {
                        &Grid {
                            &Item {
                                width: 30%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .BrandsAllProductsContainer {
        &Body {
            &Products {
                .ProductsInner {
                    &Body {
                        &Grid {
                           &Item {
                               width: 32%;
                           }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 660px) {
    .BrandsAllProductsContainer {
        &Body {
            &Products {
                .ProductsInner {
                    &Body {
                        &Grid {
                            &Item {
                                width: 45%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 630px) {
    .BrandsAllProductsContainer {
        &Body {
            &Products {
                .ProductsInner {
                    &Header {
                        &MobileFilter {
                            a {
                                padding: 4px 8px;
                                font-size: 10px;
                                line-height: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 576px) {

    .BrandsAllProductsContainer {
        &Body {
            &Products {
                .ProductsInner {
                    &Body {
                        &Grid {
                            overflow: visible;
                            // grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));

                            &Item {
                                width: 42%;
                            }
                        }

                        &List {
                            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    .BrandsAllProductsContainer {
        &Body {
            &Products {
                .ProductsInner {
                    &Body {
                        &Grid {
                            &Item {
                                width: 48%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 392px) {
    .BrandsAllProductsContainer {
        &Body {
            &Products {
                .ProductsInner {

                    &Header {

                        &Filter {

                            .FilterLeft {

                                &Mobile {

                                    .FilterButton {
                                        border-radius: 14px;
                                        padding: 11px 40px;

                                        span:nth-child(2) {
                                            margin-left: 8px;
                                            font-size: 12px;
                                            line-height: 14px;
                                        }
                                    }
                                }
                            }


                            .FilterRight {
                                &Buttons {
                                    button {
                                        padding: 16px 24px;
                                        border-radius: 14px;

                                        svg {
                                            width: 10px;
                                            height: 10px;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &Body {

                        // &Grid {
                        //     display: flex;
                        //     flex-wrap: wrap;
                        //     justify-content: center;
                        // }

                        &List {}
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 360px) {
    .BrandsAllProductsContainer {
        &Body {
            &Products {
                .ProductsInner {
                    &Body {
                        &Grid {
                            justify-content: center;

                            &Item {
                                width: 70%;
                            }
                        }
                    }
                }
            }
        }
    }
}