.BrandsMainContainer {
    font-family: 'Poppins';
    background-color: var(--section-two);

    &Wrapper {
        padding-top: 20px;
        padding-bottom: 24px;

        .SectionFive {
            padding: 100px 48px 50px 48px;
            width: 100%;
            background: var(--f-to-0);
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(560px, 1fr));
            column-gap: 3%;

            &Left {
                height: 310px;
                background: var(--f-to-0);
                border: 1px solid var(--info-card-border);
                box-sizing: border-box;
                border-radius: 24px;
                padding: 32px;
                position: relative;
                margin-bottom: 50px;

                &Title {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 18px;
                    color: var(--text-primary);
                }

                &Text {
                    max-width: 262px;
                    font-weight: 500;
                    font-size: 36px;
                    line-height: 40px;
                    text-transform: uppercase;
                    color: var(--text-primary);
                    position: absolute;
                    max-width: 262px;
                    z-index: 1;
                }

                &Button {
                    height: 100%;
                    display: flex;

                    a {
                        display: inline-block;
                        padding: 12px 24px;
                        background: #333333;
                        color: #ffffff;
                        border-radius: 12px;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 21px;
                        margin-top: auto;
                    }
                }

                &Img {
                    width: 225px;
                    position: absolute;
                    top: -26px;
                    right: 26px;

                    img {
                        width: 100%;
                    }
                }
            }

            &Right {
                height: 310px;
                background: var(--info-card-second-bg);
                box-sizing: border-box;
                border-radius: 24px;
                padding: 32px;
                position: relative;
                margin-bottom: 50px;

                &Title {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 18px;
                    color: var(--text-primary);
                }

                &Text {
                    max-width: 262px;
                    font-weight: 500;
                    font-size: 36px;
                    line-height: 40px;
                    text-transform: uppercase;
                    color: var(--text-primary);
                    position: absolute;
                    max-width: 262px;
                    z-index: 1;
                }

                &Button {
                    height: 100%;
                    display: flex;

                    a {
                        display: inline-block;
                        padding: 12px 24px;
                        background: var(--info-card-details-btn);
                        color: var(--text-primary);
                        border-radius: 12px;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 21px;
                        margin-top: auto;
                    }
                }

                &Img {
                    width: 170px;
                    position: absolute;
                    top: -26px;
                    right: 26px;

                    img {
                        width: 100%;
                    }
                }
            }
        }


        .SectionThree {
            width: 100%;
            background: var(--f-to-0);
            padding-bottom: 50px;
            padding-inline: 48px;

            &Video {
                width: 100%;
                // height: 90%;
                border-radius: 24px;
                overflow: hidden;
                position: relative;
                max-height: 531px;

                &:hover {
                    .VideoControls {
                        display: flex;
                    }
                }

                .VideoControls {
                    display: none;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: rgba(51, 51, 51, 0.46);
                    // display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: 0.3s;
                }

                .OnPause {
                    display: flex;
                }

                .PlayIcon {
                    button {
                        border: unset;
                        background: unset;
                        transition: 0.3s;

                        &:hover {
                            svg {
                                // scale: 105%;
                                transform: scale(1.05);
                            }
                        }

                        svg {
                            color: #ffffff;
                            width: 111px;
                            height: 111px;
                            transition: 0.3s;
                        }
                    }
                }

                .Text {
                    position: absolute;
                    bottom: 40px;
                    left: 50%;
                    transform: translateX(-50%);

                    &Title {
                        font-weight: 700;
                        font-size: 10px;
                        line-height: 15px;
                        text-align: center;
                        letter-spacing: 0.26em;
                        color: #ffffff;
                        margin-bottom: 16px;
                    }

                    &Main {
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 121.8%;
                        text-align: center;
                        color: #ffffff;
                        max-width: 445px;
                    }
                }

                .FullScreen {
                    position: absolute;
                    right: 20px;
                    bottom: 15px;

                    &Btn {
                        background: unset;
                        border: unset;

                        svg {
                            color: #ffffff;
                            width: 20px;
                            height: 20px;
                        }
                    }
                }

                video {
                    display: block;
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) {

    .BrandsMainContainer {
        &Wrapper {

            &ProductsContainer {
                padding-inline: 20px;
            }

            .SectionFive {
                padding-inline: 20px;
                padding-block: 50px 20px;
            }
        }

        .SectionThree {
            padding-inline: 20px;
        }
    }
}

@media only screen and (max-width: 768px) {

    .BrandsMainContainer {
        &Wrapper {
            .SectionThree {

                &Video {

                    .PlayIcon {
                        button {
                            svg {
                                width: 70px;
                                // height: 111px;
                            }
                        }
                    }

                    .Text {
                        bottom: 20px;

                        &Title {
                            margin-bottom: 12px;
                        }

                        &Main {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 630px) {

    .BrandsMainContainer {

        &Wrapper {
            &ProductsContainer {

                &Title {
                    margin-bottom: 20px;

                    &Text {
                        &Top {
                            font-size: 10px;
                        }

                        &Bottom {
                            font-size: 16px;
                        }
                    }
                }
            }

            .SectionFive {
                width: 100%;
                display: flex;
                flex-wrap: wrap;

                &Left {
                    height: 100%;
                    margin-bottom: 50px;
                    width: 100%;
                    flex-grow: 1;
                    padding: 24px;

                    &Title {
                        font-size: 10px;
                        line-height: 18px;
                    }

                    &Text {
                        font-size: 24px;
                    }

                    &Button {
                        padding-top: 100px;

                        a {
                            font-size: 14px;
                        }
                    }

                    &Img {
                        width: 150px;
                    }
                }
            }

            .SectionThree {

                &Video {

                    .PlayIcon {
                        button {
                            svg {
                                width: 40px;
                            }
                        }
                    }

                    .Text {
                        bottom: 20px;

                        &Title {
                            font-size: 8px;
                            margin-bottom: 10px;
                        }

                        &Main {
                            font-weight: 600;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 425px) {

    .BrandsMainContainer {
        &Wrapper {
            .SectionFive {
                width: 100%;
                display: flex;
                flex-wrap: wrap;

                &Left {
                    padding: 24px;
                    margin-bottom: 40px;

                    &Title {
                        font-size: 8px;
                        line-height: 12px;
                    }

                    &Text {
                        width: 40%;
                        font-size: 18px;
                        line-height: 23px;
                    }

                    &Button {
                        padding-top: 60px;
                    }

                    &Img {
                        width: 100px;
                        top: -16px;
                        right: 16px;
                    }
                }
            }

            .SectionThree {

                &Video {

                    .PlayIcon {
                        button {
                            svg {
                                width: 40px;
                            }
                        }
                    }

                    .Text {
                        bottom: 20px;

                        &Title {
                            font-size: 8px;
                            margin-bottom: 10px;
                        }

                        &Main {
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 375px) {
    .BrandsMainContainer {
        &Wrapper {

            .SectionThree {

                &Video {

                    .PlayIcon {
                        button {
                            svg {
                                width: 20px;
                            }
                        }
                    }

                    .Text {
                        bottom: 20px;

                        &Title {
                            font-size: 6px;
                            margin-bottom: 5px;
                        }

                        &Main {
                            font-size: 7px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 320px) {

    .BrandsMainContainer {

        &Wrapper {
            .SectionFive {

                &Left {
                    padding: 18px;
                    margin-bottom: 35px;

                    &Title {
                        font-size: 6px;
                        line-height: 12px;
                    }

                    &Text {
                        width: 30%;
                        font-size: 14px;
                        line-height: 23px;
                    }

                    &Button {
                        padding-top: 60px;

                        a {
                            padding: 6px 14px;
                            font-size: 10px;
                        }
                    }

                    &Img {
                        width: 80px;
                        top: -14px;
                        right: 14px;
                    }
                }
            }
        }
    }
}