.ChangePassword {
  height: 100%;

  // background-color: red;
  &Top {
    margin-bottom: 32px;

    &Header {
      font-weight: 600;
      font-size: 24px;
    }
  }

  &Form {
    width: 100%;
    height: calc(100% - 64px);
    display: flex;
    flex-wrap: wrap;
    // background-color: blue;

    &Body {
      width: 40%;

      &Item {
        margin-bottom: 25px;
      }

      .ToForgotPassword {
        font-weight: 500;
        font-size: 12px;
        text-decoration-line: underline;
        padding-bottom: 10px;
      }
    }

    &Submit {
      align-self: flex-end;
      width: 100%;
      display: flex;
      gap: 16px;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .ChangePassword {
    &Form {
      &Body {
        width: 60%;
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .ChangePassword {
    &Form {
      &Body {
        width: 100%;
      }
    }
  }
}