.Personal {
  height: 100%;

  // background-color: red;
  &Top {
    margin-bottom: 20px;

    &Header {
      font-weight: 600;
      font-size: 24px;
    }

    p {
      display: none;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      opacity: 0.4;
    }
  }

  .PersonalFormWrapper {
    .PersonalForm {
      width: 100%;
      // height: calc(100% - 64px);
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      grid-column-gap: 4%;
      padding-bottom: 80px;

      &Left {
        // width: 50%;
        // padding-right: 16px;

        &Group {
          margin-bottom: 26px;
        }

        svg {
          color: var(--red-main);
        }
      }

      &Right {
        // width: 50%;
        // padding-left: 16px;

        .SocialMedia {
          margin-bottom: 30px;

          &Btn {
            border: none;
            text-decoration: underline;
            color: var(--red-main);
            font-weight: 500;
            font-size: 12px;
            background: transparent;
          }

          &Header {
            color: var(--text-primary);
            font-weight: 600;
            font-size: 14px;
            margin-bottom: 10px;
          }

          &Google {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: var(--navbar-bg-main);
            border-radius: 16px;
            padding: 12px 16px;
            margin-bottom: 8px;

            svg {
              margin-right: 16px;
            }

            span {
              font-size: 14px;
            }
          }

          &Facebook {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: var(--navbar-bg-main);
            border-radius: 16px;
            padding: 12px 16px;

            svg {
              margin-right: 16px;
              color: white;
            }

            span {
              font-size: 14px;
            }
          }
        }

        .NewsSubscription {
          &Header {
            color: var(--text-primary);
            font-weight: 600;
            font-size: 14px;
            margin-bottom: 16px;
          }

          &Check {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: var(--navbar-bg-main);
            border-radius: 16px;
            padding: 12px 16px;
            font-size: 14px;
          }
        }
      }
    }

    &Submit {
      align-self: flex-end;
      width: 100%;
      display: flex;
      gap: 16px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .Personal {

    &Top {

      &Header {
        font-size: 16px;
      }

      p {
        display: block;
      }
    }
  }
}