.Drawer {
  display: none;
}
.DrawerTop {
  pointer-events: auto;
  .PriceSection {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 16px;
    &Left {
      .OldPrice {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        text-decoration-line: line-through;
        color: #ea2427;

        svg {
          width: 8px;
        }
      }

      .CurrentPrice {
        font-weight: 700;
        font-size: 24px;
        line-height: 109.4%;
        // -----
        color: var(--text-primary);

        span:nth-child(1) {
          svg {
            width: 16px;
          }
          &:after {
            content: '';
            opacity: 0.1;
            // -----
            border: 1px solid #000000;
            margin: 0 12px;
          }
        }

        span:nth-child(2) {
          font-weight: 700;
          font-size: 14px;
          line-height: 109.4%;

          svg {
            width: 11px;
          }
        }
      }
    }

    &Right {
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      color: #ea2427;

      svg {
        &:last-child{
          width: 11px;
        }
      }
    }
  }

  .ButtonGroup {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

    &Right {
      display: flex;
    }

    &AddToCart {
      width: 100%;
      background: #ea2427;
      text-transform: unset;
      border-radius: 16px;
      padding: 14px 40px;
      margin-right: 8px;
      svg {
        width: 20px;
        height: 20px;
        color: #ffffff;
        margin-right: 10px;
      }
      span {
        color: #ffffff;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
      }
    }

    &Compare {
      background: #fdeaea;
      border-radius: 16px;
      padding: 16px;
      margin-right: 8px;
      min-width: unset;
      svg {
        width: 24px;
        height: 24px;
        color: #ea2427;
      }
    }

    &Favourite {
      background: #fdeaea;
      border-radius: 16px;
      min-width: unset;
      padding: 16px;
      margin-right: 8px;
      svg {
        width: 24px;
        height: 24px;
        color: #ea2427;
      }
    }
  }

  .BottomButtons {
    display: flex;
    .OneClick {
      width: 50%;
      button {
        width: 100%;
        padding: 16px;
        display: flex;
        justify-content: flex-start;
        text-transform: unset;
        border-radius: 16px 0px 0px 16px;
        border-right: 1px solid #ffffff;
        font-family: Poppins;
        background: var(--slider-bg);
        .OneClickIcon {
          display: flex;
          padding: 9px;
          margin-right: 8px;
          background: #e9e9e9;
          border-radius: 8px;
          svg {
            width: 14px;
            height: 14px;
            color: var(--text-primary);
          }
        }

        .Active {
          background: #ea2427;
          svg {
            color: #ffffff;
          }
        }

        .OneClickText {
          display: flex;
          flex-direction: column;

          span:nth-child(1) {
            font-weight: 700;
            font-size: 12px;
            line-height: 109.4%;
            color: var(--text-primary);
            margin-bottom: 4px;
          }
          span:nth-child(2) {
            font-weight: 400;
            font-size: 8px;
            line-height: 12px;
            color: var(--text-primary);
            text-align: start;
          }
        }
      }
    }
    .Credit {
      width: 50%;
      button {
        width: 100%;
        padding: 16px;
        display: flex;
        justify-content: flex-start;
        text-transform: unset;
        border-radius: 0 16px 16px 0;
        background: var(--slider-bg);
        font-family: Poppins;
        .CreditIcon {
          display: flex;
          padding: 9px;
          margin-right: 8px;
          background: #e9e9e9;
          border-radius: 8px;
          svg {
            width: 14px;
            height: 14px;
            color: var(--text-primary);
          }
        }

        .Active {
          background: #ea2427;
          svg {
            color: #ffffff;
          }
        }

        .CreditText {
          display: flex;
          flex-direction: column;

          span:nth-child(1) {
            font-weight: 700;
            font-size: 12px;
            line-height: 109.4%;
            color: var(--text-primary);
            margin-bottom: 4px;
          }
          span:nth-child(2) {
            font-weight: 400;
            font-size: 8px;
            line-height: 12px;
            color: var(--text-primary);
            text-align: start;
          }
        }
      }
    }
  }
}

.OneClickToggle {
  &Title {
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    color: var(--text-primary);
    margin-bottom: 24px;
  }

  &Form {
    .UserInputWrapper {
      &Title {
        font-weight: 500;
        font-size: 10px;
        line-height: 15px;
        color: var(--text-primary);
        margin-bottom: 4px;
      }
      .UserInput {
        background: var(--slider-bg);
        border-radius: 16px;
        padding: 16px 24px;
        display: flex;
        align-items: center;
        margin-bottom: 32px;
        input {
          border: unset;
          background: unset;
          width: 100%;
          font-weight: 500;
          font-size: 14px;
          line-height: 21px;
        }
        input:focus + svg {
          color: #ea2427;
        }
        svg {
          width: 12px;
          height: 15px;
          color: var(--text-primary);
        }
      }
    }

    .NumberInputWrapper {
      .NumberInput {
        background: var(--slider-bg);
        border-radius: 16px;
        padding: 16px 24px;
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        input {
          border: unset;
          background: unset;
          width: 100%;
          font-weight: 500;
          font-size: 14px;
          line-height: 21px;
        }
        input:focus + svg {
          color: #ea2427;
        }
        svg {
          width: 14px;
          height: 14px;
          color: var(--text-primary);
        }
      }
    }

    .SubmitButton {
      button {
        width: 100%;
        background: var(--text-primary);
        color: var(--f-to-0);
        text-transform: unset;
        padding-block: 16px;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        border-radius: 16px;
      }
    }
  }
}

.CreditToggle {
}

@media only screen and(max-width: 992px) {
  .Drawer {
    display: block;
  }
}

@media only screen and(max-width: 385px) {
  .DrawerTop {
    .ButtonGroup {
      &AddToCart {
        padding: unset;
        span {
          font-size: 12px;
        }
      }
    }

    .BottomButtons {
      white-space: nowrap;
      .OneClick {
        button {
          .OneClickText {
            span:nth-child(1) {
              font-size: 10px;
            }
          }
        }
      }
      .Credit {
        button {
          .CreditText {
            span:nth-child(1) {
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}
