.ProductLayout {
  display: flex;
  min-height: 100vh;

  .ProductAside {
    // background-color: aqua;
    width: 290px;
    min-height: 100vh;
    flex-shrink: 0;
  }

  .Container {
    flex-grow: 1;
    .Header {
      &Desktop {
        display: block;
      }
      &Full {
        display: none;
      }
    }
    .Footer {
      &Desktop {
        display: block;
      }
      &Full {
        display: none;
      }
    }
  }
}

@media (max-width: 1024px) {
  .ProductLayout {
    .ProductAside {
      display: none;
    }
    .Container {
      .Header {
        &Desktop {
          display: none;
        }
        &Full {
          display: block;
        }
      }
      .Footer {
        &Desktop {
          display: none;
        }
        &Full {
          display: block;
        }
      }
    }
  }
}
