.ColorInput {
  position: relative;
  border-radius: 6px;
  width: fit-content;
  height: fit-content;
  overflow: hidden;
  display: flex;
  border: 1px solid #bfbfbf;

  input {
    margin: unset;
    appearance: none;
    position: absolute;

    box-sizing: border-box;
    border-radius: 4px;
    width: 30px;
    height: 30px;

    &:checked + span:after {
      border-color: #ffffff;
    }
  }

  span {
    content: "";
    display: inline-block;
    border-radius: 4px;
    width: 30px;
    height: 30px;
  }

  span:after {
    content: "";
    position: absolute;
    top: 7px;
    left: 7px;
    display: block;
    width: 9px;
    height: 5px;
    border: 3px solid transparent;
    border-top: none;
    border-right: none;
    transform: translate(3px, 4px) rotate(-45deg);
  }
}
