.ConfirmationContent {
  display: flex;
  background: var(--bg-main);

  &Left {
    flex-basis: 50%;
    position: relative;
    min-height: 100vh;

    &BgImg {
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    &Opacity {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0px;
      top: 0px;
      background: #333333;
      opacity: 0.5;
    }

    &Body {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 40px 80px 100px 100px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .BakuElLogo {
        cursor: pointer;
      }

      .text {
        color: white;
        width: 100%;
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 50px;
        padding-bottom: 50px;
      }

      .btn {
        background: #ffffff;
        width: 121px;
        box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.11);
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        button {
          text-transform: initial;
          color: #333333;
          font-family: 'Poppins';
        }
      }
    }
  }

  &Right {
    flex-basis: 50%;

    &Wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;

      .Navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 422px;
        margin-top: 30px;
        margin-bottom: 40px;

        a {
          padding: 8px 16px;
          font-weight: 500;
          font-size: 12px;
          line-height: 18px;
          color: var(--text-primary);
        }
      }

      .Card {
        width: 422px;
        background: var(--user-sidebar-main);
        box-shadow: 0px 37px 52px rgba(0, 0, 0, 0.07);
        border-radius: 24px;
        padding: 32px;
        margin-bottom: 40px;

        .CardTitle {
          position: relative;
          margin-bottom: 27px;
          width: 100%;
          font-size: 32px;
          font-weight: 700px;
          color: var(--text-primary);

          &Icon {
            .LeftArrow {
              position: absolute;
              top: 16px;
              cursor: pointer;
            }
          }

          &Txt {
            text-align: center;
            font-weight: 700;
            font-size: 32px;
          }
        }

        .inputRounded .MuiOutlinedInput-root {
          border-radius: 20px;
        }

        .MuiOutlinedInput-input {
          border-color: orange;
        }

        .ConfirmationBtn {
          width: 100%;
          padding: 10px 0;
          background: #333333;
          border: 1px solid #333333;
          color: #ffffff;
          // box-shadow: 0px 6px 16px rgba(3, 78, 254, 0.2);
          border-radius: 14px;
          margin-top: 30px;
          margin-bottom: 30px;
          text-transform: initial;
          font-weight: 600;
          font-family: 'Poppins';
        }

        .SocialButtons {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 16px;
          margin-top: 30px;

          .SocialBtn {
            flex-basis: 50%;
            width: 100%;
            padding: 12px 24px;
            background: rgba(0, 0, 0, 0.05);
            border-radius: 12px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1450px) {
  .ConfirmationContent {
    &Left {
      &Body {
        .text {
          font-size: 30px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1180px) {
  .ConfirmationContent {
    &Left {
      &Body {
        .text {
          font-size: 24px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .ConfirmationContent {
    &Left {
      display: none;
    }

    &Right {
      margin: auto;
      padding-top: 40px;

      &Wrapper {
        .Navbar {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 475px) {
  .ConfirmationContent {
    &Left {
      flex-basis: 100%;
    }

    &Right {
      flex-basis: 100%;
      padding-inline: 30px;

      &Wrapper {
        .Card {
          width: 100%;

          .CardTitle {
            &Txt {
              font-size: 24px;
            }
          }

          .ConfirmationBtn {
            margin-top: 20px;
            margin-bottom: 10px;
          }

          .SocialButtons {
            margin-top: 20px;
          }
        }
      }
    }
  }
}
