.Bonuses {

  &Top {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    // flex-wrap: wrap;
    margin-bottom: 25px;
    color: var(--text-primary);

    &Header {
      //   background-color: green;
      align-self: center;
      font-weight: 600;
      font-size: 24px;
      margin-right: 16px;
      padding-bottom: 5px;
    }

    p {
      display: none;
      position: absolute;
      top: 30px;
      left: 20px;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      opacity: 0.4;
    }

    &BtnGroup {
      display: flex;
      gap: 16px;
      align-items: center;

      .LostCard,
      .ActiveStatus {
        padding: 10px 24px;
        background-color: var(--navbar-bg-main);
        border-radius: 12px;
        color: var(--text-primary);

        a {
          font-size: 14px;
        }

      }

      .ActiveStatus {
        span:last-child {
          font-family: 'Poppins';
          font-size: 14px;
        }
      }
    }
  }

  &Card {
    display: flex;
    width: 100%;
    height: 200px;
    align-items: flex-start;
    justify-content: space-between;
    overflow-x: auto;

    &Info {
      // width: 100%;
      // background: var(--gray-extra-light);
      background-color: var(--navbar-bg-main);
      flex-direction: column;
      justify-content: space-between;
      display: flex;
      min-width: 300px;
      flex-grow: 1;
      border-radius: 24px;
      height: 100%;
      margin-right: 16px;
      padding: 16px 24px;

      &Top {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &Price {
          display: flex;
          flex-direction: column;

          .PriceNumber {
            &Whole {
              font-weight: 700;
              font-size: 56px;
            }

            &Decimal {
              font-weight: 700;
              font-size: 30px;

              svg {
                width: 19px;
              }
            }
          }

          .Bonus {
            opacity: 0.5;
          }
        }

        &Icon {
          margin-top: -15px;

          svg {
            height: 45px;
            width: 45px;
          }
        }
      }

      &Link {
        &Icon {
          a {
            padding-inline: 15px;

            svg {
              color: red;
              transition: 0.3s;
            }
          }

          &:hover {
            svg {
              transform: scale(1.2);
            }
          }
        }
      }
    }

    &Img {
      // width: 345px;
      height: 100%;
      margin-left: 16px;
      position: relative;
      // background-color: red;
      flex-shrink: 0;

      img {
        border-radius: 16px;
        mix-blend-mode: multiply;
        background-color: #333333;
        filter: grayscale(1);
        // background-color: gray;
        width: 100%;
        height: 100%;
      }

      &Content {
        // background-color: red;
        color: white;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 35px 35px 24px 35px;
        display: flex;
        flex-direction: column;
        gap: 30px;

        &Top {
          display: flex;
          flex-direction: column;

          span:first-child {
            font-weight: 500;
            font-size: 14px;
          }

          span:last-child {
            font-size: 12px;
            opacity: 0.6;
          }
        }

        &Barcode {
          background-color: #fff;
          width: 100%;
          height: 85px;
          border-radius: 16px;
          display: flex;
          padding: 10px 25px;

          // height: calc(100% - 35px);
          svg {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  &Table {
    position: relative;
    margin-top: 40px;
  }

  .BonusesItems {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .Bonuses {

    &Top {
      display: block;
    }

    &Card {
      &Info {
        margin-right: 6px;
      }

      &Img {
        margin-left: 6px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .Bonuses {
    &Top {
      &Header {
        margin-bottom: 20px;
        font-size: 16px;
      }

      p {
        display: block;
      }

      &BtnGroup {

        .LostCard,
        .ActiveStatus {
          padding: 8px 12px;

          a {
            font-size: 12px;
          }

        }

        .ActiveStatus {
          span:last-child {
            font-size: 12px;
          }
        }
      }
    }

    &Card {
      margin-bottom: 24px;
    }

    &Table {
      display: none;
    }

    .BonusesItems {
      display: block;
    }
  }
}