.Header {
  display: flex;
  background-color: var(--bg-main);

  &Nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 48px;

    & .Theme_Search_Campaigns_Warapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 70%;

      & .Theme_Search_Warapper {
        display: flex;
        width: 60%;
        gap: 16px;
        align-items: center;

        & .HeaderNavSearchBar {
          width: 70%;
        }

        .HeaderNavLogo {
          height: 60px;
          width: 60px;
        }
      }

      & .CampaignsOthers {
        min-width: 240px;
        width: 35%;
        display: flex;
        font-size: 14px;
        align-items: center;
        justify-content: space-between;

        & > * {
          padding: 42px 0;
        }

        & > * {
          display: flex;
          align-items: center;
          justify-content: center;
          border-top: 3px solid transparent;

          & a {
            text-decoration: none;
            color: var(--text-primary);

            &:hover {
              text-decoration: underline;
            }
          }

          & button {
            color: var(--text-primary);
            border: 0;
            background-color: inherit;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        .Campaigns {
          border-top-color: var(--campaigns-nav-bg);
          font-weight: 700;
        }
      }
    }

    &Btns {
      display: flex;
      align-items: center;
      justify-content: space-between;
      // width: 240px;
      width: 27%;

      & a {
        height: 38px;
        width: 38px;
        line-height: 38px;
        text-align: center;
        display: inline-block;
        border-radius: 12px;
        color: var(--text-primary);
        background-color: var(--navbar-bg-main);
        transition: 0.3s;

        &:hover,
        &.active {
          color: var(--white);
          background-color: var(--red-main);
        }
      }

      .MenuIcon {
        height: 38px;
        width: 38px;
        line-height: 38px;
        text-align: center;
        display: inline-block;
        border-radius: 12px;
        color: var(--text-primary);
        background-color: var(--navbar-bg-main);
        cursor: pointer;
        display: none;

        &:hover,
        &.active {
          color: var(--white);
          background-color: var(--red-main);
        }
      }

      .HeartIcon {
        position: relative;

        span {
          position: absolute;
          top: -5px;
          right: -5px;
          background-color: var(--red-main);
          border-radius: 14px;
          padding: 1px 4px;
          font-weight: 700;
          font-size: 8px;
          line-height: 12px;
          color: white;
        }
      }
    }
  }

  select {
    appearance: none;
    border: 0;
    outline: 0px;
    box-shadow: unset;
  }
}

@media (min-width: 1440px) {
  .Header {
    &Nav {
      max-width: 1340px !important;
      margin-inline: auto !important;
      padding-inline: 0 !important;
    }
  }
}

@media (max-width: 1024px) {
  .Header {
    &Nav {
      padding: 0 20px;
      &Btns {
        width: 55%;
        justify-content: flex-end;
        gap: 15px;
        .HeartIcon,
        .CartIcon {
          display: none;
        }
        & .MenuIcon {
          display: block;
          flex-shrink: 0;
        }
      }

      & .Theme_Search_Campaigns_Warapper {
        width: 45%;

        & .Theme_Search_Warapper {
          width: 100%;
          & > * {
            padding: 16px 0;
          }
        }

        & .CampaignsOthers {
          display: none !important;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .Header {
    &Nav {
      &Btns {
        gap: 7px;
        & a,
        & .MenuIcon {
          height: 35px;
          width: 35px;
          line-height: 35px;
          border-radius: 8px;
        }
      }
      & .Theme_Search_Warapper {
        gap: 8px !important;
        .HeaderNavLogo {
          height: 44px !important;
          width: 44px !important;
        }

        .HeaderNavSearchBar {
          display: none;
        }
      }
    }
  }
}
