.ProductsSidebar {
  // background-color: var(--products-sidebar-bg);
  background: var(--product-card-bg);
  color: var(--text-primary);
  padding-inline: 24px;
  position: relative;
  height: 100%;
  border-right: 1px solid var(--products-page-inner);
  
  &Top {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 24px;

    &BackToHome {
      background-color: var(--sidebar-bg-secondary);
      position: absolute;
      top: 35px;
      left: 25px;
      border: 0;
      padding: 10px;
      border-radius: 12px;
      height: 38px;
      width: 38px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &Logo {
      height: 60px;
      width: 60px;
    }
  }

  &Form {
    margin-top: 40px;
    padding-bottom: 80px;

    h2 {
      padding-bottom: 20px;
      font-weight: 500;
      font-size: 14px;
    }

    .ProductsSidebarSubcategories {

      &Checkbox {
        padding-block: 5px;
      }
    }

    .ProductsSidebarBrends {
      &Checkbox {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding-block: 5px;

        span {
          font-size: 12px;
        }
      }

      button {
        border: none;
        color: blue;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        background-color: inherit;
      }

      &SecondGroup {
        transition: all 0.3s ease-in-out;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        // padding: 30px;

        &Show {
          max-height: 200px;
          transition: all 0.3s ease-in-out;
          opacity: 1;
        }
      }
    }
  }
}
