.CampaignsContainer {
  padding-inline: 48px;
  padding-top: 40px;
  background: var(--campaigns-bg);

  &InnerHeader {
    margin-bottom: 80px;

    &Title {
      margin-top: 8px;
      margin-bottom: 20px;
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
      color: var(--text-primary);
    }

    &Filter {
      ul {
        display: flex;
        align-items: center;

        li {
          margin-right: 24px;

          button {
            border: unset;
            background: unset;
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            color: var(--text-primary);
            opacity: 0.5;
            padding-bottom: 6px;
          }
        }
      }

      .ActiveLink {
        opacity: unset;
        border-bottom: 2px solid #ea2427;
      }
    }
  }

  &Header {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    // grid-template-rows: repeat(auto-fill, 296px);
    // grid-template-rows: 200px 200px 200px;
    // grid-template-rows: repeat(auto, minmax(296px, 1fr));
    column-gap: 3%;
    row-gap: 72px;
    padding-bottom: 80px;

    .Campaigns {
      width: 100%;
      grid-column: 1 / 4;

      &Items {
        background-color: var(--campaigns-item);
        padding-inline: 16px;
        border-radius: 24px;
        // height: 296px;
        height: 90%;

        &Item {
          position: relative;
          transform: translateY(-40px);

          .CampaignsImg {
            position: relative;
            display: inline-block;
            width: 100%;
            // height: 100%;
            height: 320px;
            object-fit: cover;
            border-radius: 24px;
          }

          &Background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(
              180deg,
              rgba(0, 0, 0, 0) 0%,
              #000000 100%
            );
            opacity: 0.43;
            border-radius: 24px;
          }

          &Button {
            position: absolute;
            top: 34px;
            left: 32px;

            button {
              background: var(--red-main);
              color: var(--white);
              padding: 8px 12px;
              border-radius: 10px;
              border: unset;
              font-weight: 700;
              font-size: 10px;
              line-height: 15px;
            }
          }

          .CampaignsCaptions {
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 32px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #ffffff;

            &Content {
              width: 100%;

              &Title {
                display: flex;
                gap: 24px;
                margin-bottom: 24px;

                &Day {
                  display: flex;
                  align-items: baseline;
                  gap: 8px;

                  span:nth-child(1) {
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 23px;
                    color: var(--white);
                  }

                  span:nth-child(2) {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 23px;
                    color: var(--white);
                  }
                }

                &Hour {
                  display: flex;
                  align-items: baseline;
                  gap: 8px;

                  span:nth-child(1) {
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 23px;
                    color: var(--white);
                  }

                  span:nth-child(2) {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 23px;
                    color: var(--white);
                  }
                }

                &Minutes {
                  display: flex;
                  align-items: baseline;
                  gap: 8px;

                  span:nth-child(1) {
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 23px;
                    color: var(--white);
                  }

                  span:nth-child(2) {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 23px;
                    color: var(--white);
                  }
                }
              }

              &Body {
                font-weight: 700;
                font-size: 20px;
                line-height: 23px;
                color: var(--white);
              }
            }
          }
        }
      }
    }
  }
}

.SectionFour {
  width: 100%;
  background: var(--white-to-black);
  padding: 50px;
}

.SectionFive {
  padding: 100px 48px 50px 48px;
  width: 100%;
  background: var(--f-to-0);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(560px, 1fr));
  column-gap: 3%;

  &Left {
    height: 310px;
    background: var(--f-to-0);
    border: 1px solid var(--info-card-border);
    box-sizing: border-box;
    border-radius: 24px;
    padding: 32px;
    position: relative;
    margin-bottom: 50px;

    &Title {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: var(--text-primary);
      margin-bottom: 8px;
    }

    &Text {
      max-width: 262px;
      font-weight: 500;
      font-size: 36px;
      line-height: 40px;
      text-transform: uppercase;
      color: var(--text-primary);
      position: absolute;
      max-width: 262px;
      z-index: 1;
    }

    &Button {
      height: 100%;
      display: flex;

      a {
        display: inline-block;
        padding: 12px 24px;
        background: #333333;
        color: #ffffff;
        border-radius: 12px;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        margin-top: auto;
      }
    }

    &Img {
      width: 225px;
      position: absolute;
      top: -26px;
      right: 26px;

      img {
        width: 100%;
      }
    }
  }

  &Right {
    height: 100%;
    background: var(--info-card-second-bg);
    box-sizing: border-box;
    border-radius: 24px;
    padding: 32px;
    position: relative;
    margin-bottom: 50px;

    &Title {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: var(--text-primary);
    }

    &Text {
      max-width: 262px;
      font-weight: 500;
      font-size: 36px;
      line-height: 40px;
      text-transform: uppercase;
      color: var(--text-primary);
      position: absolute;
      max-width: 262px;
      z-index: 1;
    }

    &Button {
      height: 100%;
      display: flex;

      a {
        display: inline-block;
        padding: 12px 24px;
        background: var(--info-card-details-btn);
        color: var(--text-primary);
        border-radius: 12px;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        margin-top: auto;
      }
    }

    &Img {
      width: 170px;
      position: absolute;
      top: -26px;
      right: 26px;

      img {
        width: 100%;
      }
    }
  }
}

@media (min-width: 1440px) {
  .CampaignsContainer {
    &InnerHeader,
    &Header {
      max-width: 1340px;
      margin-inline: auto;
      padding-inline: 0;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .CampaignsContainer {
    padding-inline: 20px;

    &Header {
      padding-bottom: 0;
      display: flex;
      flex-wrap: wrap;

      .Campaigns {
        flex-grow: 1;
      }
    }
  }

  .SectionFive {
    padding-inline: 20px;
    padding-block: 50px 20px;
  }
}

@media only screen and (max-width: 942px) {
  .CampaignsContainer {
    &Header {
      grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
      column-gap: 15%;

      .Campaigns {
        grid-column: 1 / 3;
      }

      .CampaignsCaptions {
        &Content {
          &Title {
            gap: 20px;
            margin-bottom: 14px;

            &Day {
              span:nth-child(1) {
                font-weight: 700;
                font-size: 22px;
              }

              span:nth-child(2) {
                font-weight: 400;
                font-size: 14px;
              }
            }

            &Hour {
              span:nth-child(1) {
                font-weight: 700;
                font-size: 22px;
              }

              span:nth-child(2) {
                font-weight: 400;
                font-size: 14px;
              }
            }

            &Minutes {
              span:nth-child(1) {
                font-weight: 700;
                font-size: 22px;
              }

              span:nth-child(2) {
                font-weight: 400;
                font-size: 14px;
              }
            }
          }

          &Body {
            span {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .CampaignsContainer {
    &Header {
      column-gap: 5%;
    }
  }
}

@media only screen and (max-width: 630px) {
  .CampaignsContainer {
    &InnerHeader {
      margin-bottom: 60px;

      &Filter {
        ul {
          li {
            button {
              font-size: 12px;
            }
          }
        }
      }
    }

    &Header {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 42px;

      .CampaignsCaptions {
        &Content {
          &Body {
            span {
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  .SectionFive {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    &Left {
      height: 100%;
      margin-bottom: 50px;
      width: 100%;
      flex-grow: 1;
      padding: 24px;

      &Title {
        font-size: 10px;
        line-height: 18px;
      }

      &Text {
        font-size: 24px;
      }

      &Button {
        padding-top: 100px;

        a {
          font-size: 14px;
        }
      }

      &Img {
        width: 150px;
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  .CampaignsContainer {
    &Header {
      .Campaigns {
        &Items {
          &Item {
            .CampaignsCaptions {
              padding: 14px;

              &Content {
                &Title {
                  gap: 14px;

                  &Day {
                    span:nth-child(1) {
                      font-weight: 700;
                      font-size: 16px;
                    }

                    span:nth-child(2) {
                      font-weight: 400;
                      font-size: 12px;
                    }
                  }

                  &Hour {
                    span:nth-child(1) {
                      font-weight: 700;
                      font-size: 16px;
                    }

                    span:nth-child(2) {
                      font-weight: 400;
                      font-size: 12px;
                    }
                  }

                  &Minutes {
                    span:nth-child(1) {
                      font-weight: 700;
                      font-size: 16px;
                    }

                    span:nth-child(2) {
                      font-weight: 400;
                      font-size: 12px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .SectionFive {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    &Left {
      padding: 24px;
      margin-bottom: 40px;

      &Title {
        font-size: 8px;
        line-height: 12px;
      }

      &Text {
        width: 40%;
        font-size: 18px;
        line-height: 23px;
      }

      &Button {
        padding-top: 60px;
      }

      &Img {
        width: 100px;
        top: -16px;
        right: 16px;
      }
    }
  }
}

@media only screen and (max-width: 375px) {
  .CampaignsContainer {
    &InnerHeader {
      margin-bottom: 60px;

      &Filter {
        ul {
          li {
            button {
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  .CampaignsContainer {
    &InnerHeader {
      margin-bottom: 60px;

      &Filter {
        ul {
          li {
            button {
              font-size: 10px;
            }
          }
        }
      }
    }
  }

  .SectionFive {
    &Left {
      padding: 18px;
      margin-bottom: 35px;

      &Title {
        font-size: 6px;
        line-height: 12px;
      }

      &Text {
        width: 30%;
        font-size: 14px;
        line-height: 23px;
      }

      &Button {
        padding-top: 60px;

        a {
          padding: 6px 14px;
          font-size: 10px;
        }
      }

      &Img {
        width: 80px !important;
        top: -14px;
        right: 14px;
      }
    }
  }
}
