.CampaignsContainer {
  padding-top: 40px;
  background: var(--campaigns-bg);

  &Header {
    width: 100%;
    padding-inline: 48px;
    display: flex;
    // column-gap: 2%;
    // flex-wrap: wrap;
    // row-gap: 72px;
    gap: 35px;
    // margin-bottom: 50px;

    &Left {
      width: calc(100% - 340px);
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      .CampaignsNews {
        position: relative;
        display: flex;
        flex-direction: column;

        .CampaignsImg {
          position: relative;
          display: inline-block;
          width: 100%;
          height: 320px;
          object-fit: cover;
          border-radius: 24px;
        }

        &Button {
          position: absolute;
          top: 34px;
          left: 32px;

          button {
            background: var(--red-main);
            color: var(--white);
            padding: 8px 12px;
            border-radius: 10px;
            border: unset;
            font-weight: 700;
            font-size: 10px;
            line-height: 15px;
          }
        }
      }

      .CampaignsInformation {
        margin-top: 50px;

        &LastDate {
          font-weight: 500;
          font-size: 12px;
          line-height: 18px;
          padding-left: 12px;
          border-left: 2px solid var(--red-main);
          color: var(--text-primary);
        }

        &Title {
          font-weight: 700;
          font-size: 32px;
          line-height: 38px;
          padding-block: 14px 24px;
          color: var(--text-primary);
        }

        &Body {
          font-weight: 400;
          font-size: 14px;
          line-height: 33px;
          color: var(--text-primary);
          padding-bottom: 48px;
        }

        &LastTime {
          display: flex;
          gap: 24px;

          &Day {
            display: flex;
            gap: 8px;

            span:nth-child(1) {
              font-weight: 700;
              font-size: 24px;
              line-height: 23px;
              color: var(--red-main);
            }

            span:nth-child(2) {
              font-weight: 400;
              font-size: 14px;
              line-height: 23px;
              color: var(--text-primary);
            }
          }

          &Hour {
            display: flex;
            gap: 8px;

            span:nth-child(1) {
              font-weight: 700;
              font-size: 24px;
              line-height: 23px;
              color: var(--red-main);
            }

            span:nth-child(2) {
              font-weight: 400;
              font-size: 14px;
              line-height: 23px;
              color: var(--text-primary);
            }
          }

          &Minutes {
            display: flex;
            gap: 8px;

            span:nth-child(1) {
              font-weight: 700;
              font-size: 24px;
              line-height: 23px;
              color: var(--red-main);
            }

            span:nth-child(2) {
              font-weight: 400;
              font-size: 14px;
              line-height: 23px;
              color: var(--text-primary);
            }
          }
        }
      }
    }

    &Right {
      margin-top: 40px;
      width: 315px;
      display: flex;
      flex-direction: column;
      row-gap: 72px;
    }
  }

  &Title {
    padding-block: 50px 0px;
    padding-inline: 48px;
    background: var(--products-page-inner);

    &Top {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.26em;
      color: var(--red-main);
    }

    &Bottom {
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
      color: var(--text-primary);
    }
  }

  &Body {
    background: var(--products-page-inner);

    &Wrapper {
      display: flex;
      column-gap: 2%;
      padding-block: 30px 100px;
      padding-inline: 48px;
    }
    &Sidebar {
      background-color: var(--campaigns-inner-page-sidebar-bg);
      box-shadow: 0px 16px 23px rgba(0, 0, 0, 0.01);
      border-radius: 24px;
      flex-shrink: 0;

      &Form {
        padding: 24px;

        .PriceFilter {
          margin-bottom: 48px;

          &Title {
            font-weight: 500;
            font-size: 14px;
            margin-bottom: 16px;
            color: var(--text-primary);
          }

          &Content {
            &Input {
              display: flex;
              gap: 16px;

              input:nth-child(1) {
                width: 100%;
                padding: 12px 16px;
                background-color: var(--searchbar-bg);
                color: var(--text-primary);
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
                border: unset;
                border-radius: 12px;
              }

              input:nth-child(2) {
                width: 100%;
                padding: 12px 16px;
                background-color: var(--searchbar-bg);
                color: var(--text-primary);
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
                border: unset;
                border-radius: 12px;
              }
            }
          }
        }

        .ProductsSidebarBrends {
          margin-bottom: 48px;

          &Title {
            font-weight: 500;
            font-size: 14px;
            margin-bottom: 16px;
            color: var(--text-primary);
          }

          .Search {
            margin-bottom: 24px;
          }

          &Checkbox {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            padding-block: 5px;
            color: var(--text-primary);

            span {
              font-size: 12px;
            }
          }

          button {
            border: none;
            color: blue;
            font-weight: 500;
            background-color: inherit;
          }

          &SecondGroup {
            transition: all 0.3s ease-in-out;
            max-height: 0;
            overflow: hidden;
            opacity: 0;
            // padding: 30px;

            &Show {
              max-height: 200px;
              transition: all 0.3s ease-in-out;
              opacity: 1;
              color: var(--text-primary);
            }
          }
        }
      }
    }

    &Products {
      width: 100%;

      .ProductsInner {
        width: 100%;
        // padding: 40px 36px 100px 36px;
        overflow: hidden;

        &Header {
          &Title {
            &Desktop {
              font-weight: 600;
              font-size: 24px;
              line-height: 36px;
              color: var(--text-primary);
            }

            &Mobile {
              display: none;
              padding-block: 24px 16px;

              .BackButton {
                cursor: pointer;
                width: fit-content;

                a {
                  padding: 12px;
                  background: var(--sidebar-bg-secondary);
                  display: flex;
                  border-radius: 12px;

                  svg {
                    color: var(--text-primary);
                  }
                }
              }

              .Text {
                margin-left: 12px;

                p:nth-child(1) {
                  font-weight: 700;
                  font-size: 16px;
                  line-height: 106.2%;
                  color: var(--text-primary);
                  margin-bottom: 4px;
                }

                p:nth-child(2) {
                  font-style: normal;
                  font-weight: 400;
                  font-size: 12px;
                  line-height: 18px;
                  color: var(--text-secondary);
                }
              }
            }
          }

          &MobileFilter {
            display: none;
            margin-bottom: 24px;

            a {
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 6px 16px;
              border-radius: 12px;
              background: var(--info-card-second-bg);
              margin-right: 6px;
              font-weight: 500;
              font-size: 12px;
              line-height: 15px;
              color: var(--text-primary);

              &:last-child {
                margin-right: unset;
              }
            }

            .ActiveFilterBtn {
              background: var(--text-primary);
              color: var(--f-to-0);
            }
          }

          &Filter {
            display: flex;
            justify-content: space-between;

            .FilterLeft {
              &Desktop {
                display: flex;

                li {
                  margin-right: 24px;

                  button {
                    border: unset;
                    background: unset;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 21px;
                    color: var(--text-primary);
                    opacity: 0.5;
                    padding-bottom: 6px;
                  }
                }

                .ActiveLink {
                  opacity: unset;
                  border-bottom: 2px solid #ea2427;
                }
              }

              &Mobile {
                display: none;

                .FilterButton {
                  background: var(--button-product);
                  border-radius: 16px;
                  padding: 10px 52px;
                  text-transform: unset;
                  margin-bottom: 24px;

                  span:nth-child(1) {
                    svg {
                      color: var(--red-main);
                    }
                  }

                  span:nth-child(2) {
                    color: var(--red-main);
                    margin-left: 8px;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 21px;
                    font-family: 'Poppins';
                  }
                }
              }
            }
          }
        }

        &Body {
          display: flex;
          flex-direction: column;

          &Grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
            grid-gap: 32px;
            margin-bottom: 40px;
            overflow: hidden;
            transition: 1s cubic-bezier(0.42, 0, 0.14, 1.26);
            transform: translateY(50%);
            visibility: hidden;
            opacity: 0.1;
            order: 2;
            height: 0;
          }

          .GridActive {
            transform: translateY(0%);
            visibility: unset;
            opacity: unset;
            order: 1;
            height: auto;
          }

          &List {
            display: grid;
            grid-gap: 32px;
            grid-template-columns: repeat(auto-fill, minmax(510px, 1fr));
            transition: 1s cubic-bezier(0.42, 0, 0.14, 1.26);
            transform: translateY(50%);
            visibility: hidden;
            opacity: 0.1;
            order: 2;
            height: 0;
          }

          .ListActive {
            transform: translateY(0%);
            visibility: unset;
            opacity: unset;
            order: 1;
            height: auto;
          }
        }
      }
    }
  }
}

.SectionFive {
  padding: 100px 0px;
  width: 100%;
  background: var(--f-to-0);

  .container {
    margin: 0;
    padding: 0;
  }

  &Left {
    width: 100%;
    height: 310px;
    background: var(--f-to-0);
    border: 1px solid var(--info-card-border);
    box-sizing: border-box;
    border-radius: 24px;
    padding: 32px;
    position: relative;

    &Title {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: var(--text-primary);
    }

    &Text {
      max-width: 262px;
      font-weight: 500;
      font-size: 36px;
      line-height: 40px;
      text-transform: uppercase;
      color: var(--text-primary);
      position: absolute;
      max-width: 262px;
      z-index: 1;
    }

    &Button {
      height: 100%;
      display: flex;

      a {
        display: inline-block;
        padding: 12px 24px;
        background: #333333;
        color: #ffffff;
        border-radius: 12px;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        margin-top: auto;
      }
    }

    &Img {
      width: 225px;
      position: absolute;
      top: -26px;
      right: 26px;

      img {
        width: 100%;
      }
    }
  }

  &Right {
    width: 100%;
    height: 310px;
    background: var(--info-card-second-bg);
    box-sizing: border-box;
    border-radius: 24px;
    padding: 32px;
    position: relative;

    &Title {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: var(--text-primary);
    }

    &Text {
      max-width: 262px;
      font-weight: 500;
      font-size: 36px;
      line-height: 40px;
      text-transform: uppercase;
      color: var(--text-primary);
      position: absolute;
      max-width: 262px;
      z-index: 1;
    }

    &Button {
      height: 100%;
      display: flex;

      a {
        display: inline-block;
        padding: 12px 24px;
        background: var(--info-card-details-btn);
        color: var(--text-primary);
        border-radius: 12px;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        margin-top: auto;
      }
    }

    &Img {
      width: 170px;
      position: absolute;
      top: -26px;
      right: 26px;

      img {
        width: 100%;
      }
    }
  }
}

@media only screen and (min-width: 1440px) {
  .CampaignsContainer {
    &Header, &BodyWrapper {
      max-width: 1340px;
      margin-inline: auto;
      padding-inline: 0;
    }
    &Title {
      &Top,
      &Bottom {
        max-width: 1340px;
        margin-inline: auto;
        padding-inline: 0;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .CampaignsContainer {
    .CampaignsProductsContainer {
      &Sidebar {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .CampaignsContainer {
    &Header {
      padding-inline: 20px;
      margin-bottom: 50px;

      &Right {
        display: none;
      }

      .CampaignsInformation {
        &Title {
          font-size: 26px;
        }

        &Body {
          font-size: 12px;
          padding-bottom: 20px;
        }

        &LastTime {
          gap: 20px;

          &Day {
            span:nth-child(1) {
              font-size: 20px;
            }

            span:nth-child(2) {
              font-size: 12px;
            }
          }

          &Hour {
            span:nth-child(1) {
              font-size: 20px;
            }

            span:nth-child(2) {
              font-size: 12px;
            }
          }

          &Minutes {
            span:nth-child(1) {
              font-size: 20px;
            }

            span:nth-child(2) {
              font-size: 12px;
            }
          }
        }
      }
    }

    &Title {
      padding-inline: 20px;
    }

    &Body {
      &Wrapper {
        padding-inline: 20px;
      }

      &Sidebar {
        display: none;
      }

      &Products {
        .ProductsInner {
          &Header {
            &Title {
              &Mobile {
                display: flex;
              }
            }

            &MobileFilter {
              display: flex;
            }

            &Filter {
              .FilterLeft {
                &Desktop {
                  display: none;
                }

                &Mobile {
                  display: block;
                }
              }

              .FilterRight {
                &Buttons {
                  button {
                    padding: 15px 30px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
