.UserCard {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  background-color: var(--navbar-bg-main);
  padding: 16px;
  border-radius: 24px;

  &Img {
    img {
      height: 155px;
      width: 155px;
      object-fit: cover;
      border-radius: 24px;
    }
  }

  &Others {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 155px;
    width: 100%;
    position: relative;

    .UserCardReviews {
      font-size: 10px;

      svg {
        height: 15px;
        width: 15px;
        margin-bottom: 4px;
      }

      &Star {
        margin-right: 14px;

        &Data {
          margin-left: 6px;
        }
      }

      &Comments {
        &Data {
          margin-left: 6px;
        }
      }
    }

    .UserCardTitle {
      font-size: 14px;
    }

    .UserCardPrices {
      &Cash {
        font-weight: 700;
        font-size: 20px;

        svg {
          width: 13px;
          padding-bottom: 2px;
        }
      }

      &Divider {
        padding-inline: 16px;
        position: relative;
        font-size: 20px;

        &::before {
          content: '';
          height: 100%;
          position: absolute;
          left: 50%;
          top: 0;
          //   border: 1px solid black;
          border: 1px solid var(--text-primary);
          opacity: 0.2;
        }
      }

      &Monthly {

        svg {
          width: 13px;
          padding-bottom: 2px;
        }

        & span:first-child {
          font-weight: 700;
          font-size: 20px;
        }

        & span:last-child {
          padding-left: 5px;
          color: var(--text-primary);
          opacity: 0.5;
          font-size: 10px;
          font-weight: 700;
        }
      }
    }

    .UserCardButtons {
      width: 100%;
      display: flex;
      gap: 16px;

      button {
        width: calc(50% - 8px);
        border-radius: 12px;
        border-radius: 12px;
        border: 0;
        padding: 10px 0;

        svg {
          height: 15px;
          width: 15px;
        }

        &:first-child {
          background-color: #fff;
          transition: 0.3s;

          &:hover {
            svg {
              color: var(--black);
              transform: scale(1.1);
            }
          }
        }

        &:last-child {
          background-color: var(--user-button);
          transition: 0.3s;

          &:hover {
            background: var(--red-main);

            svg {
              color: var(--white);
              transform: scale(1.1);
            }
          }

          svg {
            color: var(--text-primary);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1300px) {
  .UserCard {
    width: 100%;

    &Others {
      .UserCardReviews {
        font-size: 10px;

        svg {
          height: 12px;
          width: 12px;
        }

        &Star {
          margin-right: 14px;

          &Data {
            margin-left: 6px;
          }
        }

        &Comments {
          &Data {
            margin-left: 6px;
          }
        }
      }

      .UserCardTitle {
        font-size: 12px;
      }

      .UserCardPrices {
        &Cash {
          font-size: 16px;
        }

        &Divider {
          padding-inline: 8px;
          font-size: 12px;
        }

        &Monthly {
          & span:first-child {
            font-size: 16px;
          }

          & span:last-child {
            font-size: 8px;
          }
        }
      }
    }
  }
}
