.Header {
  display: none;
}

.Footer {
  display: none;
}

.AuthLayout {
  position: relative;

  .Header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 15;
  }

  main {
    // margin-top: 108px;

    // background: var(--white-to-black);
  }

  .Footer {
    // display: none;
  }
}

@media (max-width: 1024px) {
  .Header {
    display: block;
  }

  .Footer {
    display: block;
  }

  .AuthLayout {
    main {
      margin-top: 92px;
    }
  }
}

@media (max-width: 768px) {
  .AuthLayout {
    main {
      margin-top: 76px;
    }
  }
}