.NewsCardsContainer {
  padding-inline: 48px;
  padding-block: 56px;
  background: var(--inner-news-page-cards-bg);

  &Title {
    padding-bottom: 90px;

    &Top {
      letter-spacing: 1px;
      color: #ea2427;
      margin-left: 10px;
    }

    h1 {
      margin-left: 10px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      color: var(--text-primary);
      line-height: 36px;
    }
  }

  &Items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2%;
    row-gap: 72px;

    &Top {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.26em;
      color: var(--red-main);
    }

    &Bottom {
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
      color: var(--text-primary);
    }
  }
}

.NewsCard {
  background: var(--inner-news-card-bg);
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 24px;
  width: 23%;

  .NewsCardImg {
    position: relative;
  }

  .IconCard {
    color: #ea2427;
    margin-left: 6px;
  }

  .NewsCardText {
    background: #ea2427;
    width: max-content;
    padding: 6px 12px;
    border-radius: 8px;
    top: -48px;
    left: 10px;
    color: white;
    position: absolute;
    font-weight: 700;
    font-size: 10px;
    line-height: 15px;
  }

  &:hover {
    box-shadow: 0px 40px 52px rgba(0, 0, 0, 0.09);
  }

  img {
    position: relative;
    width: 100%;
    height: 196px;
    margin-top: -60px;
  }

  h4 {
    margin-top: 24px;
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--text-primary);
  }

  p.NewsCardContent {
    margin-top: 12px;
    opacity: 70%;
    font-size: 13px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--text-primary);
  }

  .NewsCardEnd {
    display: flex;
    margin-top: 27px;
    justify-content: space-between;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: var(--text-primary);
    border-left: 2px solid var(--red-main);

    p.DateText {
      position: relative;
      margin-left: 8px;
    }
  }
}

@media only screen and (min-width: 1440px) {
  .NewsCardsContainer {
    &Title, &Items {
      margin-inline: auto;
      padding-inline: 0;
      width: 1340px;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .NewsCard {
    &Img {
      img {
        height: 150px;
      }
    }

    .NewsCardText {
      padding: 4px 8px;
      border-radius: 8px;
      font-size: 8px;
    }

    h4 {
      margin-top: 12px;
      font-size: 12px;
      line-height: 18px;
    }

    p.NewsCardContent {
      margin-top: 5px;
      font-size: 10px;
      line-height: 18px;
    }

    .NewsCardEnd {
      margin-top: 14px;
      font-size: 10px;
      line-height: 10px;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .NewsCardsContainer {
    padding-inline: 20px;
    padding-block: 40px 40px;
  }
}

@media only screen and (max-width: 942px) {
  .NewsCardsContainer {
    &Title {
      padding-bottom: 60px;

      &Top {
        font-size: 12px;
      }

      h1 {
        font-size: 20px;
      }
    }
  }

  .NewsCard {
    width: 30%;
  }
}

@media only screen and (max-width: 768px) {
  .NewsCardsContainer {
    &Title {
      &Top {
        font-size: 10px;
      }

      h1 {
        font-size: 16px;
      }
    }
  }

  .NewsCard {
    width: 40%;
  }
}

@media only screen and (max-width: 630px) {
  .NewsCardsContainer {
    &Title {
      padding-bottom: 70px;
      padding-left: 0px;

      &Top {
        margin-left: 0px;
      }

      h1 {
        margin-left: 0px;
      }
    }
  }

  .NewsCard {
    width: 48%;
    padding: 10px;
    border-radius: 14px;

    img {
      border-radius: 14px;
    }

    h4 {
      margin-top: 10px;
      font-size: 10px;
      line-height: 16px;
    }

    p.NewsCardContent {
      margin-top: 2px;
      font-size: 8px;
      line-height: 16px;
    }

    .NewsCardEnd {
      margin-top: 10px;
      font-size: 8px;
      line-height: 8px;
    }
  }
}

@media only screen and (max-width: 475px) {
  .NewsCard {
    &Img {
      img {
        height: 120px;
      }
    }

    .NewsCardText {
      top: -54px;
      left: 8px;
      line-height: 12px;
      padding: 2px 6px;
      border-radius: 6px;
      font-size: 6px;
    }

    h4 {
      margin-top: 10px;
      font-size: 7px;
      line-height: 12px;
    }

    p.NewsCardContent {
      margin-top: 2px;
      font-size: 7px;
      line-height: 12px;
    }

    .NewsCardEnd {
      margin-top: 6px;
      font-size: 7px;
    }
  }
}

@media only screen and (max-width: 400px) {
  .NewsCard {
    &Img {
      img {
        height: 100px;
      }
    }
  }
}

@media only screen and (max-width: 350px) {
  .NewsCardsContainer {
    &Items {
      justify-content: center;
    }
  }

  .NewsCard {
    width: 70%;
  }
}
