.SearchBar {
  display: flex;
  align-items: center;
  background-color: var(--navbar-bg-main);
  // width: 325px;
  border-radius: 12px;
  overflow: hidden;
  height: 38px;

  &Button {
    border: none;
    background-color: inherit;
    padding: 6px 18px;

    &Icon {
      font-size: 18px;
      color: var(--text-primary);
    }
  }
  &Input {
    border: none;
    outline: none;
    font-size: 14px;
    background-color: inherit;
    width: 100%;
    margin-right: 18px;
    color: var(--text-primary);
  }
}
