.Product {
  border: 1px solid black;
  position: relative;
  width: 100%;
  height: fit-content;
  border-radius: 16px;
  border: 1px solid var(--card-border);
  filter: drop-shadow(0px 16px 23px rgba(0, 0, 0, 0.01));
  border-radius: 16px;
  overflow: hidden;

  &Img {
    position: relative;
    width: 100%;
    height: 292px;

    img {
      width: 100%;
      height: 100%;
    }

    .MoreOption {
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      .CardMenu {
        width: 100%;
        height: 292px;
        background: #f5f5f5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        a {
          border-radius: 50%;
          background: #ffffff;
          overflow: hidden;
          width: 40px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 10px;
        }

        .DetailsQuality {
          background: #333333;

          svg {
            width: 22px;
            height: 22px;
          }
        }

        .Birkart {
          img {
            width: 100%;
          }
        }

        .Gift {
          svg {
            width: 27px;
            height: 27px;
          }
        }
      }
    }

    .Discount {
      position: absolute;
      top: 12px;
      left: 12px;

      span {
        padding: 8px 12px;
        background: #ea2427;
        color: #ffffff;
        border-radius: 25px;
        display: block;
        font-weight: 700;
        font-size: 10px;
        line-height: 15px;
      }
    }

    .OptionButton {
      z-index: 2;
      width: fit-content;
      position: absolute;
      top: 12px;
      right: 12px;

      button {
        background: #ededed;
        border: none;
        border-radius: 50%;
        width: 31px;
        height: 31px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .Close {
          width: 10px;
        }

        &:hover {
          background: #dbdbdb;
        }
      }
    }

    .Buttons {
      position: absolute;
      padding: 12px;
      bottom: 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      // gap: 5px;
      .Comments_Favoutite {
        display: flex;
        gap: 5px;
        .Comments {
          button {
            border: unset;
            background: #ffffff;
            border-radius: 32px;
            padding: 5px 13px;
            box-shadow: 0px 9px 25px rgba(0, 0, 0, 0.09);

            span {
              font-weight: 500;
              font-size: 12px;
              line-height: 18px;
            }
          }
        }

        .FavouriteButton {
          button {
            border: none;
            background: #ffffff;
            box-shadow: 0px 9px 25px rgba(0, 0, 0, 0.09);
            border-radius: 32px;
            padding: 5px 12px;

            span {
              font-weight: 500;
              font-size: 12px;
              line-height: 18px;
            }
          }
        }
      }

      .ComparisorButton {
        button {
          border: unset;
          background: #ffffff;
          padding: 5px 13px;
          box-shadow: 0px 9px 25px rgba(0, 0, 0, 0.09);
          border-radius: 32px;

          svg {
            width: 18px;
            height: 18px;
          }
        }
      }
    }
  }

  &Title {
    padding: 0 14px;
    padding-top: 12px;

    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: var(--text-primary);
    }
  }

  &Price {
    padding: 16px 10px 24px;
    display: flex;

    &Left {
      p:nth-child(1) {
        font-weight: 400;
        font-size: 10px;
        line-height: 15px;
        text-decoration-line: line-through;
        color: #ea2427;

        svg {
          height: 8px;
          width: 8px;
          display: inline-block;
          margin-left: 5px;
        }
      }

      p:nth-child(2) {
        font-weight: 700;
        font-size: 19px;
        line-height: 109.4%;
        color: var(--text-primary);

        svg {
          // height: 15px;
          width: 11px;
          // display: inline-block;
          margin-left: 5px;
        }
      }
    }

    &Right {
      display: flex;
      align-items: flex-end;

      p {
        font-weight: 700;
        font-size: 20px;
        line-height: 109.4%;
        color: var(--text-primary);
        display: flex;

        svg {
          // height: 15px;
          width: 15px;
          display: inline-block;
          margin: 0 3px 0 7px;
        }

        span {
          color: gray;
          font-size: 10px;
        }
      }

      &::before {
        content: '';
        height: 37px;
        opacity: 0.1;
        border: 1px solid var(--card-breakline);
        margin: 0 16px;
      }
    }
  }

  &Buttons {
    display: flex;
    background: #ed96a4;

    &AddToCartBtn {
      width: 50%;
      border: unset;
      padding: 10px 0;
      transition: 0.3s;
      background: #ed96a4;

      svg {
        width: 20px;
        height: 20px;
        color: #ffffff;

        &:hover {
          transform: scale(1.1);
        }
      }

      &:hover {
        background: var(--red-main);
      }
    }

    &AddToFavsBtn {
      width: 50%;
      border: unset;
      padding: 10px 0;
      transition: 0.3s;
      background: var(--gray);
      transition: 0.3s;

      svg {
        width: 20px;
        height: 20px;
        color: var(--black-to-white);
      }

      &:hover {
        background: var(--red-main);

        svg {
          transform: scale(1.1);
          color: #fff;
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .Product {
    &Img {
      .Comments {
        button {
          padding: 5px 12px;

          svg {
            font-size: 12px;
          }

          span {
            font-size: 10px;
          }
        }
      }

      .FavouriteButton {
        button {
          padding: 5px 12px;

          svg {
            font-size: 12px;
          }

          span {
            font-size: 10px;
          }
        }
      }

      .ComparisorButton {
        button {
          padding: 5px 12px;

          svg {
            font-size: 12px;
          }
        }
      }
    }

    &Price {
      &Left {
        p:nth-child(1) {
          font-size: 10px;
        }

        p:nth-child(2) {
          font-size: 18px;
        }
      }

      &Right {
        p {
          font-size: 18px;

          span {
            font-size: 10px;
          }
        }

        &::before {
          content: '';
          height: 24px;
          opacity: 0.1;
          border: 1px solid var(--card-breakline);
          margin: 0 10px;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .Product {
    &Img {
      height: 210px;

      .Discount {
        span {
          padding: 6px 8px;
          border-radius: 21px;
          font-size: 8px;
          line-height: 12px;
        }
      }

      .Buttons {
        .Comments {
          button {
            border-radius: 25px;
            padding: 0px 8px;

            span {
              font-size: 8px;
              line-height: 18px;
            }
          }
        }

        .FavouriteButton {
          button {
            border-radius: 25px;
            padding: 0px 8px;

            span {
              font-size: 8px;
              line-height: 18px;
            }
          }
        }

        .ComparisorButton {
          display: none;

          button {
            border-radius: 25px;
            padding: 0px 8px;

            svg {
              width: 12px;
              height: 12px;
            }
          }
        }
      }
    }

    &Title {
      padding-inline: 10px;

      p {
        font-size: 8px;
        line-height: 12px;
      }
    }

    &Price {
      padding: 10px 10px;

      &Left {
        p:nth-child(1) {
          font-size: 8px;
          line-height: 10px;
        }

        p:nth-child(2) {
          font-size: 12px;
        }
      }

      &Right {
        p {
          font-size: 8px;

          span {
            font-size: 8px;
            color: #333333;
          }
        }

        &::before {
          height: 18px;
          margin: 0 8px;
        }
      }
    }
  }
}

@media (max-width: 360px) {
  .Product {
    &Title {
      padding-inline: 10px;

      p {
        font-size: 14px;
        line-height: 15px;
      }
    }

    &Price {
      padding: 12px 10px;

      &Left {
        p:nth-child(1) {
          font-size: 8px;
          line-height: 12px;
        }

        p:nth-child(2) {
          font-size: 16px;
        }
      }

      &Right {
        p {
          font-size: 16px;

          span {
            font-size: 8px;
            color: #333333;
          }
        }

        &::before {
          height: 18px;
          margin: 0 10px;
        }
      }
    }
  }
}

@media (max-width: 320px) {
  .Product {
    &Title {
      p {
        font-size: 12px;
      }
    }

    &Price {
      padding: 12px 10px;

      &Left {
        p:nth-child(2) {
          font-size: 14px;
        }
      }

      &Right {
        p {
          font-size: 14px;
        }
      }
    }
  }
}
