.ShopPage {
  margin-top: 36px;
  padding: 30px 48px;
  background: var(--bg-main);
  color: var(--text-primary);

  &Title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 14px;

    h5 {
      font-size: 24px;
      font-weight: 600;
      line-height: 36px;
      letter-spacing: 0em;
      text-align: left;
      margin-right: 12px;
    }

    a.Map {
      display: inline-block;
      padding: 10px 24px;
      border: none;
      border-radius: 16px;
      background: #333333;
      opacity: 100%;
      background: var(--navbar-bg-main);
      color: var(--text-primary);
      text-transform: capitalize;
      font-size: 14px;
      margin-right: 13px;

      svg {
        stroke: red !important;
        margin-right: 5px;
      }
    }
    .FormContent {
      display: flex;
      column-gap: 10px;
      row-gap: 20px;
    }
  }

  .LocationBox {
    width: 100%;
    background: var(--navbar-bg-main);
    color: var(--text-primary);
    border-radius: 12px;
    padding: 40px;
    margin-bottom: 20px;
    height: 100%;

    svg {
      width: 40px;
      height: 40px;
    }

    h1 {
      margin-top: 30px;
      margin-bottom: 30px;
      font-size: 36px;
      font-weight: 700;
      line-height: 21px;
      letter-spacing: 0em;
      text-align: left;
    }

    p {
      margin-top: 20px;
      font-size: 14px;
      font-weight: 700;
      line-height: 21px;
      letter-spacing: 0em;
      text-align: left;
    }

    span {
      opacity: 50%;
    }
  }
}

@media(min-width: 1440px) {
  .ShopPage {
    &Title, &Body {
      max-width: 1340px;
      margin-inline: auto;
      padding-inline: 0;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .ShopPage {
    h5 {
      font-size: 18px;
    }

    a.Map {
      padding-inline: 16px;
      font-size: 12px;
    }

    .LocationBox {
      padding: 40px;

      h1 {
        margin-bottom: 20px;
        font-size: 28px;
      }

      p {
        margin-top: 15px;
      }

      span {
        font-size: 14px;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .ShopPage {
    padding-inline: 20px;

    .LocationBox {
      padding: 20px;

      svg {
        width: 30px;
        height: 30px;
      }

      h1 {
        font-size: 22px;
      }

      span {
        font-size: 10px;
      }
    }
  }
}