.MapPage {
  margin-top: 36px 0;
  padding: 30px 48px;
  background: var(--bg-main);
  color: var(--text-primary);

  &Title {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 20px;

    h1 {
      margin-right: 12px;
      font-weight: 600;
      font-size: 24px;
    }

    .FormContent {
      display: flex;
    }

    .FormGroup {
      margin-right: 10px;
    }

    a.Map {
      padding: 10px 24px;
      border: none;
      border-radius: 16px;
      background: var(--navbar-bg-main);
      color: var(--text-primary);
      opacity: 100%;
      font-size: 14px;
      text-transform: inherit;
      margin-right: 13px;
    }

    svg {

      margin-right: 5px;
    }
  }
}

.MapEnd {
  background: var(--bg-main);
  width: 100% !important;
  height: 100px;
}

@media(min-width: 1440px) {
  .MyPage {
    &Wrapper {
      max-width: 1340px;
      margin-inline: auto;
      padding-inline: 0;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .MapPage {
    padding-inline: 20px;

    &Title {
      margin-bottom: 20px;

      h1 {
        font-size: 18px;
      }

      a.Map {
        padding-inline: 16px;
        font-size: 14px;
      }
    }
  }
}