.Layout {
  background-color: var(--bg-main);
  position: relative;

  .Header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 15;
  }

  .Section {
    margin: 132px 0 32px;

    &Content {
      display: flex;
      padding: 24px 48px 0 48px;
      gap: 32px;
      &Aside {
        height: fit-content;
        width: 305px;
        background: var(--user-sidebar-main);
        box-shadow: 0px 37px 52px rgba(0, 0, 0, 0.05);
        padding: 32px 24px;
        border-radius: 24px;

        &Top {
          display: flex;
          align-items: center;
          gap: 16px;
          color: var(--text-primary);

          &Icon {
            background-color: var(--navbar-bg-main);
            border-radius: 50px;
            height: 50px;
            width: 50px;

            display: flex;
            align-items: center;
            justify-content: center;
          }

          &Body {
            h2 {
              font-weight: 600;
              font-size: 18px;
              line-height: 27px;
            }

            span {
              font-size: 12px;
              opacity: 0.5;
              line-height: 18px;
            }
          }
        }

        &Separator {
          padding-block: 24px;
          position: relative;

          &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            border: 1px solid var(--text-primary);
            opacity: 0.2;
          }
        }

        &Body {
          &Item {
            margin-block: 8px;

            a {
              border-radius: 16px;
              color: var(--text-primary);
              padding: 10px 24px;
              width: 100%;
              display: flex;
              gap: 10px;
              font-size: 14px;

              span {
                svg {
                  width: 15px;
                  height: 15px;
                  color: var(--sidebar-icon-color);
                }
              }

              &:hover,
              &.activeLink {
                font-weight: 500;
                background-color: var(--user-sidebar-secondary);

                span {
                  svg {
                    color: var(--red-main);
                  }
                }
              }
            }

            &:last-child {
              a {
                svg {
                  color: var(--red-main);
                }

                span {
                  font-weight: 600;
                }
              }
            }
            button {
              border-radius: 16px;
              color: var(--text-primary);
              padding: 10px 24px;
              width: 100%;
              display: flex;
              gap: 10px;
              font-size: 14px;
              border: 0;
              background-color: transparent;

              span {
                svg {
                  color: var(--red-main);
                }
              }
              &:active {
                font-weight: 500;
                background-color: var(--user-sidebar-secondary);
              }
            }
          }
        }
      }

      &Main {
        background: var(--user-sidebar-main);
        box-shadow: 0px 37px 52px rgba(0, 0, 0, 0.05);
        border-radius: 24px;
        width: 100%;
        color: var(--text-primary);
        padding: 40px;
        // max-height: 1000px;
      }
    }

    &MainMobile {
      display: none;
    }
  }
}

@media (min-width: 1440px) {
  .Layout {
    .Section {
      &Content {
        width: 1340px;
        margin-inline: auto;
        padding-inline: 0;
      }
    }
  }
}

@media (max-width: 1200px) {
  .Layout {
    .Section {
      &Content {
        &Aside {
          display: none;
          width: 280px;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .Layout {
    .Section {
      margin-top: 92px;
      &Content {
        padding: 0 20px;
      }
    }
  }
}

@media (max-width: 768px) {
  .Layout {
    .Section {
      margin-top: 76px;
      &Content {
        padding: 0;
        &Main {
          padding: 20px;
          // padding: 0px;
          box-shadow: none;
          border-radius: 0px;
        }
      }
    }
  }
}
