.LatestContent {
  height: 100%;
  position: relative;

  .LatestHeader {
    font-weight: 600;
    font-size: 24px;
  }

  .LatestBody {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    grid-gap: 16px;
    margin-top: 20px;
    margin-bottom: 60px;

    &BoxMobile {
      display: none;
      width: 100%;

      &Title {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .TitleLeft {
          margin-right: 20px;

          p {
            color: var(--text-primary);
            font-weight: 700;
            font-size: 16px;
            line-height: 106.2%;
          }

          span {
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            color: #939393;
          }
        }
      }

      &Products {
        margin-top: 24px;

        &Container {
          padding: 0px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
          column-gap: 1%;

          &Item {
            width: 24%;
            max-width: 250px;
            margin-bottom: 24px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .LatestHeader {
    display: none;
  }

  .LatestContent {
    .LatestBody {
      display: flex;
      flex-wrap: wrap;

      &Box {
        display: none;
      }

      &BoxMobile {
        display: block;

        &Products {
          &Container {
            &Item {
              width: 32%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 660px) {
  .LatestContent {
    .LatestBody {
      &BoxMobile {
        &Products {
          &Container {
            &Item {
              width: 45%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .LatestContent {
    .LatestBody {
      &BoxMobile {
        &Products {
          &Container {
            gap: 1%;

            &Item {
              width: 42%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .LatestContent {
    .LatestBody {
      &BoxMobile {
        &Products {
          &Container {
            gap: 1%;

            &Item {
              width: 48%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 360px) {
  .LatestContent {
    .LatestBody {
      &BoxMobile {
        &Products {
          &Container {
            justify-content: center;

            &Item {
              width: 70%;
            }
          }
        }
      }
    }
  }
}