.BasketItemMobile {
  background-color: var(--sidebar-bg-main);
  padding: 16px;
  border-radius: 16px;
  color: var(--text-primary);
  width: 100%;
  display: flex;
  gap: 10%;

  .BasketItemLeft {
    height: 60px;
    width: 60px;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .BasketItemRight {
    width: calc(90% - 60px);
    &Title {
      width: 100%;
      font-size: 10px;
      opacity: 0.6;
      padding-bottom: 8px;
    }
    &Body {
      display: flex;
      width: 100%;
      justify-content: space-between;
      &Prices {
        width: 70%;
        display: flex;
        flex-wrap: wrap;

        .Discount {
          width: 100%;
          font-size: 10px;
          text-decoration-line: line-through;
          color: var(--red-main);
          svg {
            width: 8px;
          }
        }
        .PriceWrapper {
          .Price {
            font-weight: 700;
            font-size: 16px;
            svg {
              width: 11px;
            }
          }
          .Separator {
            display: inline-block;
            height: 100%;
            padding-inline: 10px;
            // background-color: red;
            position: relative;

            &:before {
              content: '';
              height: 100%;
              //   width: 100%;
              position: absolute;
              border-left: 3px solid var(--text-primary);
              opacity: 0.1;
              left: 50%;
              top: 0;
            }
          }
          .Monthly {
            font-weight: 700;
            font-size: 8px;
            svg {
              width: 7px;
            }
          }
        }
      }
      &Buttons {
        width: 80px;
        height: 36px;
        display: flex;
        align-self: flex-end;
        border-radius: 12px;
        overflow: hidden;
        input {
          min-width: 20px;
          font-weight: 400;
          font-size: 14px;
          background-color: var(--bg-main);
          color: var(--text-primary);
          border: 0;
        }
        .Button {
          background-color: var(--bg-main);
          color: var(--text-primary);
          border: 0;
          padding-inline: 10px;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .BasketItemMobile {
    .BasketItemLeft {
      img {
      }
    }
    .BasketItemRight {
      &Title {
      }
      &Body {
        &Prices {
          width: 50%;
          .Discount {
          }
          .PriceWrapper {
            display: flex;
            flex-direction: column;
            .Price {
            }
            .Separator {
                display: none;
            }
            .Monthly {
            }
          }
        }
        &Buttons {
          input {
          }
          .Button {
          }
        }
      }
    }
  }
}
