.Footer {
  background-color: var(--footer-bg);
  color: var(--text-primary);
  // border: 1px solid black;
  // height: 370px;
  padding: 55px 50px 0;

  &Top {
    display: flex;
    // gap: 5%;
    gap: 70px;
    width: 100%;
    // margin-bottom: 50px;

    &Info {
      // width: 30%;

      & .FooterEmailGroup {
        // background-color: blue;

        &Title {
          font-size: 16px;
          font-weight: 600;
          margin-bottom: 16px;
          display: inline-block;
        }

        &Form {
          display: flex;
          align-items: center;
          // justify-content: space-between;
          font-size: 14px;
          gap: 15px;
          margin-bottom: 48px;
          //   background-color: red;

          &Input {
            padding: 13px 24px;
            border-radius: 16px;
            border: 1px solid #e8e8e8;
          }

          &Submit {
            padding: 13px 24px;
            background-color: var(--footer-submit);
            border: 1px solid var(--footer-submit);
            border-radius: 14px;
            color: white;
            font-weight: 600;
          }
        }
      }

      &Others {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        font-size: 14px;

        & .FooterSocialMedia {
          width: 185px;

          &Title {
          }

          &Body {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 15px;

            & a {
              color: var(--text-primary);
              font-size: 14px;
              padding-inline: 5px;

              &:hover {
                color: red;
              }
            }
          }
        }

        & .FooterPayementMethods {
          &Title {
            color: var(--text-primary);
          }

          &Body {
            margin-top: 15px;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            & img {
              height: 25px;
              // max-width: 40px;
            }
          }
        }
      }
    }

    &Menu {
      width: 55%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      &Group {
        &Title {
          color: #ea2427;
          font-size: 14px;
          margin-bottom: 12px;
          letter-spacing: 0.26em;
          font-weight: 500;
        }

        &Links {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          gap: 8px;
          font-size: 14px;

          a {
            width: 100%;

            &:hover {
              text-decoration: underline !important;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  &Bottom {
    padding-top: 50px;

    hr {
      // border:1px solid red;
      margin: 0;
    }

    & > div {
      padding-block: 25px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    div:nth-child(1) {
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
    }

    &Company {
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;

      b {
        color: var(--red-main);
        text-decoration: underline;
      }
    }
  }
}

@media (min-width: 1440px) {
  .Footer {
    &Top {
      margin-inline: auto;
      padding-inline: 0;
      width: 1340px;
    }
    &Bottom {
      margin-inline: auto;
      padding-inline: 0;
      width: 1340px;
    }
  }
}

@media (max-width: 1250px) {
  .FooterTop {
    gap: 5%;
    &Info {
      width: 30%;

      .FooterEmailGroup {
        &Title {
          font-size: 14px !important;
        }

        &Form {
          flex-direction: column;
          margin-bottom: 25px !important;

          &Input {
            width: 100%;
          }

          &Submit {
            width: 100%;
          }
        }
      }

      .FooterTopInfoOthers {
        .FooterSocialMedia {
          width: 100%;
        }

        .FooterPayementMethods {
          display: none;
        }
      }
    }

    &Menu {
      width: 70%;
    }
  }

  .FooterBottom {
    &Company {
      display: none !important;
    }
  }
}

@media (max-width: 1050px) {
  .Footer {
    padding: 55px 20px 75px;

    &Top {
      flex-direction: column-reverse;
      gap: 50px !important;

      &Info {
        width: 100%;
        max-width: 650px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & .FooterEmailGroup {
          &Form {
            flex-direction: row;

            &Input {
              width: 70%;
            }

            &Submit {
              width: 30%;
            }
          }
        }
      }

      &Menu {
        width: 100%;
      }
    }
  }
}
@media (max-width: 768px) {
  .Footer {
    &Top {
      &Menu {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 42px;
        text-align: center;
      }
      &Info {
        flex-direction: column-reverse;
        gap: 42px;
        text-align: center;
        max-width: unset;
        .FooterEmailGroup {
          // background-color: red;
          &Title {
            font-weight: 600;
            font-size: 21px !important;
          }
          &Form {
            &Submit {
              flex-shrink: 0;
              min-width: 110px;
            }
          }
        }
      }
    }
  }
}
