// @import "../../../styles/globalmixins";

.HomeLayout {
  display: flex;

  .HomeAside {
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    flex-shrink: 0;
    z-index: 5;
  }

  .Container {
    flex-grow: 1;
    // width: calc(100vw - 305px);

    // & .SidebarToggle {
    //   float: left;
    //   position: sticky;
    //   top: 35px;
    //   margin-left: 16px;
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    //   background-color: var(--sidebar-bg-secondary);
    //   // background-color: var(--sidebar-bg-secondary);
    //   padding: 10px;
    //   border-radius: 12px;
    //   outline: none;
    //   border: 0;
    //   z-index: 5;

    //   &Btn {
    //     color: var(--text-primary);
    //   }
    // }

    .Header {
      background-color: var(--bg-main);
      &Desktop {
        display: block;
      }
      &Full {
        display: none;
      }
    }

    // main {
    //   display: none;
    // }

    .Footer {
      // margin-top: 150px;
      &Desktop {
        display: block;
      }
      &Full {
        display: none;
      }
    }
  }
}
@media (max-width: 1024px) {
  .HomeLayout {
    .HomeAside {
      display: none;
    }
    .Container {
      position: relative;
      & .SidebarToggle {
        display: none;
      }
      .Header {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 15;

        &Desktop {
          display: none;
        }
        &Full {
          display: block;
        }
      }
      main {
        margin-top: 92px;
      }

      .Footer {
        &Desktop {
          display: none;
        }
        &Full {
          display: block;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .HomeLayout {
    .Container {
      main {
        margin-top: 76px;
      }
    }
  }
}
