.Orders {
  &Content {
    height: 100%;
    position: relative;

    &Header {
      font-weight: 600;
      font-size: 24px;
    }

    .TabCircle {
      background-color: white;
      font-weight: 600;
      font-size: 12px !important;
      height: 30px;
      width: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 25px;
    }
  }
}

.OrdersMobile {
  display: none;

  &Content {
    height: 100%;
    position: relative;

    &Header {
      font-weight: 600;
      font-size: 24px;
    }

    p{
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      opacity: 0.5;
    }

    .TabCircle {
      background-color: white;
      font-weight: 600;
      font-size: 12px !important;
      height: 30px;
      width: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 25px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .Orders {
    display: none;
  }

  .OrdersMobile {
    display: block;
    // padding: 20px!important;


    &Content {
      &Header {
        font-weight: 700;
        font-size: 16px;
        line-height: 106.2%;
      }
    }
  }
}