    .SectionAside {
      height: 100%;
      padding: 32px 24px 0 24px;

      &Top {
        display: flex;
        align-items: center;
        gap: 16px;

        &Icon {
          border-radius: 50px;
          height: 50px;
          width: 50px;

          display: flex;
          align-items: center;
          justify-content: center;
        }

        &Body {
          h2 {
            font-weight: 600;
            font-size: 18px;
            line-height: 27px;
          }

          span {
            font-size: 12px;
            opacity: 0.5;
            line-height: 18px;
          }
        }
      }

      &Separator {
        padding-block: 24px;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          width: 100%;
          // border: 1px solid var(--text-primary);
          opacity: 0.2;
        }
      }

      &Body {
        &Item {
          margin-block: 8px;

          a {
            border-radius: 16px;
            // color: var(--text-primary);
            padding: 10px 24px;
            width: 100%;
            display: flex;
            gap: 10px;
            font-size: 14px;

            span {
              svg {
                width: 15px;
                height: 15px;
                // color: var(--sidebar-icon-color);
              }
            }

            &:hover,
            &.activeLink {
              // font-weight: 500;
              // background-color: var(--user-sidebar-secondary);

              span {
                svg {
                  color: var(--red-main);
                }
              }
            }
          }

          &:last-child {
            a {
              svg {
                color: var(--red-main);
              }

              span {
                font-weight: 600;
              }
            }
          }

          button {
            border-radius: 16px;
            color: var(--text-primary);
            padding: 10px 24px;
            width: 100%;
            display: flex;
            gap: 10px;
            font-size: 14px;
            border: 0;
            background-color: transparent;

            span {
              svg {
                color: var(--red-main);
              }
            }
            &:active {
              font-weight: 500;
              background-color: var(--user-sidebar-secondary);
            }
          }
        }
      }
    }