.Breadcrumb {
  // background: #F7F7F7;
  background-color: var(--sidebar-bg-main);
  color: var(--text-primary);
  padding: 8px 48px;

  &Title {
    display: flex;
    align-items: center;

    .doubleArrow {
      font-size: 10px;
    }

    span {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      text-decoration-line: underline;
      opacity: 0.7;
      margin-right: 5px;
    }

    span:last-child {
      font-weight: 500;
      opacity: 1;
    }
  }
}

@media (min-width: 1440px) {
  .Breadcrumb {
    &Title{
      width: 1340px;
      margin-inline: auto;
      padding-inline: 0;
    }
  }
}
@media (max-width: 1024px) {
  .Breadcrumb {
    display: none;
  }
}
