.ModalHeader {
  font-size: 32px;
  font-weight: 600;
  padding: 18px 0 0 18px;

  // color: green;
}
// .success {
//   color: green;
// }

.ModalBody,
.ModalFooter {
  padding-left: 18px;
}

.ModalFooter {
  display: flex;
  gap: 15px;

  & button {
    padding: 6px 24px;
    border: 0;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 500;
  }
}
