.ProductDetails {
  width: 100%;
  display: flex;
  background: var(--product-details-bg);
  padding-block: 56px 100px;
  padding-inline: 48px;

  &Content {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    gap: 40px;
    &Left {
      width: calc(50% - 20px);
      &Slider {
        position: sticky;
        top: 164px;
      }
    }

    &Right {
      width: calc(50% - 20px);

      .Title {
        &Stats {
          display: flex;
          margin-bottom: 16px;

          &Comment {
            margin-right: 42px;
            color: var(--text-primary);
          }
        }

        &Text {
          color: var(--text-primary);
          font-weight: 600;
          font-size: 20px;
          line-height: 41px;
          margin-bottom: 16px;
        }

        &ProductInfo {
          display: flex;
          margin-bottom: 32px;

          p {
            color: var(--text-primary);
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;

            span {
              font-weight: bold;
            }

            &:first-child {
              margin-right: 32px;
            }
          }
        }

        &ProductOptions {
          display: flex;

          &Color {
            margin-right: 56px;

            &Heading {
              margin-bottom: 12px;
              color: var(--text-primary);
              font-weight: 400;
              font-size: 14px;
              line-height: 21px;
            }

            .ColorContainer {
              display: flex;

              .ColorButton {
                margin-right: 8px;

                &:last-child {
                  margin: unset;
                }

                a {
                  display: block;
                  width: 30px;
                  height: 30px;
                  border-radius: 6px;
                  position: relative;
                }

                &Active {
                  &:before {
                    content: '';
                    display: block;
                    width: 5px;
                    height: 12px;
                    border: 2px solid #ffffff;
                    border-top: unset;
                    border-left: unset;
                    transform: rotate(45deg);
                    position: absolute;
                    top: 8px;
                    left: 12px;
                  }
                }
              }
            }
          }

          &Memory {
            &Heading {
              margin-bottom: 12px;
              color: var(--text-primary);
              font-weight: 400;
              font-size: 14px;
              line-height: 21px;
            }

            .MemoryContainer {
              display: flex;

              .MemoryButton {
                margin-right: 8px;

                &:last-child {
                  margin: unset;
                }

                a {
                  display: block;
                  width: fit-content;
                  background: var(--product-details-btn-item);
                  color: var(--text-primary);
                  padding: 8px 12px;
                  border-radius: 10px;
                  font-weight: 700;
                  font-size: 10px;
                  line-height: 15px;
                }

                &Active {
                  background: var(--black-to-white) !important;
                  color: var(--f-to-0) !important;
                }
              }
            }
          }
        }
      }

      .IsEmpty {
        max-width: 300px;
        margin-top: 50px;
        &Header {
          font-weight: 700;
          font-size: 18px;
          line-height: 27px;
          color: var(--text-primary);
          margin-bottom: 24px;
        }
        &Buttons {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 16px;
          .IsEmptyAddToFavorites {
            display: inline-block;
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--product-details-btn-item);
            border: 0;
            border-radius: 12px;
            transition: 0.2s;
            padding: 20px;

            svg {
              color: var(--red-main);
              transition: 0.2s;
              height: 15px;
              width: 15px;
            }

            &:hover {
              background: var(--red-main);
              svg {
                color: white;
              }
            }
          }
          .IsEmptyCreateNotification {
            display: inline-block;
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--product-details-btn-item);
            border: 0;
            border-radius: 12px;
            transition: 0.2s;
            padding: 16px;
            gap: 12px;

            svg {
              color: var(--red-main);
              transition: 0.2s;
              height: 15px;
              width: 15px;
            }

            span {
              font-weight: 500;
              font-size: 16px;
              color: var(--text-primary);
            }

            &:hover {
              background: var(--red-main);
              span {
                color: white;
              }
              svg {
                color: white;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1440px) {
  .ProductDetails {
    &Content {
      margin-inline: auto;
      padding-inline: 0;
      width: 1340px;
    }
  }
}

@media only screen and (max-width: 1400px) {
  .ProductDetails {
    &Content {
      &Right {
        .ButtonContainer {
          .AddToCartBtn {
            button {
              padding: 18px 12px !important;
            }
          }
        }
      }
    }
  }
}



@media only screen and (max-width: 1024px) {
  .ProductDetails {
    padding-inline: 20px;
  }

  .SpecialOffer {
    padding-inline: 20px;
  }
}

@media only screen and (max-width: 992px) {
  .ProductDetails {
    &Content {
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: wrap;
      &Left {
        width: 100%;
        &Slider {
          position: static;
        }
      }
      &Right {
        width: 100%;
        .Title {
          &Text {
            font-weight: 600;
            font-size: 20px;
            line-height: 29px;
          }

          &ProductInfo {
            flex-direction: row-reverse;
            justify-content: flex-end;
            gap: 24px;
            margin-bottom: 16px;
          }

          &ProductOptions {
            flex-direction: column-reverse;
            gap: 40px;

            &Color {
              .ColorContainer {
                .ColorButton {
                  a {
                    border-radius: 50%;
                    width: 45px;
                    height: 45px;

                    &:before {
                      width: 8px;
                      height: 14px;
                      border: 4px solid #fff;
                      border-top: unset;
                      border-left: unset;
                      top: 15px;
                      left: 18px;
                    }
                  }
                }
              }
            }

            &Memory {
              &Heading {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  .SpecialOffer {
    display: none;
  }
}

@media only screen and (max-width: 576px) {
  .ProductDetails {
    padding-block: 20px 100px;

    &Content {
      &Right {
        .Title {
          &Stats {
            &Comment {
              margin-right: 20px;
            }

            span {
              span {
                span {
                  margin-right: 8px;
                }
              }
            }

            svg {
              width: 12px;
            }
          }

          &Text {
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 8px;
          }

          &ProductInfo {
            margin-bottom: 16px;

            p {
              font-size: 12px;
              line-height: 18px;

              &:first-child {
                margin-right: 24px;
              }
            }
          }

          &ProductOptions {
            margin-bottom: 30px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 475px) {
  .ProductDetails {
    &Content {
      &Right {
        .Title {

          &Text {
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 8px;
          }

          &ProductInfo {
            margin-bottom: 10px;

            p {
              font-size: 12px;
            }
          }

          &ProductOptions {
            margin-bottom: 40px;
          }
        }
      }
    }
  }
}
