.ProductDetails {
  width: 100%;
  display: flex;
  background: var(--product-details-bg);
  padding-block: 22px 100px;
  padding-inline: 48px;

  &Content {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    gap: 40px;
    &Left {
      width: calc(50% - 20px);
      &Slider {
        position: sticky;
        top: 164px;
      }
    }

    &Right {
      width: calc(50% - 20px);

      .Title {
        &Stats {
          display: flex;
          margin-bottom: 16px;

          &Comment {
            margin-right: 42px;
            color: var(--text-primary);
          }
        }

        &Text {
          color: var(--text-primary);
          font-weight: 600;
          font-size: 20px;
          line-height: 41px;
          margin-bottom: 16px;
        }

        &ProductInfo {
          display: flex;
          margin-bottom: 32px;

          p {
            color: var(--text-primary);
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;

            span {
              font-weight: bold;
            }

            &:first-child {
              margin-right: 32px;
            }
          }
        }

        &ProductOptions {
          display: flex;
          margin-bottom: 56px;

          &Color {
            margin-right: 56px;

            &Heading {
              margin-bottom: 12px;
              color: var(--text-primary);
              font-weight: 400;
              font-size: 14px;
              line-height: 21px;
            }

            .ColorContainer {
              display: flex;

              .ColorButton {
                margin-right: 8px;

                &:last-child {
                  margin: unset;
                }

                a {
                  display: block;
                  width: 30px;
                  height: 30px;
                  border-radius: 6px;
                  position: relative;
                }

                &Active {
                  &:before {
                    content: '';
                    display: block;
                    width: 5px;
                    height: 12px;
                    border: 2px solid #ffffff;
                    border-top: unset;
                    border-left: unset;
                    transform: rotate(45deg);
                    position: absolute;
                    top: 8px;
                    left: 12px;
                  }
                }
              }
            }
          }

          &Memory {
            &Heading {
              margin-bottom: 12px;
              color: var(--text-primary);
              font-weight: 400;
              font-size: 14px;
              line-height: 21px;
            }

            .MemoryContainer {
              display: flex;

              .MemoryButton {
                margin-right: 8px;

                &:last-child {
                  margin: unset;
                }

                a {
                  display: block;
                  width: fit-content;
                  background: var(--product-details-btn-item);
                  color: var(--text-primary);
                  padding: 8px 12px;
                  border-radius: 10px;
                  font-weight: 700;
                  font-size: 10px;
                  line-height: 15px;
                }

                &Active {
                  background: var(--black-to-white) !important;
                  color: var(--f-to-0) !important;
                }
              }
            }
          }
        }

        &ProductPrice {
          margin-bottom: 32px;

          .PriceLeft {
            &LastPrice {
              position: relative;
              font-weight: 400;
              font-size: 16px;
              line-height: 24px;
              width: fit-content;
              color: var(--text-primary);

              svg {
                width: 12px;
              }

              span {
                position: absolute;
                display: block;
                background: red;
                top: 10px;
                left: -2px;
                width: 100%;
                height: 2px;
                transform: rotate(165deg);
              }
            }

            &CurrentPrice {
              font-weight: 700;
              font-size: 40px;
              line-height: 60px;
              color: var(--text-primary);
              svg {
                width: 27px;
              }
            }
          }

          .PriceRight {
            .Bonus {
              background: rgba(237, 150, 164, 0.15);
              border-radius: 8px;
              padding: 16px 24px;
              width: 100%;
              display: flex;
              justify-content: space-between;

              &Text {
                color: #ea2427;
                width: fit-content;

                span:nth-child(1) {
                  font-weight: bold;
                  padding-right: 5px;

                  svg {
                    margin-top: -4px;

                    &:last-child {
                      width: 11px;
                    }
                  }
                }
              }

              &Icon {
                svg {
                  color: #ea2427;
                }
              }
            }
          }
        }
      }

      .PurchaseContainer {
        &Section {
          &Promo {
            display: flex;
            justify-content: space-between;
            grid-column-gap: 2%;
            margin-bottom: 16px;

            .PromoCodeInput {
              flex-grow: 1;
              padding-block: 18px;
              padding-left: 16px;
              background: var(--product-card-bg);
              border-radius: 12px;

              span {
                margin-right: 16px;
                color: var(--text-primary);
              }

              input {
                border: none;
                background: none;
                color: var(--text-primary);
              }
            }

            .ButtonContainer {
              display: flex;
              flex-grow: 1;
              justify-content: space-between;

              .AddToCartBtn {
                button {
                  width: 100%;
                  font-weight: 500;
                  font-size: 16px;
                  line-height: 24px;
                  color: #ffffff;
                  font-family: Poppins;
                  background: #ea2427;
                  border-radius: 12px;
                  padding-block: 18px !important;
                  text-transform: unset;

                  span:nth-child(1) {
                    margin-right: 12px;
                  }
                }
              }

              .CompareBtn {
                button {
                  background: var(--product-card-bg);
                  min-width: unset;
                  padding: 23px;
                  border-radius: 12px;

                  svg {
                    color: var(--text-primary);
                  }
                }
              }

              .FavouriteBtn {
                button {
                  background: var(--product-card-bg);
                  min-width: unset;
                  padding: 23px;
                  border-radius: 12px;

                  &:hover {
                    background-color: var(--red-main);

                    svg {
                      color: var(--white);
                    }
                  }

                  svg {
                    color: var(--text-primary);
                  }
                }
              }
            }
          }

          &PayementOptions {
            margin-bottom: 26px;

            button {
              position: relative;
            }

            .BuyRightNow {
              width: 100%;
              display: flex;
              justify-content: flex-start;
              padding: 16px;
              background: var(--product-card-bg);
              border-radius: 24px;
              text-transform: unset;
              font-family: Poppins;

              .OneClick {
                background: #e9e9e9;
                box-sizing: border-box;
                border-radius: 16px;
                padding: 18px;
                display: flex;

                svg {
                  color: var(--text-primary);
                  width: 24px;
                  height: 24px;
                }
              }

              .Text {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-left: 16px;
                font-family: Poppins;

                p:nth-child(1) {
                  font-weight: 700;
                  font-size: 20px;
                  line-height: 109.4%;
                  color: var(--text-primary);
                }

                p:nth-child(2) {
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 21px;
                  color: var(--text-primary);
                }
              }

              .Arrow {
                position: absolute;
                left: 50%;
                bottom: -10px;
                width: 0;
                height: 0;
                transform: translateX(-50%);
                border-left: 20px solid transparent;
                border-right: 20px solid transparent;
                border-top: 20px solid var(--product-card-bg);
              }
            }

            .BuyWithCredit {
              width: 100%;
              display: flex;
              justify-content: flex-start;
              padding: 16px;
              background: var(--product-card-bg);
              border-radius: 24px;
              text-transform: unset;

              .Credit {
                background: #e9e9e9;
                box-sizing: border-box;
                border-radius: 16px;
                padding: 18px;
                display: flex;

                svg {
                  color: var(--text-primary);
                  width: 24px;
                  height: 24px;
                }
              }

              .Text {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-left: 16px;

                p:nth-child(1) {
                  font-weight: 700;
                  font-size: 20px;
                  line-height: 109.4%;
                  color: var(--text-primary);
                }

                p:nth-child(2) {
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 21px;
                  color: var(--text-primary);

                  svg {
                    width: 8px;
                  }
                }
              }

              .Arrow {
                position: absolute;
                left: 50%;
                bottom: -10px;
                width: 0;
                height: 0;
                transform: translateX(-50%);
                border-left: 20px solid transparent;
                border-right: 20px solid transparent;
                border-top: 20px solid var(--product-card-bg);
              }
            }
          }

          &Dropdown {
            // display: none;

            .PurchaseItemForm {
              width: 100%;
              border-radius: 24px;
              padding: 32px 24px;
              background: var(--product-card-bg);
              margin-bottom: 40px;

              &Title {
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: var(--text-primary);
                margin-bottom: 16px;
              }

              form {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                gap: 8px;

                input {
                  padding: 12px 24px;
                  width: 212px;
                  background: var(--product-details-bg);
                  color: var(--text-primary);
                  border: unset;
                  border-radius: 16px;
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 21px;
                }

                button {
                  padding: 12px 32px;
                  font-weight: 600;
                  font-size: 14px;
                  line-height: 21px;
                  color: #ffffff;
                  border-radius: 14px;
                  border: unset;
                  background: #ea2427;
                }
              }
            }

            .PurchaseItemCredit {
              width: 100%;
              border-radius: 24px;
              background: var(--product-card-bg);
              padding: 32px 24px;
              margin-bottom: 40px;
            }
          }

          &Gift {
            &Top {
              span {
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                color: var(--text-primary);
              }
              margin-bottom: 16px;
            }
            &Bottom {
              background: var(--product-details-btn-item);
              padding: 16px;
              border-radius: 24px;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              gap: 13px;
              margin-bottom: 40px;

              img {
                width: 67px;
                height: 67px;
                object-fit: cover;
                border-radius: 16px;
              }
              .GiftBody {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                &Title {
                  font-weight: 700;
                  font-size: 20px;
                  line-height: 109.4%;
                  color: var(--text-primary);
                  padding-bottom: 5px;
                }
                &More {
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 21px;
                  text-decoration-line: underline;
                  color: #0066ff;
                }
              }
            }
          }

          &ExtraToProduct {
            margin-bottom: 40px;

            .Addition {
              &Title {
                margin-bottom: 16px;

                span {
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 21px;
                  color: var(--text-primary);
                }
              }

              &Box {
                width: 100%;

                &Item {
                  width: 100%;
                  padding: 16px 24px;
                  margin-bottom: 8px;
                  border-radius: 24px;
                  background: var(--product-details-btn-item);

                  label {
                    display: flex;
                    justify-content: space-between;
                    cursor: pointer;
                  }

                  &Left {
                    display: flex;

                    &Input {
                      margin-right: 16px;

                      label {
                        position: relative;
                      }

                      input {
                        width: 20px;
                        height: 20px;
                        position: absolute;
                        appearance: none;

                        &:checked + .Marker:before {
                          border: unset;
                          border: 1px solid red;
                          background-color: red;
                        }

                        &:checked + .Marker:after {
                          border-color: #ffffff;
                        }
                      }

                      .Marker:before {
                        content: '';
                        display: inline-block;
                        border: 1px solid #999999;
                        border-radius: 4px;
                        width: 20px;
                        height: 20px;
                      }

                      .Marker:after {
                        content: '';
                        position: absolute;
                        top: 3px;
                        left: 3px;
                        display: block;
                        width: 9px;
                        height: 5px;
                        border: 2px solid #b1b1b1;
                        border-top: none;
                        border-right: none;
                        transform: translate(3px, 4px) rotate(-45deg);
                      }
                    }

                    &Label {
                      span {
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 109.4%;
                        color: var(--text-primary);
                      }
                    }
                  }

                  &Right {
                    span {
                      font-weight: 700;
                      font-size: 20px;
                      line-height: 109.4%;
                      color: var(--text-primary);

                      svg {
                        width: 15px;
                      }
                    }
                  }
                }

                &Btn {
                  background: unset;
                  border: unset;
                  font-weight: 500;
                  font-size: 12px;
                  line-height: 18px;
                  color: var(--text-primary);

                  &Arrow {
                    border: solid var(--text-primary);
                    border-width: 0 1px 1px 0;
                    display: inline-block;
                    padding: 3px;
                    margin-left: 8px;
                    transform: rotate(45deg);
                    transition: 0.3s;

                    &Down {
                      transform: rotate(-135deg);
                    }

                    &Up {
                      transform: rotate(-135deg);
                    }
                  }
                }
              }
            }
          }

          &BuyExtra {
            margin-bottom: 40px;

            .ProductBesides {
              &Title {
                margin-bottom: 16px;

                span {
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 21px;
                  color: var(--text-primary);
                }
              }

              &Box {
                padding: 16px;
                margin-bottom: 8px;
                border-radius: 24px;
                background: var(--product-details-btn-item);
                display: flex;
                justify-content: space-between;

                &Left {
                  display: flex;

                  &Img {
                    width: 65px;
                    height: 65px;
                    // border: 1px solid #EDEDED;
                    box-sizing: border-box;
                    border-radius: 16px;
                    background: var(--product-details-bg);
                    margin-right: 12px;
                  }

                  &Text {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    &Title {
                      span {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 21px;
                        color: var(--text-primary);
                        opacity: 0.6;
                      }
                    }

                    &Inner {
                      display: flex;

                      &Left {
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 109.4%;
                        color: var(--text-primary);
                        display: flex;
                        flex-direction: column;
                        svg {
                          width: 15px;
                        }
                        // .OldPrice {
                        //   font-weight: 400;
                        //   font-size: 8px;
                        //   line-height: 12px;
                        //   text-decoration-line: line-through;
                        //   color: #ea2427;
                        // }
                      }

                      &Right {
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 109.4%;
                        color: var(--text-primary);
                        display: flex;
                        align-items: center;
                        gap: 3px;
                        svg {
                          width: 15px;
                        }

                        &:before {
                          content: '';
                          height: 22px;
                          border: 1px solid var(--text-primary);
                          opacity: 0.1;
                          margin-inline: 16px;
                        }

                        > span {
                          font-size: 10px;
                          color: gray;
                          margin-left: 4px;
                        }
                      }
                    }
                  }
                }

                &Right {
                  display: flex;
                  align-items: center;

                  &Count {
                    padding: 12px 16px;
                    background: var(--f-to-0);
                    border-radius: 12px;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 21px;
                    margin-right: 16px;

                    input {
                      text-align: center;
                      color: var(--text-primary);
                      background: var(--f-to-0);
                    }

                    button {
                      border: unset;
                      background: unset;
                      color: var(--text-primary);
                    }

                    input {
                      margin-inline: 10px;
                      width: 20px;
                      display: inline-block;
                      border: unset;
                    }
                  }

                  &Btn {
                    button {
                      min-width: unset;
                      padding: 12px;
                      border-radius: 12px;
                      background: #ea2427;

                      svg {
                        width: 20px;
                        height: 20px;
                        color: #ffffff;
                      }
                    }
                  }
                }
              }
            }
          }

          &OurOffers {
            margin-bottom: 40px;

            .OfferInfo {
              width: 100%;

              &Title {
                margin-bottom: 16px;

                span {
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 21px;
                  color: var(--text-primary);
                }
              }

              &Inner {
                width: 100%;
                display: flex;

                &Box {
                  // background: #FFFFFF;
                  // background: var(--product-offer-info);
                  background: var(--product-details-btn-item);
                  box-shadow: 0 26px 28px rgba(0, 0, 0, 0.05);
                  border-radius: 16px;
                  padding: 16px;
                  width: 100%;
                  margin-right: 16px;

                  &:last-child {
                    margin: unset;
                  }

                  &Title {
                    margin-bottom: 16px;

                    span {
                      font-weight: 400;
                      font-size: 12px;
                      line-height: 18px;
                      color: var(--text-primary);
                      opacity: 0.5;
                    }
                  }

                  &Item {
                    display: grid;
                    grid-template-columns: 1fr 6fr;
                    margin-bottom: 12px;

                    &:last-child {
                      margin: unset;
                    }

                    p {
                      font-weight: 400;
                      font-size: 12px;
                      line-height: 18px;
                      color: var(--text-primary);
                    }
                  }
                }
              }
            }
          }

          &Others {
            margin-bottom: 40px;

            .Other {
              &Title {
                margin-bottom: 16px;

                span {
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 21px;
                  color: var(--text-primary);
                }
              }

              &Inner {
                &Item {
                  padding: 16px;
                  margin-bottom: 8px;
                  border-radius: 24px;
                  background: var(--product-details-btn-item);

                  &:last-child {
                    margin: unset;
                  }

                  &Btn {
                    text-transform: unset;
                    padding: unset;
                    border-radius: 24px;

                    button {
                      width: 100%;
                      border-radius: 12px;
                      display: grid;
                      grid-template-columns: 1fr 10fr;
                      grid-gap: 16px;
                      padding: unset;
                      text-transform: unset;

                      &:hover {
                        // background: var(--slider-bg);
                        background: none;
                      }
                    }
                  }

                  &Left {
                    &Icon {
                      background: var(--product-details-bg);
                      // border: 1px solid #EDEDED;
                      border-radius: 16px;
                      padding: 16px;
                      width: 55px;
                      height: 55px;
                      display: flex;
                      justify-content: center;
                      align-items: center;

                      svg {
                        width: 20px;
                        height: 20px;
                        color: var(--text-primary);
                      }
                    }
                  }

                  &Right {
                    width: 100%;

                    &Title {
                      width: 100%;
                      display: flex;
                      justify-content: space-between;

                      &Text {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;

                        h2 {
                          font-weight: 700;
                          font-size: 20px;
                          line-height: 109.4%;
                          color: var(--text-primary);
                          margin-bottom: 8px;
                        }

                        span {
                          font-weight: 400;
                          font-size: 14px;
                          line-height: 21px;
                          color: var(--text-primary);
                        }
                      }

                      &Btn {
                        background: var(--product-details-icon-bg);
                        border-radius: 12px;
                        width: 45px;
                        height: 45px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        span {
                          color: var(--text-primary);
                          font-size: 20px;
                          font-weight: bold;
                        }
                      }

                      &CallBtn {
                        span {
                          display: block;
                          font-family: Poppins;
                          color: var(--f-to-0);
                          background: var(--text-primary);
                          padding: 12px 16px;
                          border-radius: 12px;
                          font-weight: 500;
                          font-size: 14px;
                          line-height: 21px;
                        }
                      }
                    }

                    &Text {
                      display: grid;
                      grid-template-columns: 1fr 10fr;
                      grid-gap: 16px;
                      margin-top: 24px;

                      &About {
                        grid-column-start: 2;
                        color: var(--text-primary);
                      }

                      &Features {
                        grid-column-start: 2;
                        display: grid;
                        grid-template-columns: 1fr 1.5fr;
                        grid-gap: 24px;

                        .FeaturesInner {
                          &Title {
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 24px;
                            color: var(--text-primary);
                          }

                          &Text {
                            ul {
                              li {
                                font-weight: 300;
                                font-size: 14px;
                                line-height: 24px;
                                color: var(--text-primary);
                              }
                            }
                          }
                        }
                      }

                      &Comments {
                        grid-column-start: 2;
                        margin-bottom: 32px;

                        .Comment {
                          width: 100%;
                          padding: 24px;
                          margin-bottom: 16px;
                          border-radius: 16px;
                          background: var(--f-to-0);

                          &:last-child {
                            margin: unset;
                          }

                          &Text {
                            width: 100%;
                            margin-bottom: 16px;
                            color: var(--text-primary);
                          }

                          &Footer {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;

                            &User {
                              display: flex;

                              &Avatar {
                                margin-right: 8px;
                              }

                              &Info {
                                .UserName {
                                  span {
                                    font-weight: 700;
                                    font-size: 14px;
                                    line-height: 21px;
                                    color: var(--text-primary);
                                  }
                                }

                                .Rate {
                                  display: flex;

                                  svg {
                                    margin-right: 6px;
                                  }

                                  span {
                                    font-weight: 400;
                                    font-size: 10px;
                                    line-height: 15px;
                                    color: var(--text-primary);
                                  }
                                }
                              }
                            }

                            &Date {
                              span {
                                font-weight: 400;
                                font-size: 10px;
                                line-height: 15px;
                                color: var(--text-primary);
                              }
                            }
                          }
                        }
                      }

                      &Form {
                        grid-column-start: 2;

                        .FormTitle {
                          margin-bottom: 24px;

                          span {
                            font-weight: 700;
                            font-size: 20px;
                            line-height: 109.4%;
                            color: var(--text-primary);
                          }
                        }

                        .FormText {
                          textarea {
                            max-width: 390px;
                            max-height: 90px;
                            border: unset;
                            border-radius: 16px;
                            padding: 16px 24px;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 21px;
                            color: var(--text-primary);
                            background: var(--product-details-bg);
                            resize: none;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }

            .OtherMobile {
              display: none;
            }
          }
          &SecondCheckout {
            &Title {
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 24px;
              color: var(--text-primary);
            }
            .SecondCheckoutTop {
              width: 100%;
              display: flex;
              gap: 16px;
              margin-bottom: 22px;
              &Left {
                width: calc(50% - 8px);
                color: var(--text-primary);

                &Big {
                  font-style: normal;
                  font-weight: 700;
                  font-size: 40px;
                  line-height: 60px;
                  svg {
                    height: 23px;
                    width: 23px;
                  }
                }
              }
              &Right {
                width: calc(50% - 8px);
                display: flex;
                gap: 16px;
                &Basket {
                  background-color: var(--red-main);
                  border-radius: 12px;
                  border: 0;
                  padding: 16px 24px;
                  display: flex;
                  gap: 10px;
                  text-transform: none;
                  span {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    color: white;
                  }
                  svg {
                    color: white;
                    height: 20px;
                    width: 20px;
                  }
                }
                &Favorites {
                  background: var(--product-card-bg);
                  min-width: unset;
                  padding: 23px;
                  border-radius: 12px;

                  svg {
                    color: var(--text-primary);
                  }

                  &:hover {
                    background-color: var(--red-main);
                    svg {
                      color: white;
                    }
                  }
                }
              }
            }
            .SecondCheckoutBottom {
              &Buttons {
                width: 100%;
                display: flex;
                gap: 16px;
                button {
                  position: relative;
                }

                .BuyRightNow {
                  width: calc(50% - 8px);
                  display: flex;
                  justify-content: flex-start;
                  padding: 16px;
                  background: var(--product-card-bg);
                  border-radius: 24px;
                  text-transform: unset;
                  font-family: Poppins;

                  .OneClick {
                    background: #e9e9e9;
                    box-sizing: border-box;
                    border-radius: 16px;
                    padding: 18px;
                    display: flex;

                    svg {
                      color: var(--text-primary);
                      width: 24px;
                      height: 24px;
                    }
                  }

                  .Text {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin-left: 16px;
                    font-family: Poppins;

                    p:nth-child(1) {
                      font-weight: 700;
                      font-size: 20px;
                      line-height: 109.4%;
                      color: var(--text-primary);
                    }

                    p:nth-child(2) {
                      font-weight: 400;
                      font-size: 14px;
                      line-height: 21px;
                      color: var(--text-primary);
                    }
                  }

                  .Arrow {
                    position: absolute;
                    left: 50%;
                    bottom: -10px;
                    width: 0;
                    height: 0;
                    transform: translateX(-50%);
                    border-left: 20px solid transparent;
                    border-right: 20px solid transparent;
                    border-top: 20px solid var(--product-card-bg);
                  }
                }

                .BuyWithCredit {
                  width: calc(50% - 8px);

                  display: flex;
                  justify-content: flex-start;
                  padding: 16px;
                  background: var(--product-card-bg);
                  border-radius: 24px;
                  text-transform: unset;

                  .Credit {
                    background: #e9e9e9;
                    box-sizing: border-box;
                    border-radius: 16px;
                    padding: 18px;
                    display: flex;

                    svg {
                      color: var(--text-primary);
                      width: 24px;
                      height: 24px;
                    }
                  }

                  .Text {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin-left: 16px;

                    p:nth-child(1) {
                      font-weight: 700;
                      font-size: 20px;
                      line-height: 109.4%;
                      color: var(--text-primary);
                    }

                    p:nth-child(2) {
                      font-weight: 400;
                      font-size: 14px;
                      line-height: 21px;
                      color: var(--text-primary);
                      svg {
                        width: 8px;
                      }
                    }
                  }

                  .Arrow {
                    position: absolute;
                    left: 50%;
                    bottom: -10px;
                    width: 0;
                    height: 0;
                    transform: translateX(-50%);
                    border-left: 20px solid transparent;
                    border-right: 20px solid transparent;
                    border-top: 20px solid var(--product-card-bg);
                  }
                }
              }
              &Collapse {
                margin-top: 26px;
                .PurchaseItemForm {
                  width: 100%;
                  border-radius: 24px;
                  padding: 32px 24px;
                  background: var(--product-card-bg);
                  margin-bottom: 40px;

                  &Title {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    color: var(--text-primary);
                    margin-bottom: 16px;
                  }

                  form {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    gap: 8px;

                    input {
                      padding: 12px 24px;
                      width: 212px;
                      background: var(--product-details-bg);
                      color: var(--text-primary);
                      border: unset;
                      border-radius: 16px;
                      font-weight: 400;
                      font-size: 14px;
                      line-height: 21px;
                    }

                    button {
                      padding: 12px 32px;
                      font-weight: 600;
                      font-size: 14px;
                      line-height: 21px;
                      color: #ffffff;
                      border-radius: 14px;
                      border: unset;
                      background: #ea2427;
                    }
                  }
                }

                .PurchaseItemCredit {
                  width: 100%;
                  border-radius: 24px;
                  background: var(--product-card-bg);
                  padding: 32px 24px;
                  margin-bottom: 40px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1440px) {
  .ProductDetails {
    &Content {
      margin-inline: auto;
      padding-inline: 0;
      width: 1340px;
    }
  }
}

@media only screen and (max-width: 1400px) {
  .ProductDetails {
    &Content {
      &Right {
        .PurchaseContainer {
          &Section {
            &Promo {
              .PromoCodeInput {
                white-space: nowrap;
              }
            }

            &PayementOptions {
              white-space: nowrap;
            }
          }
        }

        .ButtonContainer {
          .AddToCartBtn {
            button {
              padding: 18px 12px !important;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .ProductDetails {
    &Content {
      &Right {
        .PurchaseContainer {
          &Section {
            &Promo {
              .PromoCodeInput {
                input {
                  font-size: 12px;
                }
              }

              .ButtonContainer {
                .AddToCartBtn {
                  button {
                    font-size: 12px;

                    span:nth-child(1) {
                      margin-right: 4px;
                    }
                  }
                }
              }
            }

            &PayementOptions {
              .BuyRightNow {
                .Text {
                  margin-left: 8px;

                  p:nth-child(1) {
                    font-size: 15px;
                  }
                }
              }

              .BuyWithCredit {
                .Text {
                  margin-left: 8px;

                  p:nth-child(1) {
                    font-size: 15px;
                  }
                }
              }
            }

            &Gift {
              .GiftBody {
                &Title {
                  font-size: 15px;
                }
                &More {
                  font-size: 14px;
                }
              }
            }

            &OurOffers {
              .OfferInfo {
                &Inner {
                  &Box {
                    &Item {
                      p {
                        font-size: 10px;
                        margin-left: 4px;
                      }
                    }
                  }
                }
              }
            }

            &SecondCheckout {
              .SecondCheckoutTop {
                // background-color: red;
                &Left {
                  width: calc(35% - 8px);
                }

                &Right {
                  width: calc(65% - 8px);
                  justify-content: flex-end;

                  &Basket {
                    span {
                      font-size: 13px;
                    }
                  }
                }
              }
              .BuyRightNow {
                .Text {
                  margin-left: 8px !important;

                  p:nth-child(1) {
                    font-size: 15px !important;
                  }
                }
              }

              .BuyWithCredit {
                .Text {
                  margin-left: 8px !important;

                  p:nth-child(1) {
                    font-size: 15px !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .ProductDetails {
    padding-inline: 20px;
  }

  .SpecialOffer {
    padding-inline: 20px;
  }
}

@media only screen and (max-width: 992px) {
  .ProductDetails {
    &Content {
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: wrap;
      &Left {
        width: 100%;
        &Slider {
          position: static;
        }
      }
      &Right {
        width: 100%;
        .Title {
          &Text {
            font-weight: 600;
            font-size: 20px;
            line-height: 29px;
          }

          &ProductInfo {
            flex-direction: row-reverse;
            justify-content: flex-end;
            gap: 24px;
            margin-bottom: 16px;
          }

          &ProductOptions {
            flex-direction: column-reverse;
            gap: 40px;

            &Color {
              .ColorContainer {
                .ColorButton {
                  a {
                    border-radius: 50%;
                    width: 45px;
                    height: 45px;

                    &:before {
                      width: 8px;
                      height: 14px;
                      border: 4px solid #fff;
                      border-top: unset;
                      border-left: unset;
                      top: 15px;
                      left: 18px;
                    }
                  }
                }
              }
            }

            &Memory {
              &Heading {
                display: none;
              }
            }
          }

          &ProductPrice {
            display: none;
          }
        }

        .PurchaseContainer {
          &Section {
            &Promo {
              display: none;
            }

            &PayementOptions {
              display: none;
            }
            &Dropdown {
              display: none;
            }

            &ExtraToProduct {
              // background-color: red;

              .Addition {
                &Box {
                  &Item {
                    border-radius: 16px;
                  }
                }
              }
            }

            &BuyExtra {
              .ProductBesides {
                &Box {
                  &Left {
                    &Text {
                      &Title {
                        span {
                          font-weight: 400;
                          font-size: 10px;
                          line-height: 15px;
                        }
                      }

                      &Inner {
                        &Left {
                          font-weight: 700;
                          font-size: 16px;
                          line-height: 109.4%;
                        }

                        &Right {
                          font-weight: 700;
                          font-size: 8px;
                          line-height: 109.4%;

                          > span {
                            font-size: 8px;
                          }

                          &:before {
                            margin-inline: 8px;
                          }
                        }
                      }
                    }
                  }

                  &Right {
                    &Btn {
                      display: none;
                    }

                    &Count {
                      margin: unset;
                    }
                  }
                }
              }

              &:nth-child(6) {
                display: none;
              }

              &:nth-child(7) {
                .Other {
                  display: none;
                }

                .OtherMobile {
                  display: block;
                  text-transform: unset;

                  button {
                    color: var(--text-primary);
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                  }
                }
              }

              &:nth-child(8) {
                .LastSection {
                  display: none;
                }

                .LastSectionMobile {
                  display: block;
                }
              }
            }

            &OurOffers {
              display: none;
            }

            &Others {
              .Other {
                display: none;
              }

              .OtherMobile {
                display: block;
              }
            }

            &SecondCheckout {
              display: none;
            }
          }
        }
      }
    }
  }

  .SpecialOffer {
    display: none;
  }
}

@media only screen and (max-width: 576px) {
  .ProductDetails {
    padding-block: 20px 100px;

    &Content {
      &Right {
        .Title {
          &Stats {
            &Comment {
              margin-right: 20px;
            }

            span {
              span {
                span {
                  margin-right: 8px;
                }
              }
            }

            svg {
              width: 12px;
            }
          }

          &Text {
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 8px;
          }

          &ProductInfo {
            margin-bottom: 16px;

            p {
              font-size: 12px;
              line-height: 18px;

              &:first-child {
                margin-right: 24px;
              }
            }
          }

          &ProductOptions {
            margin-bottom: 30px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 475px) {
  .ProductDetails {
    &Content {
      &Right {
        .Title {
          &Text {
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 8px;
          }

          &ProductInfo {
            margin-bottom: 10px;

            p {
              font-size: 12px;
            }
          }

          &ProductOptions {
            margin-bottom: 40px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 340px) {
  .ProductDetails {
    &Content {
      &Right {
        .PurchaseContainer {
          &Section {
            &BuyExtra {
              .ProductBesides {
                &Box {
                  &Right {
                    &Count {
                      padding: 12px 10px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
