.AddLocation {
  height: 100%;
  position: relative;
  // background-color: red;

  &Top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    margin-bottom: 32px;

    .AddLocationHeader {
      font-weight: 600;
      font-size: 24px;
    }

    a {
      svg {
        height: 32px;
        width: 32px;
        color: red;
      }
    }
  }

  &Form {
    // background: blue;
    width: 100%;
    display: flex;
    height: calc(100% - 64px);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;

    &Body {
      width: 100%;

      &Group {
        margin-bottom: 30px;
      }
    }

    &Submit {
      align-self: flex-end;
      width: 100%;
      display: flex;
      gap: 16px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .AddLocation {

    &Top {
      margin-bottom: 10px;
      gap: 10px;

      .AddLocationHeader {
        font-size: 16px;
      }

      a {
        svg {
          height: 22px;
          width: 22px;
          color: red;
        }
      }
    }
  }
}