.LocationContent {
  height: 100%;
  position: relative;

  &Top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .LocationHeader {
      font-weight: 600;
      font-size: 24px;
    }

    .LocationAdd {
      border-radius: 12px;
      // background: #333333;
      background-color: var(--text-primary);
      border: 0;
      color: var(--f-to-0);
      padding: 10px 20px;
      text-transform: inherit;
      font-family: Poppins;

      &:hover {
        background-color: var(--text-primary);
      }
    }
  }

  p {
    display: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    opacity: 0.4;
  }

  &Body {
    margin-top: 20px;
    margin-bottom: 60px;

    &Item {
      background-color: var(--navbar-bg-main);
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-block: 10px;
      padding: 5px 24px;
      border-radius: 24px;

      &:hover {
        background-color: rgba(128, 128, 128, 0.2);
      }

      &Address {
        font-weight: 600;
        font-size: 16px;
        color: var(--text-primary);
      }

      &Buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 18px;

        span {
          font-size: 14px;
        }

        button {
          margin-inline: 5px;
          padding: 10px;
          border: 0;
          background-color: inherit;
          // font-size: 12px;

          &:first-child {
            color: var(--user-table-operations-btn);
          }

          &:last-child {
            color: var(--red-main);
          }

          &:hover {

            // outline: 1px solid black;
            svg {
              transform: scale(1.2);
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .LocationContent {
    &Top {}

    &Body {
      &Item {
        padding: 0px 20px;

        &Address {
          font-size: 12px;
        }

        &Buttons {
          span {
            font-size: 12px;
          }

          button {
            margin-inline: 0px;

            &:first-child {
              font-size: 14px;
            }

            &:last-child {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .LocationContent {
    p {
      display: block;
    }

    &Top {
      .LocationHeader {
        font-size: 16px;
      }
    }

    &Body {
      &Item {
        flex-direction: column;
        align-items: flex-start;
        padding: 16px 16px 0px 16px;
        padding-bottom: 6px;
        margin-block: 16px;

        &Address {
          font-size: 16px;
        }

        &Buttons {
          flex-direction: column;
          align-items: flex-start;
          gap: 0px;

          button {
            &:first-child {
              font-size: 20px;
            }

            &:last-child {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}