.Navbar {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: var(--f-to-0);
  border-radius: 24px 24px 0 0;
  box-shadow: 0px -2px 30px rgba(37, 55, 70, 0.04);
  z-index: 9;

  ul {
    display: flex;
    justify-content: space-between;
    padding: 20px 28px;

    li {
      a,
      button {
        svg {
          width: 20px;
          height: 20px;
          color: var(--text-primary);
        }
      }
      button {
        background-color: transparent;
        border: 0;
        outline: 0;
      }

      .ActiveHome {
        svg {
          fill: var(--text-primary);
        }
      }

      .ActiveProducts {
        svg {
          fill: var(--text-primary);
          color: var(--f-to-0);

          path:nth-child(1) {
            color: var(--text-primary);
          }

          path:nth-child(2) {
            color: var(--text-primary);
            fill: var(--f-to-0);
          }
        }
      }

      .ActiveFavourites {
        svg {
          fill: var(--text-primary);
          color: var(--f-to-0);

          path:nth-child(1) {
            color: var(--text-primary);
          }
        }
      }

      .ActiveCart {
        svg {
          fill: var(--text-primary);
        }
      }

      .ActiveProfile {
        svg {
          fill: var(--text-primary);
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .Navbar {
    display: block;
  }
}
