.NewsPage {
  margin-top: 36px;
  background: var(--news-bg);

  p.NewsPageCardsTop {
    color: #ea2427;
    margin-top: 70px;
  }

  h1 {
    color: var(--text-primary);
  }
  &Slider {
    height: 700px;
    width: 100%;
    position: relative;
    // padding: 50px;

    @media (min-width: 1440px) {
      width: 1340px;
      margin-inline: auto;
      padding-inline: 0;
    }
    @media (max-width: 1024px) {
      height: 450px;
    }
    @media (max-width: 592px) {
      height: 500px;
    }
  }
}
