.InnerNewsPage {
  padding-top: 48px;
  background: var(--inner-news-bg);

  &Title {
    width: 70%;
    padding-inline: 48px;
    margin-bottom: 40px;

    &Date {
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      padding-left: 12px;
      border-left: 2px solid var(--red-main);
      margin-bottom: 14px;
      color: var(--text-primary);
    }

    &Text {
      font-weight: 700;
      font-size: 32px;
      line-height: 38px;
      color: var(--text-primary);
    }
  }

  &Container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    grid-column-gap: 3%;

    &Left {
      grid-column: 1/4;

      &Header {
        padding-left: 48px;

        &Img {
          padding-bottom: 56px;

          img {
            width: 100%;
            max-height: 450px;
          }
        }
      }

      &Body {
        &Information {
          padding-inline: 48px;

          &Title {
            font-weight: 600;
            font-size: 24px;
            line-height: 23px;
            padding-bottom: 24px;
            color: var(--text-primary);
          }

          &Content {
            font-weight: 400;
            font-size: 14px;
            line-height: 33px;
            padding-bottom: 56px;
            color: var(--text-primary);
          }
        }
      }
    }

    &Right {
      padding-right: 48px;

      .Sidebar {
        width: 100%;
        background: var(--product-card-bg);
        box-shadow: 0px 16px 23px rgba(0, 0, 0, 0.01);
        border-radius: 24px;
        padding: 24px 16px;
        margin-bottom: 60px;

        &Title {
          font-weight: 400;
          font-size: 10px;
          line-height: 15px;
          color: var(--text-primary);
          opacity: 0.6;
          margin-bottom: 16px;
        }

        &Items {
          display: flex;
          flex-direction: column;
          row-gap: 24px;

          &Item {
            display: flex;
            gap: 12px;

            &Left {
              &Img {
              }
            }

            &Right {
              &Top {
                font-weight: 500;
                font-size: 14px;
                line-height: 21px;
                color: var(--text-primary);
                margin-bottom: 12px;
              }

              &Bottom {
                display: flex;
                align-items: center;

                &View {
                  font-weight: 500;
                  font-size: 12px;
                  line-height: 18px;
                  padding-right: 20px;
                  color: var(--text-primary);

                  svg {
                    color: var(--red-main);
                    margin-right: 6px;
                  }
                }

                &Date {
                  font-weight: 500;
                  font-size: 12px;
                  line-height: 18px;
                  color: var(--text-primary);
                  opacity: 0.5;
                }
              }
            }
          }
        }
      }

      .SubscribeSidebar {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 100%;
        background: var(--product-card-bg);
        box-shadow: 0px 16px 23px rgba(0, 0, 0, 0.01);
        border-radius: 24px;
        padding: 24px;
        margin-bottom: 60px;

        &Title {
          font-weight: 600;
          font-size: 18px;
          line-height: 26px;
          color: var(--text-primary);
        }

        .EmailInput {
          margin-bottom: 32px;

          input {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 12px 24px;
            border-radius: 16px;
            border: unset;
            // opacity: 0.5;
            background: var(--inner-news-bg);
            color: var(--text-primary);
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
          }
        }

        button {
          border: 1px solid #333333;
          background: #333333;
          box-shadow: 0px 6px 16px rgba(3, 78, 254, 0.2);
          border-radius: 14px;
          font-weight: 600;
          font-size: 14px;
          line-height: 21px;
          padding: 12px 31px;
          text-transform: inherit;
          background: var(--black-to-white);
          color: var(--white-to-black);
          // color: var(--text-primary);
        }
      }
    }
  }
}

@media only screen and (min-width: 1440px) {
  .InnerNewsPage {
    &Title {
      margin-inline: auto;
      padding-inline: 0;
      width: 1340px;
    }
    &Container {
      margin-inline: auto;
      padding-inline: 0;
      width: 1340px;
      &Left {
        &Header {
          padding-left: 0;
        }
        &Body {
          &Information {
            padding-inline: 0;
          }
        }
      }
      &Right {
        padding-right: 0;
      }
    }
  }
}

@media only screen and (max-width: 1260px) {
  .InnerNewsPage {
    &Title {
      width: 100%;
    }

    &Container {
      &Left {
        &Header {
          padding-right: 48px;
        }
      }

      &Right {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .InnerNewsPage {
    &Title {
      padding-inline: 20px;
      margin-bottom: 20px;

      &Text {
        font-size: 28px;
      }
    }

    &Container {
      &Left {
        &Header {
          padding-inline: 20px;

          &Img {
            padding-bottom: 40px;

            img {
              max-height: 400px;
            }
          }
        }

        &Body {
          &Information {
            padding-inline: 20px;

            &Title {
              font-size: 24px;
              padding-bottom: 24px;
            }

            &Content {
              font-size: 14px;
              padding-bottom: 40px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 942px) {
  .InnerNewsPage {
    &Title {
      &Text {
        font-size: 24px;
      }
    }

    &Container {
      &Left {
        &Header {
          &Img {
            padding-bottom: 35px;

            img {
              max-height: 350px;
            }
          }
        }

        &Body {
          &Information {
            &Title {
              font-size: 20px;
              padding-bottom: 10px;
            }

            &Content {
              font-size: 12px;
              padding-bottom: 20px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .InnerNewsPage {
    &Title {
      margin-bottom: 10px;

      &Text {
        font-size: 20px;
      }
    }

    &Container {
      &Left {
        &Header {
          &Img {
            padding-bottom: 30px;

            img {
              max-height: 300px;
            }
          }
        }

        &Body {
          &Information {
            &Title {
              font-size: 16px;
            }

            &Content {
              font-size: 10px;
              line-height: 26px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 630px) {
  .InnerNewsPage {
    &Title {
      &Date {
        font-size: 10px;
        padding-left: 8px;
        margin-bottom: 5px;
      }

      &Text {
        font-size: 16px;
      }
    }
  }
}
