.Tab {
  padding: 2px 2px 2px 18px;
  background: var(--product-details-bg);
  border-radius: 33.5px;
  display: flex;
  align-items: center;
  font-family: "Poppins";

  span:nth-child(1) {
    margin-right: 12px;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
  }

  span:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 25px;
    background: #FFFFFF;

    img {
      width: 100%;
    }

    svg {
      width: 18px;
      height: 18px;
      color: #ea2427;
    }
  }

}

.LoanTerm {
  width: 100%;
  background: var(--product-details-bg);
  border-radius: 16px 16px 0px 0px;
  padding-top: 12px;

  &Title {
    font-weight: 400;
    font-size: 10px;
    line-height: 112.1%;
    color: var(--text-primary);
    opacity: 0.6;
    margin-bottom: 12px;
    padding-inline: 24px;
  }

  &Text {
    font-weight: 700;
    font-size: 18px;
    line-height: 112.1%;
    color: var(--text-primary);
    padding-inline: 24px;

  }

  span {
    padding: unset;
    bottom: -8px;
  }
}

.InitialPayment {
  width: 100%;
  background: var(--product-details-bg);
  border-radius: 16px 16px 0px 0px;
  padding-top: 12px;

  &Title {
    font-weight: 400;
    font-size: 10px;
    line-height: 112.1%;
    color: var(--text-primary);
    opacity: 0.6;
    margin-bottom: 12px;
    padding-inline: 24px;
  }

  &Text {
    font-weight: 700;
    font-size: 18px;
    line-height: 112.1%;
    color: var(--text-primary);
    padding-inline: 24px;
    svg {
      width: 14px;
    }
  }

  span {
    padding: unset;
    bottom: -8px;
  }
}

.BottomSection {
  margin-top: 40px;

  &Title {
    p {
      font-weight: 400;
      font-size: 15px;
      line-height: 22px;
      color: var(--text-primary);
    }
  }

  &Text {
    display: flex;
    align-items: baseline;

    &Left {
      margin-right: 24px;

      span {
        font-weight: 700;
        font-size: 40px;
        line-height: 60px;
        color: var(--text-primary);
        svg {
          width: 14px;
        }
      }
    }

    &Right {
      span {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: var(--text-primary);
        opacity: 0.5;

        &:nth-child(1) {
          display: inline-flex;

          &:after {
            content: "";
            display: inline-block;
            width: 3px;
            height: 3px;
            background: var(--text-primary);
            border-radius: 50%;
            margin: 0 12px;
            align-self: center;
          }
        }
      }
    }
  }
}

.BottomBtn {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;

  button {
    text-transform: unset;
    color: #FFFFFF;
    padding: 12px 32px;
    background: #EA2427;
    border-radius: 14px;

    &:hover {
      background: #EA2427;
    }
  }
}

@media only screen and (max-width: 1400px) {
  .BottomSection {
    &Text {
      &Left {
        span {
          font-size: 18px;
        }
      }
    }
  }

  .BottomBtn {
    button {
      padding: 12px 24px;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .BottomSection {
    &Text {
      flex-direction: column;
    }
  }

  .BottomBtn {
    button {
      padding: 12px;
    }
  }
}

@media only screen and (max-width: 992px) {
  .LoanTerm {
    background: var(--product-details-bg);
  }

  .InitialPayment {
    background: var(--product-details-bg);
  }

  .BottomSection {
    margin-top: 48px;
    padding: 16px 24px;
    background: var(--slider-bg);
    border-radius: 16px;

    &Title {
      p {
        font-weight: 400;
        font-size: 8px;
        line-height: 12px;
      }
    }

    &Text {
      flex-direction: row;

      &Left {
        margin-right: 12px;

        span {}
      }
    }
  }

  .BottomBtn {
    button {
      width: 100%;
      padding-block: 16px;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: var(--f-to-0);
      background: var(--text-primary);
      margin-top: 16px;

      &:hover {
        background: var(--text-primary);
      }
    }
  }
}

@media only screen and (max-width: 385px) {
  .BottomSection {
    &Text {
      white-space: nowrap;

      &Left {
        margin-right: 4px;
      }

      &Right {
        span {
          font-size: 10px;
        }
      }
    }
  }
}