.Compare {
  width: 100%;
  background: var(--products-page-inner);
  padding-block: 40px 100px;

  &Wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 310px 1fr;
    grid-gap: 32px;
    padding-inline: 48px;

    &Left {
      width: 100%;

      .Filter {
        background: var(--slider-bg);
        border-radius: 16px;
        padding-right: 12px;
        padding-block: 14px;
        margin-bottom: 40px;
        box-shadow: 0px 16px 23px rgba(0, 0, 0, 0.01);

        &Wrapper {
          width: 100%;
          height: 490px;
          overflow-y: auto;
          padding: 18px 24px;

          &Title {
            font-weight: 500;
            font-size: 14px;
            line-height: 109.4%;
            margin-bottom: 16px;
            color: var(--text-primary);
          }

          &SearchInput {
            display: flex;
            align-items: center;
            padding: 12px 16px;
            border-radius: 12px;
            background: var(--f-to-0);
            margin-bottom: 24px;

            input {
              width: 100%;
              font-weight: 400;
              font-size: 12px;
              line-height: 18px;
              border: unset;
              background: var(--f-to-0);
              color: var(--text-primary);
            }

            svg {
              width: 12px;
              height: 12px;
              color: var(--text-primary);
            }
          }

          &Checkbox {
            .CheckboxItem {
              display: flex;
              align-items: center;
              margin-bottom: 12px;

              &Input {
                position: relative;
                width: 12px;
                height: 12px;

                input {
                  appearance: none;
                  z-index: 9;
                  width: 12px;
                  height: 12px;
                  position: absolute;
                  top: 0;
                  left: 0;
                }

                .Marker {
                  position: absolute;
                  top: 0;
                  left: 0;

                  svg {
                    position: absolute;
                    top: 3px;
                    left: 2px;
                    display: block;
                    width: 7px;
                    height: 7px;
                    color: #b1b1b1;
                  }

                  &:before {
                    content: '';
                    width: 12px;
                    height: 12px;
                    display: block;
                    position: absolute;
                    border: 1.5px solid #b1b1b1;
                    border-radius: 3px;
                  }
                }

                input:checked + .Marker {
                  svg {
                    color: #ffffff;
                  }

                  &:before {
                    border-color: #ea2427;
                    background: #ea2427;
                  }
                }
              }

              &Label {
                font-weight: 500;
                font-size: 12px;
                line-height: 18px;
                color: var(--text-primary);
                margin-left: 8px;
                pointer-events: none;
              }
            }
          }

          &Toggle {
            margin-top: 20px;

            button {
              background: unset;
              border: unset;
              font-weight: 500;
              font-size: 12px;
              line-height: 18px;
              color: blue;

              span {
                span {
                  margin-left: 10px;
                }
              }
            }

            &ArrowDown {
            }

            &ArrowUp {
              svg {
                transform: rotate(180deg);
              }
            }
          }
        }

        &Wrapper::-webkit-scrollbar-track {
          background: #f1f1f1;
          border-radius: 16px;
        }

        &Wrapper::-webkit-scrollbar {
          width: 4px;
          border-radius: 16px;
        }

        &Wrapper::-webkit-scrollbar-thumb {
          background: var(--gray-light4);
          height: 20px;
          border-radius: 16px;
        }
      }

      .Description {
        width: 100%;
        box-shadow: 0px 16px 23px rgba(0, 0, 0, 0.01);
        border-radius: 16px;
        background: var(--slider-bg);
        padding: 32px 24px;

        &Title {
          display: flex;
          align-items: baseline;
          padding-bottom: 24px;

          .SettingsBtn {
            font-family: 'Poppins';
            text-transform: unset;
            padding: unset;
            color: var(--text-primary);
            display: flex;
            flex-direction: column;
            margin-right: 24px;
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;

            &:hover {
              background: unset;
            }
          }

          .ShowDifferenceBtn {
            font-family: 'Poppins';
            text-transform: unset;
            padding: unset;
            color: var(--text-primary);
            opacity: 0.5;
            display: flex;
            flex-direction: column;
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;

            &:hover {
              background: unset;
            }
          }

          .Active {
            opacity: unset;
            font-weight: 600;

            &:after {
              content: '';
              background: #ea2427;
              border-radius: 4px;
              width: 100%;
              height: 2px;
            }
          }
        }

        &Item {
          padding-block: 16px;
          // border-top: 1px solid rgba(51, 51, 51, 0.1);
          border-top: 1px solid var(--card-border);

          &:last-child {
            border-bottom: unset;
          }

          span {
            font-weight: 700;
            font-size: 14px;
            line-height: 21px;
            color: var(--text-primary);
          }
        }
      }
    }

    &Right {
      width: 100%;
      overflow-x: auto;

      .ComparedProducts {
        width: 100%;

        &Title {
          margin-bottom: 8px;

          h2 {
            span {
              position: sticky;
              left: 0;
              font-weight: 600;
              font-size: 24px;
              line-height: 36px;
              color: var(--text-primary);
              opacity: 1;
            }
          }

          &Small {
            position: sticky;
            left: 0;
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            color: var(--text-primary);
            opacity: 0.5;
          }
        }

        &Category {
          display: none;
        }

        .txt {
          display: none;
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 18px;
          color: #333333;
          opacity: 0.6;
          margin-bottom: 12px;
        }

        &Body {
          display: flex;

          .ComparedProduct {
            margin-right: 48px;
            width: 240px;
            flex-shrink: 0;

            &:last-child {
              margin: unset;
            }
          }
        }

        .ComparedProduct {
          &Top {
            display: block;
            margin-bottom: 40px;
          }

          &TopMobile {
            display: none;
          }

          &Bottom {
            padding-top: 79px;

            &Text {
              padding-block: 16px;
              font-weight: 400;
              font-size: 14px;
              line-height: 24px;
              color: var(--text-primary);
              border-top: 1px solid var(--card-border);
            }

            &Description {
              display: none;
            }
          }
        }
      }
    }

    &Right::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    &Right::-webkit-scrollbar {
      height: 4px;
    }

    &Right::-webkit-scrollbar-thumb {
      background-color: #7a7a7a;
    }
  }
}
@media only screen and (min-width: 1440px) {
  .Compare {
    &Wrapper {
      width: 1340px;
      margin-inline: auto;
      padding-inline: 0;
    }
  }
}
@media only screen and (max-width: 1250px) {
  .Compare {
    &Wrapper {
      grid-template-columns: 290px 1fr;

      &Right {
        .ComparedProducts {
          &Title {
            h2 {
              font-size: 20px;
            }
          }

          &Body {
            .ComparedProduct {
              margin-right: 30px;

              &Bottom {
                &Text {
                  font-size: 13px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .Compare {
    &Wrapper {
      grid-template-columns: 260px 1fr;

      &Left {
        .Filter {
          height: 497px;

          &Title {
            font-size: 12px;
          }

          &SearchInput {
            padding: 6px 12px;
            margin-bottom: 24px;

            input {
              font-size: 10px;
            }
          }

          &Checkbox {
            .CheckboxItem {
              &Label {
                font-weight: 500;
                font-size: 11px;
              }
            }
          }
        }

        .Description {
          &Title {
            .SettingsBtn {
              font-size: 13px;
            }

            .ShowDifferenceBtn {
              font-size: 13px;
            }
          }

          &Item {
            span {
              font-size: 12px;
            }
          }
        }
      }

      &Right {
        .ComparedProducts {
          &Title {
            h2 {
              font-size: 18px;
            }
          }

          &Body {
            .ComparedProduct {
              margin-right: 30px;
              width: 200px;

              &Bottom {
                &Text {
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .Compare {
    width: 100%;

    &Wrapper {
      display: flex;
      padding-inline: 20px;

      &Left {
        display: none;
      }

      &Right {
        .ComparedProducts {
          &Title {
            margin-bottom: 8px;

            h2 {
              font-weight: 700;
              font-size: 16px;
              line-height: 106.2%;
              color: var(--text-primary);
            }

            span {
              font-weight: 400;
              font-size: 12px;
              line-height: 18px;
              color: var(--text-primary);
              opacity: 0.5;
            }
          }

          &Category {
            display: block;
            width: 100%;
            // max-width: 335px;
            margin-top: 10px;
            margin-bottom: 20px;
          }

          .txt {
            display: block;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            color: var(--text-primary);
            opacity: 0.6;
            margin-bottom: -12px;
          }

          &Body {
            width: 100%;
            overflow: hidden;
            overflow-x: scroll;
            padding-block: 20px;

            .ComparedProduct {
              width: 160px;
              margin-right: 8px;
            }
          }

          .ComparedProduct {
            &Top {
              display: none;
            }

            &TopMobile {
              display: block;
            }

            &Bottom {
              padding-top: 0;
              position: relative;

              &Text {
                display: flex;
                align-items: flex-end;
                font-weight: 700;
                font-size: 14px;
                height: 90px;
                border-top: none;
                border-bottom: 1px solid rgba(51, 51, 51, 0.1);
                padding-bottom: 10px;
                line-height: 106.2%;
              }

              &Description {
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 25px;
                left: 0;
                font-weight: 400;
                font-size: 12px;
                color: var(--text-primary);
                opacity: 0.6;

                .DescriptionItem {
                  display: flex;
                  align-items: flex-start;
                  height: 90px;
                  line-height: 106.2%;
                }
              }
            }
          }
        }
      }
    }
  }
}
