.ProductsPage {
  width: 100%;

  .ProductsInner {
    width: 100%;
    padding: 40px 48px 56px 48px;
    background: var(--bg-main);
    overflow: hidden;

    &Header {
      margin-bottom: 34px;

      &Title {
        margin-bottom: 20px;

        &Desktop {
          font-weight: 600;
          font-size: 24px;
          line-height: 36px;
          color: var(--text-primary);
        }

        &Mobile {
          display: none;

          .BackButton {
            cursor: pointer;
            width: fit-content;

            a {
              padding: 12px;
              background: var(--sidebar-bg-secondary);
              display: flex;
              border-radius: 12px;

              svg {
                color: var(--text-primary);
              }
            }
          }

          .Text {
            margin-left: 12px;

            p:nth-child(1) {
              font-weight: 700;
              font-size: 16px;
              line-height: 106.2%;
              color: var(--text-primary);
              margin-bottom: 4px;
            }

            p:nth-child(2) {
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
              line-height: 18px;
              color: var(--text-secondary);
            }
          }
        }
      }

      &MobileFilter {
        display: none;
        padding-bottom: 12px;

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-shrink: 0;
          padding: 6px 16px;
          border-radius: 12px;
          background: var(--info-card-second-bg);
          margin-right: 6px;
          font-weight: 500;
          font-size: 12px;
          line-height: 15px;
          color: var(--text-primary);

          &:last-child {
            margin-right: unset;
          }
        }

        .ActiveFilterBtn {
          background: var(--text-primary);
          color: var(--f-to-0);
        }
      }

      &Filter {
        display: flex;
        justify-content: space-between;
        padding-top: 12px;

        .FilterLeft {
          &Desktop {
            display: flex;

            li {
              margin-right: 24px;

              button {
                border: unset;
                background: unset;
                font-weight: 500;
                font-size: 14px;
                line-height: 21px;
                color: var(--text-primary);
                opacity: 0.5;
                padding-bottom: 6px;
              }
            }

            .ActiveLink {
              opacity: unset;
              border-bottom: 2px solid #ea2427;
            }
          }

          &Mobile {
            display: none;

            .FilterButton {
              background: var(--button-product);
              border-radius: 16px;
              padding: 10px 52px;
              text-transform: unset;

              span:nth-child(1) {
                svg {
                  color: #ea2427;
                }
              }

              span:nth-child(2) {
                color: #ea2427;
                margin-left: 8px;
                font-weight: 500;
                font-size: 14px;
                line-height: 21px;
              }
            }
          }
        }

        .FilterRight {
          &Buttons {
            button {
              border: unset;
              background: unset;
              padding: 10px;
              background: var(--pagination-bg);
              line-height: 0;
              border-radius: 10px;
              min-width: unset;

              &:nth-child(1) {
                margin-right: 16px;
              }

              svg {
                width: 12px;
                height: 12px;
                color: var(--text-primary);
              }
            }

            .ActiveButton {
              background: #ea2427;

              svg {
                color: #ffffff;
              }
            }
          }
        }
      }
    }

    &Body {
      display: flex;
      flex-direction: column;

      &Grid {
        display: grid;
        // grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        grid-template-columns: repeat(auto-fill, minmax(232px, 1fr));
        grid-gap: 32px;
        margin-bottom: 40px;
        overflow: hidden;
        transition: 1s cubic-bezier(0.42, 0, 0.14, 1.26);
        transform: translateY(50%);
        visibility: hidden;
        opacity: 0.1;
        order: 2;
        height: 0;
      }

      .GridActive {
        transform: translateY(0%);
        visibility: unset;
        opacity: unset;
        order: 1;
        height: auto;
      }

      &List {
        display: grid;
        grid-gap: 32px;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        transition: 1s cubic-bezier(0.42, 0, 0.14, 1.26);
        transform: translateY(50%);
        visibility: hidden;
        opacity: 0.1;
        order: 2;
        height: 0;
      }

      .ListActive {
        transform: translateY(0%);
        visibility: unset;
        opacity: unset;
        order: 1;
        height: auto;
      }
    }
    &MobileBody {
      display: none;
    }
  }

  .InfoCardContainer {
    background: var(--most-viewed-bg);
    padding-inline: 50px;
  }

  .LastSection {
    padding: 56px 48px;
    background: var(--products-page-inner);

    &Content {
      h2 {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: var(--text-primary);
        margin-bottom: 12px;
      }

      p {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: var(--text-primary);
      }
    }
  }
}

@media only screen and (min-width: 1440px) {
  .ProductsPage {
    .ProductsInner {
      &Header,
      &Body,
      &Pagination {
        margin-inline: auto;
        padding-inline: 0;
        width: 1050px;
      }
    }
    .LastSection {
      &Content {
        margin-inline: auto;
        padding-inline: 0;
        width: 1050px;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .ProductsPage {
    .ProductsInner {
      padding-inline: 20px;

      &Header {
        position: relative;

        &Title {
          &Desktop {
            display: none;
          }

          &Mobile {
            display: flex;
          }
        }

        &MobileFilter {
          display: flex;
          width: 100%;
          overflow-x: auto;
          position: absolute;
          top: 54px;
        }

        &Filter {
          padding-top: 48px;

          .FilterLeft {
            &Desktop {
              display: none;
            }

            &Mobile {
              display: block;
            }
          }

          .FilterRight {
            display: none;
          }
        }
      }
      &Body {
        display: none;
      }
      &MobileBody {
        // background-color: red;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 16px;
        margin-bottom: 32px;
        &Item {
          width: calc(33.33% - 11px);
        }
      }
    }

    .LastSection {
      padding-inline: 20px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .ProductsPage {
    .ProductsInner {
      &MobileBody {
        justify-content: space-between;
        row-gap: 24px;
        &Item {
          width: 44%;
        }
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .ProductsPage {
    .ProductsInner {
      &Body {
        &Grid {
          overflow: visible;
          grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
        }

        &List {
          grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        }
      }
    }
  }
}
@media only screen and (max-width: 500px) {
  .ProductsPage {
    .ProductsInner {
      &MobileBody {
        column-gap: 0;
        &Item {
          width: 48%;
        }
      }
    }
  }
}

@media only screen and (max-width: 392px) {
  .ProductsPage {
    .ProductsInner {
      &Header {
        &Filter {
          .FilterLeft {
            &Mobile {
              .FilterButton {
                border-radius: 14px;
                padding: 11px 40px;

                span:nth-child(2) {
                  margin-left: 8px;
                  font-size: 12px;
                  line-height: 14px;
                }
              }
            }
          }

          .FilterRight {
            &Buttons {
              button {
                padding: 16px 24px;
                border-radius: 14px;

                svg {
                  width: 10px;
                  height: 10px;
                }
              }
            }
          }
        }
      }

      &Body {
        &Grid {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
        }

        &List {
        }
      }
    }
  }
}

@media only screen and (max-width: 360px) {
  .ProductsPage {
    .ProductsInner {
      &MobileBody {
        justify-content: center;
        &Item {
          width: 70%;
        }
      }
    }
  }
}