.Header {
  display: flex;
  background-color: var(--bg-main);

  &Nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 48px;

    & .Theme_Search_Campaigns_Warapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 70%;

      & .Theme_Search_Warapper {
        display: flex;
        width: 60%;
        gap: 16px;

        & > * {
          padding: 35px 0;
        }

        & .HeaderNavSearchBar {
          width: 70%;
        }
      }

      & .CampaignsOthers {
        min-width: 240px;
        width: 35%;
        display: flex;
        font-size: 14px;
        align-items: center;
        justify-content: space-between;

        & > * {
          padding: 42px 0;
        }

        & > * {
          display: flex;
          align-items: center;
          justify-content: center;
          border-top: 3px solid transparent;

          & a {
            text-decoration: none;
            color: var(--text-primary);

            &:hover {
              text-decoration: underline;
            }
          }

          & button {
            color: var(--text-primary);
            border: 0;
            background-color: inherit;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        .Campaigns {
          border-top-color: var(--campaigns-nav-bg);
          font-weight: 700;
        }
      }
    }

    &Btns {
      display: flex;
      align-items: center;
      justify-content: space-between;
      // width: 240px;
      width: 27%;

      & a {
        height: 38px;
        width: 38px;
        line-height: 38px;
        text-align: center;
        display: inline-block;
        border-radius: 12px;
        color: var(--text-primary);
        background-color: var(--navbar-bg-main);
        transition: 0.3s;

        &:hover,
        .active {
          color: var(--white);
          background-color: var(--red-main);
        }
      }

      .MenuIcon {
        height: 38px;
        width: 38px;
        line-height: 38px;
        text-align: center;
        display: inline-block;
        border-radius: 12px;
        color: var(--text-primary);
        background-color: var(--navbar-bg-main);
        cursor: pointer;
        display: none;

        &:hover {
          color: var(--white);
          background-color: var(--red-main);
        }
      }

      .HeartIcon {
        position: relative;

        span {
          position: absolute;
          top: -5px;
          right: -5px;
          background-color: var(--red-main);
          border-radius: 14px;
          padding: 1px 4px;
          font-weight: 700;
          font-size: 8px;
          line-height: 12px;
          color: white;
        }
      }
    }
  }

  select {
    // border: none;
    appearance: none;
    // &::-webkit-scrollbar {
    //   display: none;
    // }

    // & > {
    border: 0;
    outline: 0px;
    box-shadow: unset;
    // }

    // -webkit-user-select: none;
    // -moz-user-select: none;
  }
}
@media (min-width: 1440px) {
  .Header {
    &Nav {
      max-width: 1050px !important;
      margin-inline: auto !important;
      padding-inline: 0 !important;
    }
  }
}
@media (max-width: 1200px) {
  .Header {
    & .Theme_Search_Campaigns_Warapper {
      width: 45%;

      & .Theme_Search_Warapper {
        width: 100%;
      }

      & .CampaignsOthers {
        display: none !important;
      }
    }

    & .HeaderNavBtns {
      width: 55%;
      justify-content: flex-end;
      gap: 15px;

      & .MenuIcon {
        display: block;
      }
    }
  }
}
