.SectionThree {
  // display: none;

  width: 100%;
  // padding: 80px 40px;
  padding: 80px 48px;
  // background: var(--f-to-0);
  background: var(--inner-news-bg);

  &Video {
    height: 550px;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    overflow: hidden;
    position: relative;

    &:hover {
      .VideoControls {
        display: flex;
      }
    }

    .VideoControls {
      display: none;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(51, 51, 51, 0.46);
      // display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s;

      &.OnPause {
        display: flex;
      }

      .PlayIcon {
        button {
          border: unset;
          background: unset;
          transition: 0.3s;

          &:hover {
            svg {
              // scale: 105%;
              transform: scale(1.05);
            }
          }

          svg {
            color: #ffffff;
            width: 111px;
            height: 111px;
            transition: 0.3s;
          }
        }
      }
    }

    .Text {
      position: absolute;
      bottom: 40px;
      left: 50%;
      transform: translateX(-50%);

      &Title {
        font-weight: 700;
        font-size: 10px;
        line-height: 15px;
        text-align: center;
        letter-spacing: 0.26em;
        color: #ffffff;
        margin-bottom: 16px;
      }

      &Main {
        font-weight: 700;
        font-size: 24px;
        line-height: 121.8%;
        text-align: center;
        color: #ffffff;
        max-width: 445px;
      }
    }

    .ClickToPause {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: red;
      top: 0;
      opacity: 0;
    }

    // .FullScreen {
    //   position: absolute;
    //   right: 20px;
    //   bottom: 15px;

    //   &Btn {
    //     background: unset;
    //     border: unset;

    //     svg {
    //       color: #ffffff;
    //       width: 20px;
    //       height: 20px;
    //     }
    //   }
    // }

    video {
      display: block;
      object-fit: cover;
    }
  }
}
@media (min-width: 1440px) {
  .SectionThree {
    padding-inline: 0;
    &Video {
      margin-inline: auto;
      padding-inline: 0;
      max-width: 1050px;
    }
  }
}
@media (max-width: 1024px) {
  .SectionThree {
    padding: 52px 20px !important;
  }
}

@media (max-width: 768px) {
  .SectionThree {
    &Video {
      height: 300px !important;

      .VideoControls {
        .PlayIcon {
          button {
            svg {
              width: 55px !important;
              height: 55px !important;
            }
          }
        }
      }

      .Text {
        width: 95%;
        bottom: 24px;

        &Title {
          margin-bottom: 8px;
        }

        &Main {
          font-size: 16px !important;
          max-width: unset;
        }
      }
    }
  }
}
