.UserOrdersItems {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 8px;
    padding-bottom: 60px;

    &Item {
        display: flex;
        gap: 16px;
        flex-grow: 1;
        padding: 16px;
        background: var(--user-profile-item-bg);
        border-radius: 16px;

        &Left {}

        &Right {
            width: 100%;

            &Top {
                display: flex;
                justify-content: space-between;
                margin-bottom: 12px;

                &Title {

                    &Name {
                        font-weight: 700;
                        font-size: 10px;
                        line-height: 15px;
                    }

                    &Count {
                        font-weight: 400;
                        font-size: 8px;
                        line-height: 12px;
                    }
                }

                &Date {
                    font-weight: 400;
                    font-size: 10px;
                    line-height: 15px;
                    opacity: 0.6;
                }
            }

            &Bottom {
                display: flex;
                justify-content: space-between;
                align-items: center;

                &Price {
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 109.4%;
                }

                &Operations {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 117.9%;
                    letter-spacing: -0.02em;
                    list-style: none;

                     li {
                         margin-top: 15px;
                         position: relative;
                     }

                     li:before {
                         position: absolute;
                         content: '';
                         top: 4px;
                         left: -16px;
                         width: 9px;
                         height: 9px;
                         border-radius: 100%;
                         background: #00AC07;
                     }
                }
            }
        }
    }
}