.HomeNewsSlider {
  padding: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  @media (max-width: 1024px) {
    padding: 50px 20px;
  }
  @media (min-width: 1440px) {
    padding-inline: 0;
    width: 1050px;
    margin: 0 0 0 50%;
    transform: translateX(-50%);
  }
  &Arrows {
    position: absolute;
    bottom: 85px;
    left: 20%;
    width: 115px;
    z-index: 1;

    display: flex;
    justify-content: space-between;

    @media (max-width: 1200px) {
      display: none;
    }
  }
}
