// @import "../../../styles/globalmixins";

.Layout {
  position: relative;
  .Header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 15;
  }
  main {
    margin-top: 142px;
  }
  .Footer {
    // display: none;
  }
}

@media (max-width: 1024px) {
  .Layout {
    main {
      margin-top: 92px;
    }
  }
}
@media (max-width: 768px) {
  .Layout {
    main {
      margin-top: 76px;
    }
  }
}
