.Card {
  width: fit-content;
  padding-top: 40px;

  &Body {
    width: 100%;
    padding: 0 16px;
    padding-top: 40px;
    padding-bottom: 16px;
    background: var(--product-card-bg);
    box-shadow: 0px 16px 23px rgba(0, 0, 0, 0.01);
    border-radius: 24px;
  }

  &Img {
    width: 100%;
    height: 235px;
    border: 1px solid #ededed;
    border-radius: 24px;
    background: #ffff;
    overflow: hidden;
    margin-top: -80px;
    position: relative;

    img {
      width: 100%;
    }

    &Item {
      position: absolute;
      left: 12px;
      top: 12px;

      .DiscountInfo {
        background: #ea2427;
        padding: 8px 12px;
        border-radius: 10px;
        font-weight: 700;
        font-size: 10px;
        line-height: 15px;
        color: #ffffff;
      }

      .CountInfo {
        padding: 8px 12px;
        background: #f4dd4b;
        color: #333333;
        border-radius: 10px;
        font-weight: 700;
        font-size: 10px;
        line-height: 15px;
      }
    }
  }

  &Info {
    display: flex;
    padding-block: 12px 5px;

    &Inner {
      &:nth-child(1) {
        margin-right: 15px;
      }

      span:nth-child(2) {
        margin-left: 6px;
        font-weight: 400;
        font-size: 10px;
        line-height: 15px;
        color: var(--text-primary);
      }
    }
  }

  &Title {
    h2 {
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: var(--text-primary);
    }
  }

  &Price {
    margin-top: 16px;
    display: flex;

    &Left {
      p:nth-child(1) {
        font-weight: 400;
        font-size: 10px;
        line-height: 15px;
        text-decoration-line: line-through;
        color: #ea2427;
        margin-bottom: 4px;
      }

      p:nth-child(2) {
        font-weight: 700;
        font-size: 20px;
        line-height: 109.4%;
        color: var(--text-primary);
        svg {
          height: 15px;
          width: 15px;
          display: inline-block;
          margin-left: 5px;
        }
      }
    }

    &Right {
      display: flex;
      align-items: flex-end;

      p {
        font-weight: 700;
        font-size: 20px;
        line-height: 109.4%;
        color: var(--text-primary);
        display: flex;
        align-items: flex-end;
        svg {
          width: 15px;
          display: inline-block;
          margin: 0 3px 0 7px;
        }

        &::before {
          content: '';
          height: 37px;
          opacity: 0.1;
          border: 1px solid var(--text-primary);
          margin: 0 16px;
        }

        span {
          color: gray;
          font-size: 10px;
        }
      }
    }
  }

  &Buttons {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    gap: 6%;

    button {
      border: unset;
      border-radius: 12px;
      padding: 12px 38px;
      flex-grow: 1;

      svg {
        width: 20px;
        height: 20px;
      }
    }

    &CartBtn {
      background: #fff;
      transition: 0.3s;

      &:hover {
        background: #ea2427;

        svg {
          color: #fff;
        }
      }
    }

    &FavBtn {
      background: var(--product-card-btn);
      transition: 0.3s;

      svg {
        color: var(--text-primary);
      }

      &:hover {
        background: #ea2427;

        svg {
          transform: scale(1.1);
          color: #fff;
        }
      }
    }
  }
}

.ListStyleCard {
  // width: fit-content;

  &Body {
    width: 100%;
    // min-height: 395px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    background: var(--product-card-bg);
    box-shadow: 0px 16px 23px rgba(0, 0, 0, 0.01);
    border-radius: 24px;

    &Item {
      display: flex;
    }
  }

  &Img {
    width: 100px;
    height: 100px;
    border: 1px solid #ededed;
    border-radius: 24px;
    background: #ffff;
    overflow: hidden;
    margin-right: 16px;
    position: relative;

    img {
      width: 100%;
    }

    &Item {
      position: absolute;
      left: 12px;
      top: 12px;

      .DiscountInfo {
        background: #ea2427;
        padding: 8px 12px;
        border-radius: 10px;
        font-weight: 700;
        font-size: 10px;
        line-height: 15px;
        color: #ffffff;
      }

      .CountInfo {
        padding: 8px 12px;
        background: #f4dd4b;
        color: #333333;
        border-radius: 10px;
        font-weight: 700;
        font-size: 10px;
        line-height: 15px;
      }
    }
  }

  &Info {
    display: flex;

    &Inner {
      &:nth-child(1) {
        margin-right: 15px;
      }

      span:nth-child(2) {
        margin-left: 6px;
        font-weight: 400;
        font-size: 10px;
        line-height: 15px;
        color: var(--text-primary);
      }
    }
  }

  &Title {
    h2 {
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: var(--text-primary);
    }
  }

  &Price {
    margin-top: 16px;
    display: flex;

    &Left {
      p:nth-child(1) {
        font-weight: 400;
        font-size: 10px;
        line-height: 15px;
        text-decoration-line: line-through;
        color: #ea2427;
        margin-bottom: 4px;
      }

      p:nth-child(2) {
        font-weight: 700;
        font-size: 20px;
        line-height: 109.4%;
        color: var(--text-primary);
        svg {
          width: 15px;
        }
      }
    }

    &Right {
      display: flex;
      align-items: flex-end;

      p {
        font-weight: 700;
        font-size: 20px;
        line-height: 109.4%;
        color: var(--text-primary);
        display: flex;
        align-items: flex-end;

        &::before {
          content: '';
          height: 37px;
          opacity: 0.1;
          border: 1px solid #000000;
          margin: 0 16px;
        }

        span {
          color: gray;
          font-size: 10px;
        }

        svg {
          width: 15px;
          padding-bottom: 4px;
        }
      }
    }
  }

  &Buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    button {
      border: unset;
      border-radius: 12px;
      padding: 12px;
      line-height: 0;

      svg {
        width: 20px;
        height: 20px;
      }
    }

    &CartBtn {
      background: #fff;
      transition: 0.3s;

      &:hover {
        background: var(--red-main);

        svg {
          color: #fff;
          transform: scale(1.1);
        }
      }
    }

    &FavBtn {
      background: var(--product-card-btn);
      transition: 0.3s;

      svg {
        color: var(--text-primary);
        transition: 0.3s;
      }

      &:hover {
        background: var(--red-main);

        svg {
          color: #fff;
          transform: scale(1.1);
        }
      }
    }
  }
}

@media only screen and (max-width: 551px) {
  .Card {
    &Img {
      height: 180px;

      &Item {
        .DiscountInfo {
          padding: 6px 10px;
          font-size: 9px;
        }
      }
    }

    &Title {
      h2 {
        font-size: 10px;
        line-height: 10px;
      }
    }

    &Price {
      margin-top: 10px;

      &Left {
        p:nth-child(1) {
          font-size: 10px;
          line-height: 15px;
          margin-bottom: 4px;
        }

        p:nth-child(2) {
          font-size: 16px;
        }
      }

      &Right {
        p {
          font-size: 16px;

          &::before {
            content: '';
            height: 28px;
            margin: 0 10px;
          }

          span {
            font-size: 8px;
          }
        }
      }
    }

    &Buttons {
      margin-top: 14px;

      button {
        padding: 12px 0px;

        svg {
          width: 18px;
          height: 18px;
        }
      }
    }
  }
}

@media only screen and (max-width: 475px) {
  .Card {
    &Img {
      height: 160px;

      &Item {
        .DiscountInfo {
          padding: 4px 6px;
          font-size: 8px;
          border-radius: 8px;
        }
      }
    }

    &Price {
      &Left {
        p:nth-child(1) {
          font-size: 6px;
        }

        p:nth-child(2) {
          font-size: 14px;
        }
      }

      &Right {
        p {
          font-size: 14px;

          &::before {
            content: '';
            height: 20px;
            margin: 0 8px;
          }

          span {
            font-size: 6px;
          }
        }
      }
    }

    &Buttons {
      button {
        padding: 8px 0px;

        svg {
          width: 14px;
          height: 14px;
        }
      }
    }
  }

  .ListStyleCard {
    &Img {
      width: 80px;
      height: 80px;
    }

    &Title {
      h2 {
        font-size: 10px;
        line-height: 18px;
      }
    }

    &Price {
      margin-top: 12px;

      &Left {
        p:nth-child(1) {
          font-size: 8px;
        }

        p:nth-child(2) {
          font-size: 12px;
        }
      }

      &Right {
        p {
          font-size: 12px;

          &::before {
            height: 20px;
            margin: 0 10px;
          }

          span {
            font-size: 8px;
          }
        }
      }
    }

    &Buttons {
      button {
        padding: 10px;

        svg {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}

@media only screen and (max-width: 392px) {
  .Card {
    width: 70%;

    &Img {
      height: 200px;
    }

    &Title {
      h2 {
        font-size: 12px;
        line-height: 21px;
      }
    }

    &Price {
      margin-top: 10px;

      &Left {
        p:nth-child(1) {
          font-size: 10px;
          line-height: 15px;
          margin-bottom: 4px;
        }

        p:nth-child(2) {
          font-size: 16px;
        }
      }

      &Right {
        p {
          font-size: 16px;

          &::before {
            content: '';
            height: 28px;
            margin: 0 12px;
          }

          span {
            font-size: 8px;
          }
        }
      }
    }

    &Buttons {
      margin-top: 14px;

      button {
        padding: 12px 0px;

        svg {
          width: 18px;
          height: 18px;
        }
      }
    }
  }

  .ListStyleCard {
    &Body {
      border-radius: 16px;
    }

    &Img {
      border-radius: 16px;
    }
  }
}

@media only screen and (max-width: 392px) {
  .ListStyleCard {
    &Img {
      width: 70px;
      height: 70px;
    }

    &Title {
      h2 {
        font-size: 8px;
      }
    }

    &Price {
      margin-top: 0px;

      &Left {
        p:nth-child(1) {
          font-size: 7px;
        }

        p:nth-child(2) {
          font-size: 10px;
        }
      }

      &Right {
        p {
          font-size: 10px;

          &::before {
            height: 18px;
            margin: 0 8px;
          }

          span {
            font-size: 7px;
          }
        }
      }
    }

    &Buttons {
      button {
        padding: 8px;

        svg {
          width: 14px;
          height: 14px;
        }
      }
    }
  }
}
