/* The container */
.Container {
  font-weight: 500;
  font-size: 12px;

  display: block;
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  // font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--text-primary);

  /* Hide the browser's default checkbox */
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    /* Show the checkmark when checked */
    &:checked ~ .Checkmark {
      background-color: red;
      border-color: red;

      &:after {
        border-color: white;
      }
    }
  }

  /* Create a custom checkbox */
  .Checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    height: 16px;
    width: 16px;
    border: 2px solid #b1b1b1;
    border-radius: 6px;
    transform: translateY(-50%);

    /* Create the checkmark/indicator (hidden when not checked) */
    &:after {
      content: "";
      position: absolute;
      left: 4px;
      top: 1px;
      width: 4px;
      height: 8px;
      border: solid #b1b1b1;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}
