.Sidebar {
  // =============== SIDEBAR ========== //
  background-color: var(--sidebar-bg-main);
  height: 100%;
  width: 285px;
  position: relative;

  &.Collapse {
    width: 100px;

    & .SidebarContentList > li {
      width: unset;
    }

    & .ListItemTitle {
      display: none;
    }
  }

  &Top {
    position: relative;
    padding: 25px 25px 40px 25px;

    &Logo {
      width: 60px;
      height: 60px;
    }

    & .SidebarToggle {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 20px;
      top: 35px;
      background-color: var(--sidebar-bg-secondary);
      padding: 10px;
      border-radius: 12px;
      outline: none;
      border: 0;

      &Btn {
        color: var(--text-primary);
      }
    }

    &Toggle {
      position: absolute;
      top: 35px;
      right: -5px;
      transform: translateX(100%);
      // margin-left: 16px;

      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--sidebar-bg-secondary);
      // background-color: var(--sidebar-bg-secondary);
      padding: 10px;
      border-radius: 12px;
      outline: none;
      border: 0;
      z-index: 5;

      &Btn {
        color: var(--text-primary);
      }
    }
  }

  &Content {
    height: calc(100% - 126px);

    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;

    &List {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      & > li {
        width: 100%;
        padding-inline: 25px;
        padding-block: 4px;

        & > a {
          border-radius: 16px;
          width: 100%;
          // display: inline-block;
          padding: 12px;
          text-decoration: none;
          display: flex;
          align-items: center;
          & .ListItemIcon {
            width: 20px;
            height: 20px;
            fill: var(--sidebar-bg-main);
            color: var(--sidebar-icon-color);
          }
          & .ListItemTitle {
            margin-left: 10px;
            color: var(--text-primary);
            font-size: 14px;
          }
        }

        // =============== SIDEBAR HOVER ========== //
        &:hover {
          & > a {
            background-color: var(--bg-main);
            & .ListItemIcon {
              color: red;
              fill: var(--bg-main);
            }
          }
          & .FirstSubcategoryBlur {
            display: block;
          }
          & .FirstSubcategory {
            display: block;
            min-width: 280px;
          }
        }
      }
    }
  }
}
// =============== 2ND SIDEBAR ========== //
.SecondSidebar {
  & .FirstSubcategoryBlur {
    // pointer-events: none;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(30px);
    height: 100vh;
    width: calc(100vw - 17px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
    display: none;
  }
  & .FirstSubcategory {
    white-space: nowrap;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 1px;
    transform: translateX(100%);
    background-color: var(--sidebar-bg-main);
    display: none;
    border-left: 2px solid var(--sidebar-bg-main);
    // width: 220px;

    &Top {
      padding-block: 63px;

      & .SubFirstSidebarToggle {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 20px;
        top: 35px;
        background-color: var(--sidebar-bg-secondary);
        padding: 10px;
        border-radius: 12px;
        outline: none;
        border: 0;

        &Btn {
          color: var(--text-primary);
        }
      }
    }

    &Content {
      border-left: 2px solid var(--sidebar-bg-secondary);
      // height: 100%;

      height: calc(100% - 126px);
      overflow: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
      -ms-overflow-style: none;
      scrollbar-width: none;

      &List {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        height: 100%;

        & > li {
          width: 100%;
          padding-inline: 25px;
          padding-block: 4px;

          & > a {
            border-radius: 16px;
            width: 100%;
            display: flex;
            padding: 12px;
            text-decoration: none;
            font-size: 14px;

            & .SecondListItemIcon {
              width: 20px;
              height: 20px;
              fill: var(--sidebar-bg-main);
              color: var(--sidebar-icon-color);
            }
            & .SecondListItemTitle {
              margin-left: 10px;
              color: var(--text-primary);

              display: flex;
              align-items: center;
              justify-content: space-between;
              width: 100%
            }
            & .SecondListItemExpandIcon {
              margin-left: 20px;
              svg {
                width: 10px;
                height: 10px;
              }
            }
          }

          // =============== 2ND SIDEBAR HOVER ========== //
          &:hover {
            & > a {
              background-color: var(--bg-main);
              & .SecondListItemIcon {
                color: red;
                fill: var(--bg-main);
              }
            }
            & .SecondSubcategory {
              display: block;
              min-width: 280px;
            }
          }
        }
      }
    }
  }
}
// =============== 3RD SIDEBAR ========== //
.ThirdSidebar {
  & .SecondSubcategory {
    white-space: nowrap;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 1px;
    transform: translateX(100%);
    background-color: var(--sidebar-bg-main);
    display: none;
    border-left: 2px solid var(--sidebar-bg-main);
    // width: 220px;

    &Top {
      padding-block: 63px;

      & .SubSecondSidebarToggle {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 20px;
        top: 35px;
        background-color: var(--sidebar-bg-secondary);
        padding: 10px;
        border-radius: 12px;
        outline: none;
        border: 0;

        &Btn {
          color: var(--text-primary);
        }
      }
    }

    &Content {
      border-left: 2px solid var(--sidebar-bg-secondary);
      // height: 100%;

      height: calc(100% - 126px);
      overflow: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
      -ms-overflow-style: none;
      scrollbar-width: none;

      &List {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        height: 100%;

        & > li {
          width: 100%;
          padding-inline: 25px;
          padding-block: 4px;

          & > a {
            border-radius: 16px;
            width: 100%;
            display: inline-block;
            padding: 12px;
            text-decoration: none;
            font-size: 14px;

            & .ThirdListItemIcon {
              width: 20px;
              height: 20px;
              fill: var(--sidebar-bg-main);
              color: var(--sidebar-icon-color);
            }
            & .ThirdListItemTitle {
              margin-left: 10px;
              color: var(--text-primary);
            }
          }

          &:hover {
            & > a {
              background-color: var(--bg-main);
              & .ThirdListItemIcon {
                color: red;
                fill: var(--bg-main);
              }
            }
          }
        }
      }
    }
  }
}
