.NewsVideoCardsContainer {
  padding-inline: 48px;
  padding-block: 56px;
  background: var(--inner-news-page-cards-bg);

  &Title {
    padding-bottom: 90px;

    &Top {
      letter-spacing: 1px;
      color: #ea2427;
      margin-left: 10px;
    }

    h1 {
      margin-left: 10px;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      color: var(--text-primary);
      line-height: 36px;
    }
  }

  &Items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2%;
    row-gap: 72px;

    &Top {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.26em;
      color: var(--red-main);
    }

    &Bottom {
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
      color: var(--text-primary);
    }
  }
}

.NewsCard {
  // background: #fff;
  background: var(--inner-news-card-bg);
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 24px;
  width: 23%;

  .NewsCardImg {
    position: relative;
  }

  .IconCard {
    color: #EA2427;
    margin-left: 6px;
  }

  .NewsCardText {
    background: #EA2427;
    width: max-content;
    padding: 6px 12px;
    border-radius: 8px;
    top: 12px;
    left: 10px;
    color: white;
    position: absolute;
    font-weight: 700;
    font-size: 10px;
    line-height: 15px;
  }

  &:hover {
    box-shadow: 0px 40px 52px rgba(0, 0, 0, 0.09);
  }

  .Video {
    margin-top: -50px;
    width: 100%;
    height: 196px;
    // height: 90%;
    border-radius: 24px;
    overflow: hidden;
    position: relative;

    // max-height: 531px;
    video {
      object-fit: cover;
    }

    &:hover {
      .VideoControls {
        display: flex;
      }
    }

    .VideoControls {
      display: none;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(51, 51, 51, 0.46);
      // display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s;
    }

    .OnPause {
      display: flex;
    }

    .PlayIcon {
      button {
        border: unset;
        background: unset;
        transition: 0.3s;

        &:hover {
          svg {
            // scale: 105%;
            transform: scale(1.05);
          }
        }

        svg {
          color: #ffffff;
          width: 40px;
          height: 40px;
          transition: 0.3s;
        }
      }
    }

    .Text {
      position: absolute;
      bottom: 40px;
      left: 50%;
      transform: translateX(-50%);

      &Title {
        font-weight: 700;
        font-size: 10px;
        line-height: 15px;
        text-align: center;
        letter-spacing: 0.26em;
        color: #ffffff;
        margin-bottom: 16px;
      }

      &Main {
        font-weight: 700;
        font-size: 24px;
        line-height: 121.8%;
        text-align: center;
        color: #ffffff;
        max-width: 445px;
      }
    }

    .FullScreen {
      position: absolute;
      right: 20px;
      bottom: 15px;

      &Btn {
        background: unset;
        border: unset;

        svg {
          color: #ffffff;
          width: 20px;
          height: 20px;
        }
      }
    }

    video {
      display: block;
    }
  }

  img {
    position: relative;
    width: 100%;
    height: 196px;
    margin-top: -50px;
  }

  h4 {
    margin-top: 24px;
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--text-primary);
  }

  p.NewsCardContent {
    margin-top: 12px;
    opacity: 70%;
    font-size: 13px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
  }

  .NewsCardEnd {
    display: flex;
    margin-top: 27px;
    justify-content: space-between;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: var(--text-primary);
    border-left: 2px solid var(--red-main);

    p.DateText {
      position: relative;
      margin-left: 10px;
    }
  }
}

@media only screen and (min-width: 1440px){
  .NewsVideoCardsContainer {
    &Title {
      margin-inline: auto;
      padding-inline: 0;
      width: 1340px;
    }
    &Items {
      margin-inline: auto;
      padding-inline: 0;
      width: 1340px;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .NewsCard {

    &Img {
      .Video {
        height: 150px;
      }
    }

    .NewsCardText {
      padding: 4px 8px;
      border-radius: 8px;
      font-size: 8px;
    }

    h4 {
      margin-top: 12px;
      font-size: 12px;
      line-height: 18px;
    }

    p.NewsCardContent {
      margin-top: 5px;
      font-size: 10px;
      line-height: 18px;
    }

    .NewsCardEnd {
      margin-top: 14px;
      font-size: 10px;
      line-height: 10px;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .NewsVideoCardsContainer {
    padding-inline: 20px;
    padding-block: 40px 40px;
  }
}

@media only screen and (max-width: 942px) {
  .NewsVideoCardsContainer {

    &Title {
      padding-bottom: 60px;

      &Top {
        font-size: 12px;
      }

      h1 {
        font-size: 20px;
      }
    }
  }

  .NewsCard {
    width: 30%;
  }
}

@media only screen and (max-width: 768px) {
  .NewsVideoCardsContainer {

    &Title {

      &Top {
        font-size: 10px;
      }

      h1 {
        font-size: 16px;
      }
    }
  }

  .NewsCard {
    width: 40%;
  }
}

@media only screen and (max-width: 630px) {
  .NewsVideoCardsContainer {
    &Title {
      padding-bottom: 70px;
      padding-left: 0px;

      &Top {
        margin-left: 0px;
      }

      h1 {
        margin-left: 0px;
      }
    }
  }

  .NewsCard {
    width: 48%;
    padding: 10px;
    border-radius: 14px;

    img {
      border-radius: 14px;
    }

    h4 {
      margin-top: 10px;
      font-size: 10px;
      line-height: 16px;
    }

    p.NewsCardContent {
      margin-top: 2px;
      font-size: 8px;
      line-height: 16px;
    }

    .NewsCardEnd {
      margin-top: 10px;
      font-size: 8px;
      line-height: 8px;
    }
  }
}

@media only screen and (max-width: 475px) {
  .NewsCard {
    &Img {
      .Video {
        height: 120px;
      }
    }

    .NewsCardText {
      top: 6px;
      left: 8px;
      line-height: 12px;
      padding: 2px 6px;
      border-radius: 6px;
      font-size: 6px;
    }

    h4 {
      margin-top: 10px;
      font-size: 7px;
      line-height: 12px;
    }

    p.NewsCardContent {
      margin-top: 2px;
      font-size: 7px;
      line-height: 12px;
    }

    .NewsCardEnd {
      margin-top: 6px;
      font-size: 7px;
    }
  }
}

@media only screen and (max-width: 400px) {
  .NewsCard {
    &Img {
      .Video {
        height: 100px;
      }
    }
  }
}

@media only screen and (max-width: 350px) {
  .NewsVideoCardsContainer {
    &Items {
      justify-content: center;
    }
  }

  .NewsCard {
    width: 70%;
  }
}