.Categories {
  &Mobile {
    display: none;
  }
  &Tablet {
    display: block;
  }
  background: var(--bg-main);
  padding: 50px;
  // &AccordionContainer {
  //   width: 100%;
  //   display: flex;
  //   padding: 50px 20px;
  //   justify-content: space-between;
  //   position: relative;
  //   &Item {
  //     width: 30%;
  //   }
  // }
  &Link {
    margin-top: 16px;
    a {
      display: inline-block;
      height: 100%;
      width: 100%;
      padding: 16px;
      background-color: var(--navbar-bg-main);
      color: var(--text-primary);
      border-radius: 16px;
    }
  }
}

@media (max-width: 1024px) {
  .Categories {
    padding: 50px 20px;
  }
}
@media (max-width: 480px) {
  .Categories {
    &Mobile {
      display: block;
    }
    &Tablet {
      display: none;
    }
  }
}
