.Basket {
  background: var(--bg-main);

  &Wrapper {
    color: var(--text-primary);
    width: 100%;
    padding: 32px 48px 32px 48px;
    margin: 0 auto auto auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3%;
  }

  &Form {
    width: 73%;
    flex-grow: 0;

    &Products {
      background: var(--user-sidebar-main);
      box-shadow: 0px 37px 52px rgba(0, 0, 0, 0.05);
      border-radius: 24px;
      padding: 40px;

      &Top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        &Stepper {
          width: 150px;
        }
      }

      &Item {
        margin-top: 56px;
        height: 115px;
        background: var(--navbar-bg-main);
        border-radius: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding: 16px;

        &Left {
          .ItemImg {
            height: 140px;
            width: 120px;
            border-radius: 24px;
            border: 1px solid #ededed;
            position: absolute;
            left: 16px;
            bottom: 16px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
              object-fit: contain;
              width: 70%;
            }

            background-color: #fff;
          }

          .ItemBody {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: 136px;
            height: 100%;

            &Title {
              font-size: 16px;
            }

            &Price {
              span:first-child {
                font-size: 10px;
                color: var(--red-main);
                text-decoration: line-through;
                svg {
                  width: 8px;
                }
              }

              span:last-child {
                font-weight: 700;
                font-size: 20px;
                svg {
                  width: 15px;
                }
              }
            }
          }
        }

        &Right {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 20px;

          .ItemAmount {
            background: var(--f-to-0);
            padding: 0 3px 0 3px;
            border-radius: 12px;

            button {
              border: 0;
              background: transparent;
              color: var(--text-primary);
              padding: 10px;
              height: 100%;
            }

            input {
              width: 30px;
              border: 0;
              text-align: center;
              background: var(--f-to-0);
              color: var(--text-primary);

              // remove number default input arrows
              -moz-appearance: textfield;

              &::-webkit-outer-spin-button,
              &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
              }
            }
          }
        }
      }

      &OrderItems {
        margin-top: 32px;
      }
    }

    &Delivery {
      margin-top: 48px;
      box-shadow: 0px 37px 52px rgba(0, 0, 0, 0.05);
      border-radius: 24px;
      padding: 40px;
      background: var(--user-sidebar-main);
      &Top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;

        &Header {
          font-weight: 600;
          font-size: 24px;
        }
        &Stepper {
          width: 150px;
        }
      }

      &Inputs {
        .InputGroup {
          margin-bottom: 30px;
        }
      }

      &Button {
        margin-top: 32px;
      }
    }

    &Payement {
      margin-top: 48px;
      box-shadow: 0px 37px 52px rgba(0, 0, 0, 0.05);
      border-radius: 24px;
      padding: 40px;
      background: var(--user-sidebar-main);

      &Top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        &Stepper {
          width: 150px;
        }
      }

      &Notice {
        font-weight: 400;
        font-size: 14px;
        opacity: 0.6;
      }

      &Option {
        width: 20%;
        padding-inline: 8px;
        min-width: 165px;
        margin-bottom: 16px;

        &Group {
          margin: 40px 0 56px 0;
          display: flex;
          justify-content: flex-start;
          flex-wrap: wrap;
        }

        &Item {
          width: 100%;
          height: 115px;
          cursor: pointer;

          input {
            display: none;
          }

          .Label {
            cursor: pointer;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            background-color: var(--payment-option-item-bg);
            padding: 8px;
            border-radius: 10px;

            &Top {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;

              &.checked {
                .LabelTopIcon {
                  svg {
                    color: red;
                  }
                }

                .LabelTopCheckSign {
                  background-color: var(--red-main);
                }
              }

              &Icon {
                padding: 10px 0 0 8px;

                svg {
                  width: 32px;
                  height: 32px;
                  color: var(--text-primary);
                }
              }

              &CheckSign {
                background-color: #cdcdcd;
                width: 24px;
                height: 24px;
                display: flex;
                border-radius: 50px;
                align-items: center;
                justify-content: center;

                svg {
                  color: white;
                }
              }
            }

            &Bottom {
              height: 100%;
              width: 100%;
              display: flex;
              flex-direction: column;
              justify-content: flex-end;
              align-items: flex-start;
              padding: 0 0 8px 8px;
              text-align: left;

              span:first-child {
                font-weight: 700;
                font-size: 16px;
              }

              span:last-child {
                font-size: 10px;
                opacity: 0.8;
              }
            }
          }
        }
      }

      &With {
        &Bonus {
          transition: 0.4s ease-in-out;
          overflow: hidden;

          &.expand {
            height: 320px;
            padding-left: 1px;
            opacity: 1;
          }

          &.collapse {
            height: 0;
            opacity: 0;
          }

          .PayWithBonusTop {
            margin-bottom: 24px;

            &Header {
              font-weight: 600;
              font-size: 24px;
            }
          }

          .PayWithBonusBottom {
            &Left {
              &Item {
                margin-bottom: 30px;
              }
            }

            &Right {
              display: flex;
              justify-content: center;
              align-items: flex-start;

              &Img {
                width: 345px;
                position: relative;
                flex-shrink: 0;

                img {
                  border-radius: 16px;
                  mix-blend-mode: multiply;
                  background-color: #333333;
                  filter: grayscale(1);
                  width: 100%;
                  height: 100%;
                }

                &Content {
                  color: white;
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  padding: 35px 35px 24px 35px;
                  display: flex;
                  flex-direction: column;
                  gap: 30px;

                  &Top {
                    display: flex;
                    flex-direction: column;

                    span:first-child {
                      font-weight: 500;
                      font-size: 14px;
                    }

                    span:last-child {
                      font-size: 12px;
                      opacity: 0.6;
                    }
                  }

                  &Barcode {
                    background-color: #fff;
                    width: 100%;
                    height: 85px;
                    border-radius: 16px;
                    display: flex;
                    padding: 10px 25px;
                    svg {
                      width: 100%;
                      height: 100%;
                    }
                  }
                }
              }
            }
          }
        }

        &Card {
          transition: 0.4s ease-in-out;
          overflow: hidden;

          &.expand {
            height: 385px;
            opacity: 1;
          }

          &.collapse {
            height: 0;
            opacity: 0;
          }

          .PayWithCardTop {
            margin-bottom: 24px;

            &Header {
              font-weight: 600;
              font-size: 24px;
            }
          }

          .PayWithCardBottom {
            display: flex;

            &Left {
              width: 50%;
              padding-right: 40px;
              padding-left: 1px;
              display: flex;
              justify-content: center;
              align-items: flex-start;
              flex-wrap: wrap;

              &Item {
                margin-bottom: 30px;
                width: 100%;
              }
            }

            &Right {
              width: 50%;

              .AddCartFormImg {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: flex-start;

                .FlipCard {
                  background-color: transparent;
                  width: 345px;
                  height: 200px;
                  perspective: 1000px;
                  align-self: center;

                  &.ShowBack {
                    .FlipCardInner {
                      transform: rotateY(180deg);
                    }
                  }

                  &Inner {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    transition: transform 0.6s;
                    transform-style: preserve-3d;

                    .FlipCardFront,
                    .FlipCardBack {
                      position: absolute;
                      width: 100%;
                      height: 100%;
                      -webkit-backface-visibility: hidden;
                      backface-visibility: hidden;

                      &Img {
                        width: 100%;
                        height: 100%;
                      }
                    }

                    .FlipCardFront {
                      border-radius: 16px;
                      overflow: hidden;

                      &Img {
                        border-radius: 16px;
                        mix-blend-mode: multiply;
                        background-color: rgba(51, 51, 51, 1);
                      }

                      &Body {
                        color: white;
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        display: flex;
                        align-items: flex-end;
                        justify-content: space-between;
                        font-weight: 200;
                        padding: 25px;

                        &Number {
                          letter-spacing: 2px;
                        }

                        &NameValidity {
                          display: flex;
                          justify-content: space-between;
                        }
                      }
                    }

                    .FlipCardBack {
                      border-radius: 16px;
                      mix-blend-mode: multiply;
                      background-color: rgba(51, 51, 51, 1);
                      transform: rotateY(180deg);

                      &Body {
                        position: absolute;
                        width: 100%;
                        display: flex;
                        top: 60%;
                        transform: translateY(-50%);
                        color: white;
                        align-items: center;
                        justify-content: space-between;
                        padding-inline: 25px;

                        &NameField {
                          width: 85%;
                          background: white;
                          color: black;
                          padding: 8px;
                          border-top-left-radius: 6px;
                          border-bottom-left-radius: 6px;
                          opacity: 0.6;
                        }

                        &CVV {
                          background: black;
                          padding: 8px;
                          border-top-right-radius: 6px;
                          border-bottom-right-radius: 6px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }

        &Cash {
          padding-bottom: 32px;
          font-size: 14px;

          transition: 0.4s ease-in-out;
          overflow: hidden;

          &.expand {
            height: 75px;
            opacity: 1;
          }

          &.collapse {
            height: 0;
            opacity: 0;
          }

          b {
            font-weight: 700;
          }

          span {
            opacity: 0.6;
          }
        }

        &Taksit {
          transition: 0.4s ease-in-out;
          // overflow: hidden;

          &.expand {
            // height: 475px;
            // background-color: RED;
            opacity: 1;
          }

          &.collapse {
            height: 0;
            opacity: 0;
          }

          &Top {
            margin-bottom: 24px;

            &Header {
              font-weight: 600;
              font-size: 24px;
            }
          }

          &Tabs {
            padding-bottom: 32px;

            .PayementDurationBtnGroup {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              gap: 16px;
              width: 100%;
              padding-bottom: 10px;
              overflow-x: auto;

              /* Track */
              &::-webkit-scrollbar {
                border-radius: 50px;
                height: 7px;
                background: rgba(255, 0, 0, 0.05);
                cursor: pointer;
              }

              /* Handle */
              &::-webkit-scrollbar-thumb {
                background: var(--red-main);
                border-radius: 50px;
              }

              .PayementDurationBtn {
                border-radius: 10px;

                .PayementDurationCheck {
                  border-radius: 10px;

                  display: inline-block;
                  width: 170px;
                  background-color: var(--navbar-bg-main);
                  position: relative;
                  padding: 16px;
                  cursor: pointer;

                  &Input {
                    display: none;
                  }

                  &Status {
                    position: absolute;
                    right: 8px;
                    top: 8px;
                    border-radius: 50px;
                    height: 24px;
                    width: 24px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #cdcdcd;

                    svg {
                      color: white;
                    }
                  }

                  &Body {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    span:first-child {
                      font-weight: 700;
                      font-size: 16px;
                    }

                    span:last-child {
                      font-size: 10px;
                      opacity: 0.8;
                      display: flex;
                      align-items: center;
                      gap: 3px;

                      svg {
                        width: 8px;
                      }
                    }
                  }
                }
              }
            }
          }

          &Bottom {
            display: flex;

            &Left {
              width: 50%;
              padding-right: 40px;
              padding-left: 1px;
              display: flex;
              justify-content: center;
              align-items: flex-start;
              flex-wrap: wrap;
              // gap: 30px;

              &Item {
                margin-bottom: 30px;
                width: 100%;
                // padding-right: 0;
              }
            }

            &Right {
              width: 50%;

              .AddCartFormImg {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                //   background-color: aqua;

                .FlipCard {
                  background-color: transparent;
                  width: 345px;
                  height: 200px;
                  perspective: 1000px;
                  align-self: flex-start;

                  &.ShowBack {
                    .FlipCardInner {
                      transform: rotateY(180deg);
                    }
                  }

                  &Inner {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    transition: transform 0.6s;
                    transform-style: preserve-3d;

                    .FlipCardFront,
                    .FlipCardBack {
                      position: absolute;
                      width: 100%;
                      height: 100%;
                      -webkit-backface-visibility: hidden;
                      backface-visibility: hidden;

                      &Img {
                        width: 100%;
                        height: 100%;
                      }
                    }

                    .FlipCardFront {
                      border-radius: 16px;
                      overflow: hidden;

                      &Img {
                        border-radius: 16px;
                        mix-blend-mode: multiply;
                        background-color: rgba(51, 51, 51, 1);
                      }

                      &Body {
                        color: white;
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        display: flex;
                        align-items: flex-end;
                        justify-content: space-between;
                        font-weight: 200;
                        padding: 25px;

                        &Number {
                          letter-spacing: 2px;
                        }

                        &NameValidity {
                          display: flex;
                          justify-content: space-between;
                        }
                      }
                    }

                    .FlipCardBack {
                      border-radius: 16px;
                      mix-blend-mode: multiply;
                      background-color: rgba(51, 51, 51, 1);
                      transform: rotateY(180deg);

                      &Body {
                        position: absolute;
                        width: 100%;
                        display: flex;
                        top: 60%;
                        transform: translateY(-50%);
                        color: white;
                        align-items: center;
                        justify-content: space-between;
                        padding-inline: 25px;

                        &NameField {
                          width: 85%;
                          background: white;
                          color: black;
                          padding: 8px;
                          border-top-left-radius: 6px;
                          border-bottom-left-radius: 6px;
                          opacity: 0.6;
                        }

                        &CVV {
                          background: black;
                          padding: 8px;
                          border-top-right-radius: 6px;
                          border-bottom-right-radius: 6px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &Right {
    position: sticky;
    background: var(--user-sidebar-main);
    top: 174px;
    right: 0;
    width: 24%;
    padding: 32px 24px 24px 24px;
    border-radius: 24px;
    box-shadow: 0px 37px 52px rgba(0, 0, 0, 0.05);

    &Top {
      &Header {
        font-size: 14px;
        opacity: 0.3;
      }
    }

    &Body {
      overflow-y: auto;
      height: 185px;

      &::-webkit-scrollbar {
        border-radius: 50px;
        width: 7px;
        background: rgba(255, 0, 0, 0.05);
      }

      &:hover {
        /* Handle */
        &::-webkit-scrollbar-thumb {
          background: var(--red-main);
          border-radius: 50px;
        }
      }

      &Item {
        margin-right: 10px;
        margin-top: 16px;
        padding-top: 16px;
        border-top: 1px solid rgba(0, 0, 0, 0.2);

        .ItemNamePrice {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          gap: 20%;

          .ItemName {
            font-weight: 500;
            font-size: 16px;
          }

          .ItemPrice {
            flex-shrink: 0;
            font-weight: 700;
            font-size: 12px;
            color: var(--red-main);
          }
        }

        .ItemCount {
          opacity: 0.3;
          font-weight: 500;
          font-size: 12px;
          padding: 1px 0;
        }
      }
    }

    &Total {
      margin-top: 20px;

      .TotalTop {
        &Title {
          opacity: 0.4;
          font-size: 14px;
        }

        &Price {
          font-weight: 700;
          font-size: 32px;

          svg {
            width: 22px;
          }
        }
      }

      .TotalBottom {
        border-top: 1px solid rgba(0, 0, 0, 0.2);

        &Text {
          font-weight: 500;
          font-size: 12px;
          opacity: 0.5;

          & > div {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            span {
              padding-top: 10px;
              svg {
              }
            }
          }
        }

        &Promocode {
          margin-top: 16px;
          background: var(--navbar-bg-main);
          padding: 16px;
          border-radius: 12px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 16px;

          svg {
            width: 24px;
            height: 18px;
            flex-shrink: 0;
          }

          input {
            border: 0;
            background: inherit;
            width: 100%;
            color: var(--text-primary);
          }
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  .Basket {
    &Wrapper {
      max-width: 1340px;
      margin-inline: auto;
      padding-inline: 0;
    }
  }
}
@media (max-width: 1300px) {
  .Basket {
    &Form {
      &Products {
        &Item {
          &Left {
            .ItemBody {
              &Title {
                // font-size: 14px;
              }
            }
          }
        }
      }
    }

    &Right {
      // padding: 32px 16px 24px 16px;

      &Body {
        &Item {
          .ItemNamePrice {
            // gap: 10%;
            .ItemName {
              // font-size: 13px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  .Basket {
    &Form {
      &Products {
        &Item {
          &Left {
            .ItemBody {
              &Title {
                font-size: 14px;
              }
            }
          }
        }
      }
      &Payement {
        &With {
          &Bonus {
            .PayWithBonusBottom {
              &Left {
                display: flex;
                align-items: flex-start;
                flex-wrap: wrap;
                gap: 2%;
                width: 100%;
                justify-content: flex-start;

                &Item {
                  width: 49%;
                }
              }
              &Right {
                display: none;
              }
            }
          }
        }
      }
    }

    &Right {
      padding: 32px 16px 24px 16px;

      &Body {
        &Item {
          .ItemNamePrice {
            gap: 10%;
            .ItemName {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  .Basket {
    &Wrapper {
      padding: 32px 20px;
    }
    &Form {
      width: 100%;
      &Products {
        display: none;
      }
      &Delivery {
        padding: 20px;
        margin-top: 0;
        &Top {
          &Stepper {
            display: none;
          }
        }
      }
      &Payement {
        padding: 20px;
        &Top {
          &Stepper {
            display: none;
          }
        }
        &Option {
          min-width: 160px;
          &Item {
            .Label {
              &Bottom {
                span:first-child {
                  font-weight: 500;
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }

    &Right {
      display: none;
    }
  }
}
@media (max-width: 768px) {
  .Basket {
    &Wrapper {
      padding: 0;
    }
    &Form {
      &Delivery {
        border-radius: 0;
        &Inputs {
          .InputGroup {
          }
        }
      }
      &Payement {
        border-radius: 0;
        &With {
          &Card {
            .PayWithCardBottom {
              &Left {
                width: 100%;
                padding-right: 0;
              }
              &Right {
                display: none;
              }
            }
          }
          &Taksit {
            &Bottom {
              &Left {
                width: 100%;
                padding-right: 0;
              }
              &Right {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 640px) {
  .Basket {
    &Form {
      &Payement {
        border-radius: 0;
        &With {
          &Bonus {
            .PayWithBonusBottom {
              &Left {
                &Item {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 480px) {
  .Basket {
    &Form {
      &Payement {
        &With {
          &Card {
            .PayWithCardBottom {
              &Left {
                &Item {
                  // background-color: red;
                  width: 100% !important;
                  padding-inline: 0 !important;
                }
              }
            }
          }
        }
      }
    }
  }
}
