.BasketMobile {
  background-color: var(--bg-main);
  color: var(--text-primary);
  padding: 10px 50px 30px;
  .Top {
    margin-bottom: 20px;
    .Header {
      font-weight: 700;
      font-size: 16px;
      margin: 0;
      opacity: 1;
    }
    .Count {
      font-size: 12px;
      opacity: 0.6;
    }
  }

  &Content {
    // background-color: aqua;
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;

    &Item {
      width: 48%;
      margin-bottom: 16px;
    }
  }
}

@media (max-width: 1024px) {
  .BasketMobile {
    padding: 10px 20px 30px;
    &Content {
      // background-color: aqua;
      width: 100%;
      justify-content: space-between;
      display: flex;
      flex-wrap: wrap;

      &Item {
        margin-bottom: 8px;
      }
    }
  }
}

@media (max-width: 768px) {
  .BasketMobile {
    &Content {
      gap: 0;
      flex-wrap: wrap;
      &Item {
        width: 100%;
      }
    }
  }
}
