.SectionFive {
  padding: 100px 48px 50px 48px;
  width: 100%;
  background: var(--f-to-0);

  &Content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(405px, 1fr));
    column-gap: 3%;
  }
  &Item {
    height: 310px;
    background: var(--f-to-0);
    border: 1px solid var(--info-card-border);
    box-sizing: border-box;
    border-radius: 24px;
    padding: 32px;
    position: relative;
    margin-bottom: 50px;

    &.Gray {
      background: var(--white-to-black);
      border: 0;
      .SectionFiveItemButton {
        a {
          background-color: var(--sidebar-bg-secondary);
          color: var(--text-primary);
        }
      }
    }

    &Title {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: var(--text-primary);
      margin-bottom: 8px;
    }

    &Text {
      max-width: 275px;
      font-weight: 700;
      font-size: 36px;
      line-height: 40px;
      text-transform: uppercase;
      color: var(--text-primary);
      position: absolute;
      z-index: 1;

      &::first-line {
        font-weight: 400;
      }
    }

    &Button {
      height: 100%;
      display: flex;

      a {
        display: inline-block;
        padding: 12px 24px;
        background: #333333;
        color: #ffffff;
        border-radius: 12px;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        margin-top: auto;
      }
    }

    &Img {
      width: 225px;
      height: 100%;
      position: absolute;
      top: -26px;
      right: 26px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &Right {
    height: 100%;
    background: var(--info-card-second-bg);
    box-sizing: border-box;
    border-radius: 24px;
    padding: 32px;
    position: relative;
    margin-bottom: 50px;

    &Title {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: var(--text-primary);
    }

    &Text {
      max-width: 262px;
      font-weight: 500;
      font-size: 36px;
      line-height: 40px;
      text-transform: uppercase;
      color: var(--text-primary);
      position: absolute;
      max-width: 262px;
      z-index: 1;
    }

    &Button {
      height: 100%;
      display: flex;

      a {
        display: inline-block;
        padding: 12px 24px;
        background: var(--info-card-details-btn);
        color: var(--text-primary);
        border-radius: 12px;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        margin-top: auto;
      }
    }

    &Img {
      width: 170px;
      position: absolute;
      top: -26px;
      right: 26px;

      img {
        width: 100%;
      }
    }
  }
}

@media (min-width: 1440px) {
  .SectionFive {
    padding-inline: 0;

    &Content {
      max-width: 1050px;
      margin-inline: auto;
      padding-inline: 0;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .SectionFive {
    padding-inline: 20px;
    padding-block: 40px 40px;

    &Title {
      padding-bottom: 30px;
    }
  }
}

@media only screen and (max-width: 630px) {
  .SectionFive {
    &Content {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
    &Item {
      height: 100%;
      margin-bottom: 50px;
      width: 100%;
      flex-grow: 1;
      padding: 24px;

      &Title {
        font-size: 10px;
        line-height: 18px;
      }

      &Text {
        font-size: 24px;
      }

      &Button {
        padding-top: 100px;

        a {
          font-size: 14px;
        }
      }

      &Img {
        width: 150px;
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  .SectionFive {
    &Content {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
    &Item {
      padding: 24px;
      margin-bottom: 40px;

      &Title {
        font-size: 8px;
        line-height: 12px;
      }

      &Text {
        width: 40%;
        font-size: 18px;
        line-height: 23px;
      }

      &Button {
        padding-top: 60px;
      }

      &Img {
        width: 100px;
        top: -16px;
        right: 16px;
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  .SectionFive {
    &Item {
      padding: 18px;
      margin-bottom: 35px;

      &Title {
        font-size: 6px;
        line-height: 12px;
      }

      &Text {
        width: 30%;
        font-size: 14px;
        line-height: 23px;
      }

      &Button {
        padding-top: 60px;

        a {
          padding: 6px 14px;
          font-size: 10px;
        }
      }

      &Img {
        width: 80px;
        top: -14px;
        right: 14px;
      }
    }
  }
}
