.carousel_img {
  height: 100vh;
  width: 100%;
  object-fit: fill;
  // background-attachment: fixed;
}
.search_body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0);

  & .body_top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 50px 80px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .logo {
      width: 65px;
      height: 65px;
    }

    & .brand {
      background: rgba(255, 255, 255, 0.2);
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 135px;
      height: 60px;
      padding-left: 12px;

      &_name {
        font-size: 14px;
        font-weight: 700;
        line-height: 21px;
      }

      &_detail {
        font-size: 8px;
        font-weight: 400;
        line-height: 12px;
      }
    }
  }

  & .body_middle {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & .searchbar {
      width: 45%;
      border-radius: 24px;
      padding: 16px 32px;
      position: relative;
      background: inherit;
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        // background-color: rgba(255, 255, 255, 0.7);
        box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.55);
        border: 1px solid rgba(255, 255, 255, 0.73);
        backdrop-filter: blur(5px);
        z-index: -1;
        border-radius: 24px;
      }

      & .input {
        background-color: inherit;
        border: 0;
        z-index: 1;
        display: inline-block;
        width: 100%;
      }

      & .searchIcon {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 0 15px;
        font-size: 24px;
      }

      & .search_dropdown {
        margin-top: 16px;

        &_autocomplete {
          width: 100%;
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-wrap: wrap;
          a {
            width: 100%;
            padding: 16px 0;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            font-weight: 500;
            font-size: 14px;
            color: #191919;
            display: flex;
            align-items: center;
            svg {
              height: 18px;
              width: 18px;
              display: inline-block;
              margin-right: 10px;
            }

            &:last-child {
              border-bottom: 0;
            }
          }
        }
        &_history {
          width: 100%;
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-wrap: wrap;
          a {
            width: 100%;
            padding: 16px 0;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            font-weight: 500;
            font-size: 14px;
            color: #191919;

            &:last-child {
              border-bottom: 0;
            }
          }
        }
      }

      &.focused {
        // padding-bottom: 0;
      }
    }

    .search_links {
      & a {
        background-color: #fff;
        text-decoration: none;
        color: black;
        font-size: 12px;
        font-weight: 500;
        padding: 8px 12px 8px 12px;
        border-radius: 32px;
        margin-inline: 10px;
        box-sizing: border-box;

        &:hover {
          outline: 1px solid black;
        }
      }
    }
  }

  .body_bottom {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);

    & .down_arrow {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 44px;
      width: 44px;
      border-radius: 24px;
      background: rgba(255, 255, 255, 0.55);
      border: 1px solid rgba(255, 255, 255, 0.73);
      box-sizing: border-box;
      backdrop-filter: blur(23px);
      cursor: pointer;
    }
  }
}

@media (max-width: 1024px) {
  .carousel_img {
    object-fit: cover;
    // background-attachment: fixed;
  }
  .search_body {
    & .body_top {
      padding: 50px 50px 0;
    }
    & .body_middle {
      // padding: 0 50px;
      & .searchbar {
        width: 70%;
      }
    }
  }
}

@media (max-width: 992px) {
  .search_body {
    & .body_top {
      padding: 50px 50px 0;
    }
    & .body_middle {
      & .searchbar {
        width: 70%;
      }
    }
  }
}

@media (max-width: 768px) {
  .search_body {
    padding: 50px 20px 0;
    & .body_top {
      & .logo {
        width: 48px;
        height: 48px;
      }
    }
    & .body_middle {
      padding: 0 20px;
      & .searchbar {
        width: 100%;
      }
      .search_links {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        gap: 8px;
        & a {
          margin-inline: unset;
          font-size: 10px;
        }
      }
    }
  }
}
