.BrandTopHeader {
    padding-inline: 48px;
    padding-top: 32px;
    background: var(--brands-bg);

    &Card {
        display: flex;
        flex-direction: column;
        // background: #F7F7F7;
        background-color: var(--brand-top-header-bg);
        box-shadow: 0px 16px 23px rgba(0, 0, 0, 0.01);
        border-radius: 24px;
        width: 100%;
        height: 100%;
        padding: 24px 40px 0 40px;

        &Top {
            display: flex;
            justify-content: space-between;
            margin-bottom: 32px;

            &Left {
                display: flex;
                gap: 24px;

                &Logo {
                    padding-top: 24px;
                }

                &Text {
                    padding-right: 100px;

                    &Title {
                        display: flex;
                        align-items: center;
                        margin-bottom: 16px;

                        span:nth-child(1) {
                            font-weight: 700;
                            font-size: 32px;
                            line-height: 38px;
                            color: var(--text-primary);
                        }

                        Button:nth-child(2) {
                            // width: 12px;
                            background-color: var(--brand-top-header-bg);
                            color: var(--text-primary);
                            opacity: 0.5;
                            transition: 0s;
                        }
                    }

                    &Information {
                        display: flex;
                        align-items: center;
                        gap: 35px;
                        margin-bottom: 16px;

                        &Left {
                            display: flex;
                            align-items: center;
                            gap: 8px;

                            span:nth-child(1) {
                                color: var(--red-main);
                            }

                            span:nth-child(2) {
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 24px;
                                color: var(--text-primary);
                                opacity: 0.5;
                            }
                        }

                        &Right {
                            display: flex;
                            align-items: center;
                            gap: 8px;

                            span:nth-child(1) {
                                color: var(--red-main);
                            }

                            span:nth-child(2) {
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 24px;
                                color: var(--text-primary);
                                opacity: 0.5;
                            }
                        }
                    }

                    &Description {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 26px;
                        color: var(--text-primary);
                    }
                }
            }

            &Right {
                display: flex;
                flex-direction: column;

                &Title {
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 23px;
                    color: var(--text-primary);
                    margin-bottom: 27px;
                }

                &Information {
                    display: flex;
                    gap: 24px;

                    &Day {
                        display: flex;
                        gap: 8px;

                        span:nth-child(1) {
                            font-weight: 700;
                            font-size: 24px;
                            line-height: 23px;
                            color: var(--red-main);
                        }

                        span:nth-child(2) {
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 23px;
                            color: var(--text-primary);
                        }
                    }

                    &Hour {
                        display: flex;
                        gap: 8px;

                        span:nth-child(1) {
                            font-weight: 700;
                            font-size: 24px;
                            line-height: 23px;
                            color: var(--red-main);
                        }

                        span:nth-child(2) {
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 23px;
                            color: var(--text-primary);
                        }
                    }

                    &Minutes {
                        display: flex;
                        gap: 8px;

                        span:nth-child(1) {
                            font-weight: 700;
                            font-size: 24px;
                            line-height: 23px;
                            color: var(--red-main);
                        }

                        span:nth-child(2) {
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 23px;
                            color: var(--text-primary);
                        }
                    }
                }
            }
        }

        &Bottom {
            margin-left: 122px;

            &NavLinks {
                display: flex;
                gap: 35px;

                &Home {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 21px;
                    padding-bottom: 12px;
                    color: var(--text-primary);
                    border-bottom: 2px solid var(--red-main);

                    // &active {
                    //     border-bottom: 2px solid var(--red-main);
                    // }
                }

                &AllProducts {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 21px;
                    color: var(--text-primary);
                    opacity: 0.5;
                }
            }
        }
    }

    &NavFilter {
        display: flex;
        gap: 3%;
        row-gap: 32px;
        padding-block: 24px 14px;
        width: 100%;
        overflow-x: auto;

        &Item {
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 20px;
            flex-shrink: 0;
            height: 64px;
            background: var(--nav-filter-bg);
            border: 1px solid var(--nav-filter-border-color);
            color: var(--text-primary);
            box-shadow: 0px 16px 23px rgba(0, 0, 0, 0.01);
            border-radius: 24px;
            padding: 10px 30px;
            cursor: pointer;

            &Left {
                .logo {
                    font-size: 25px;
                }
            }

            &Right {
                display: flex;
                flex-direction: column;

                a:nth-child(1) {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                }

                a:nth-child(2) {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 18px;
                }
            }
        }
    }

    &NavFilter::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    &NavFilter::-webkit-scrollbar {
        height: 3px;
    }

    &NavFilter::-webkit-scrollbar-thumb {
        background: var(--gray-light4);
    }
}

@media only screen and (max-width: 1024px) {
    .BrandTopHeader {
        padding-inline: 20px;

        &Card {
            &Top {
                margin: 0;

                &Left {

                    &Logo {
                        padding: 0;
                    }

                    &Text {
                        padding-right: 0px;

                        &Title {
                            margin-bottom: 8px;

                            span:nth-child(1) {
                                font-size: 24px;
                            }
                        }

                        &Information {

                            gap: 14px;

                            &Left {

                                span:nth-child(1) {
                                    font-size: 14px;
                                }

                                span:nth-child(2) {
                                    font-size: 14px;
                                }
                            }

                            &Right {

                                span:nth-child(1) {
                                    font-size: 14px;
                                }

                                span:nth-child(2) {
                                    font-size: 14px;
                                }
                            }
                        }

                        &Description {
                            display: none;
                        }
                    }
                }

                &Right {
                    display: none;
                }
            }
        }
    }
}

@media only screen and (max-width: 630px) {
    .BrandTopHeader {
        &Card {
            padding: 20px 20px 0 20px;

            &Top {

                &Left {
                    gap: 20px;

                    &Logo {
                        img {
                            width: 70px;
                            height: 70px;
                        }

                    }

                    &Text {

                        &Title {
                            margin-bottom: 0px;

                            span:nth-child(1) {
                                font-size: 18px;
                            }

                            Button:nth-child(2){
                                padding: 0;
                            }
                        }

                        &Information {

                            gap: 14px;

                            &Left {

                                span:nth-child(1) {
                                    font-size: 12px;
                                }

                                span:nth-child(2) {
                                    font-size: 12px;
                                }
                            }

                            &Right {

                                span:nth-child(1) {
                                    font-size: 12px;
                                }

                                span:nth-child(2) {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }

            &Bottom {
                margin-left: 90px;

                &NavLinks {
                    gap: 20px;

                    &Home {
                        font-size: 12px;
                        line-height: 10px;
                        padding-bottom: 10px;
                    }

                    &AllProducts {
                        font-size: 12px;
                        line-height: 10px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 375px){
.BrandTopHeader {
    &Card {
        padding: 15px 15px 0 15px;

        &Top {

            &Left {
                gap: 10px;

                &Logo {
                    img {
                        width: 50px;
                        height: 50px;
                    }

                }

                &Text {

                    &Title {
                        margin-bottom: 0px;

                        span:nth-child(1) {
                            font-size: 16px;
                        }

                        Button:nth-child(2) {
                            padding: 0;
                        }
                    }

                    &Information {

                        gap: 14px;

                        &Left {

                            span:nth-child(1) {
                                font-size: 10px;
                            }

                            span:nth-child(2) {
                                font-size: 10px;
                            }
                        }

                        &Right {

                            span:nth-child(1) {
                                font-size: 10px;
                            }

                            span:nth-child(2) {
                                font-size: 10px;
                            }
                        }
                    }
                }
            }
        }

        &Bottom {
            margin-left: 60px;

            &NavLinks {
                gap: 15px;

                &Home {
                    font-size: 10px;
                    line-height: 10px;
                    padding-bottom: 10px;
                }

                &AllProducts {
                    font-size: 10px;
                    line-height: 10px;
                }
            }
        }
    }
}
}