.Apply {
  color: var(--text-primary);
  //   background-color: red;
  height: 100%;

  &Top {
    margin-bottom: 32px;

    &Header {
      font-size: 24px;
      font-weight: 600;
    }
  }

  &Form {
    // background-color: red;
    height: calc(100% - 64px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &Body {
      // align-items: flex-start;
      width: 100%;
      height: fit-content;

      &Group {
        margin-bottom: 30px;
        // background-color: red;

      }
    }

    &Submit {
      // align-self: flex-end;
      width: 100%;
      display: flex;
      gap: 16px;
    }
  }
}