.checkbox {
  opacity: 0;
  position: absolute;

  &:checked {
    & + .label {
      background-color: var(--sidebar-bg-secondary);

      & .ball {
        transform: translateX(30px);
        background-color: #fff;
      }
    }
  }
}

.label {
  background-color: var(--sidebar-bg-main);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  padding: 10px;
  height: 38px;
  width: 70px;

  .MoonIcon {
    color: white;
  }

  .SunIcon {
    color: black;
  }

  .ball {
    background-color: #333;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    left: 4px;
    width: 30px;
    height: 30px;
    transition: 0.3s ease-in-out;
  }
}

@media (max-width: 768px) {
  .checkbox {
    opacity: 0;
    position: absolute;

    &:checked {
      & + .label {
        & .ball {
          transform: translateX(25px);
        }
      }
    }
  }
  .label {
    padding: 10px;
    height: 35px;
    width: 60px;
    .ball {
      top: 5px;
      left: 5px;
      width: 25px;
      height: 25px;
    }
  }
}
