.SearchBar {
  display: flex;
  align-items: center;
  background-color: var(--fff-to-333);
  color: var(--text-primary);
  // background-color: var(--searchbar-bg);
  // width: 325px;
  border-radius: 12px;
  overflow: hidden;
  padding: 12px 16px;

  &Button {
    border: none;
    background-color: inherit;
    // padding: 6px 18px;

    &Icon {
      font-size: 18px;
      color: var(--text-primary);
    }
  }

  &Input {
    border: none;
    outline: none;
    font-size: 12px;
    background-color: transparent;
    width: 100%;
    margin-right: 10px;
    color: var(--text-primary);
  }
}