.BrandList {
  margin-top: 36px;
  padding: 36px 48px 60px;
  background-color: var(--bg-main);
  color: var(--text-primary);

  &Container {
    display: flex;
    column-gap: 4%;

    &Sidebar {
      width: 312px;

      &ColLeft {
        background: var(--product-card-bg);
        border-radius: 16px !important;
        height: 962px;
        padding: 32px 20px;

        h3 {
          margin-bottom: 16px;
        }

        .RotateDown {
          transform: rotate(180deg);
        }

        .ProductsSidebarBrends {
          &Checkbox {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            padding-block: 5px;

            span {
              font-size: 12px;
            }
          }

          button {
            border: none;
            color: blue;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            background-color: inherit;
          }

          img {
            width: 12px;
            height: 8px;
            margin-left: 5px;
          }

          &SecondGroup {
            transition: all 0.3s ease-in-out;
            max-height: 0;
            overflow: hidden;
            opacity: 0;

            &Show {
              max-height: 200px;
              transition: all 0.3s ease-in-out;
              opacity: 1;
            }
          }
        }
      }
    }

    &ColRight {
      width: 100%;
      position: relative;
      h1 {
        font-size: 24px;
        font-weight: 600;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 32px;
      }

      .Filter {

        &Mobile {
          display: none;
          margin-bottom: 20px;

          .FilterButton {
            background: var(--button-product);
            border-radius: 16px;
            padding: 10px 52px;
            text-transform: unset;

            span:nth-child(1) {
              svg {
                color: #ea2427;
              }
            }

            span:nth-child(2) {
              color: #ea2427;
              margin-left: 8px;
              font-weight: 500;
              font-size: 14px;
              line-height: 21px;
            }
          }
        }
      }

      &Content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        &Box {
          width: 280px;
          height: 138px;
          background: var(--brend-list-item);
          box-shadow: 0px 16px 23px rgba(0, 0, 0, 0.01);
          border-radius: 16px;
          margin-bottom: 32px;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            width: 80%;
            height: 138px;
            border-radius: 16px;
            object-fit: contain;
            filter: grayscale(1);
            mix-blend-mode: multiply;
        
          }

          &:hover {
            background: var(--product-card-bg);

            img {
              // opacity: 1 !important;
              // background-color: #191919;
            }
          }
        }
      }
    }
  }


}

@media(min-width: 1440px) {
  .BrandList {
    &Container {
      max-width: 1340px;
      margin-inline: auto;
      padding-inline: 0;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .BrandList {

    padding-inline: 20px;

    .Filter {
      &Mobile {
        display: block;
      }
    }

    &Container {
      &Sidebar {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 656px) {
  .BrandList {
    &Container {
      &ColRight {
        &Content {
          justify-content: center;
        }
      }
    }
  }
}