.BrandList {
  // background-color: rgb(126, 126, 255);
  background-color: var(--bg-main);
  padding: 60px 48px;

  &Content {
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    width: 100%;
    display: flex;
    height: 215px;
  }

  &Item {
    width: 20%;
    height: 87px;

    & .BrandImage {
      object-fit: contain;
      width: 100%;
      height: 100%;
      filter: contrast(0);
    }
  }
}

@media (min-width: 1440px) {
  .BrandList {
    &Content {
      max-width: 1050px;
      margin-inline: auto;
      padding-inline: 0;
    }
  }
}

@media (max-width: 1024px) {
  .BrandList {
    // background-color: rgb(126, 126, 255);
    // background-color: var(--bg-main);
    // display: flex;
    // height: 215px;
    // padding: 60px;
    // justify-content: space-between;
    // gap: 30px;
    // align-items: center;
    // width: 100%;
    overflow: scroll;

    &Item {
      // min-width: 150px;
      flex-shrink: 0;
      // height: 87px;

      & .BrandImage {
        // object-fit: contain;
        // width: 100%;
        // height: 100%;
        // filter: contrast(0);
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .BrandList {
    padding-inline: 20px;
  }
}
