.PriceRange {
  width: 100%;

  &Inputs {
    display: flex;
    justify-content: space-between;
    gap: 5%;
    min-height: 40px;
    margin-bottom: 24px;

    input {
      max-width: 110px;
      border: none;
      border-radius: 12px;
      padding: 12px 16px;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      background: var(--fff-to-333);
      color: var(--text-primary);
    }
  }
}
