.AddCart {
  height: calc(100% - 80px);
  position: relative;

  &Top {
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;

    .AddCartHeader {
      font-weight: 600;
      font-size: 24px;
    }

    a {
      svg {
        height: 32px;
        width: 32px;
        color: red;
      }
    }
  }

  &Form {
    // background-color: red;
    height: calc(100% - 32px);
    // display: flex;
    // align-items: flex-start;
    // justify-content: flex-start;
    // flex-wrap: wrap;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-column-gap: 4%;
    grid-row-gap: 30px;

    &Body {

      // width: 50%;
      //   display: flex;
      //   flex-wrap: wrap;
      &Group {
        margin-bottom: 30px;
        // width: 50%;
        // background-color: green;
      }
    }

    &Img {
      // width: 50%;
      height: 100%;
      // display: flex;
      // justify-content: center;
      // align-items: flex-start;
      //   background-color: aqua;

      .FlipCard {
        background-color: transparent;
        width: 345px;
        height: 200px;
        perspective: 1000px;

        &.ShowBack {
          .FlipCardInner {
            transform: rotateY(180deg);
          }
        }

        &Inner {
          position: relative;
          width: 100%;
          height: 100%;
          transition: transform 0.6s;
          transform-style: preserve-3d;

          .FlipCardFront,
          .FlipCardBack {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;

            &Img {
              width: 100%;
              height: 100%;
            }
          }

          .FlipCardFront {
            border-radius: 16px;
            overflow: hidden;

            &Img {
              border-radius: 16px;
              mix-blend-mode: multiply;
              background-color: rgba(51, 51, 51, 1);
            }

            &Body {
              color: white;
              position: absolute;
              bottom: 0;
              width: 100%;
              display: flex;
              align-items: flex-end;
              justify-content: space-between;
              font-weight: 200;
              padding: 25px;

              &Number {
                letter-spacing: 2px;
              }

              &NameValidity {
                display: flex;
                justify-content: space-between;
              }
            }
          }

          .FlipCardBack {
            border-radius: 16px;
            mix-blend-mode: multiply;
            background-color: rgba(51, 51, 51, 1);
            transform: rotateY(180deg);

            &Body {
              position: absolute;
              width: 100%;
              display: flex;
              top: 60%;
              transform: translateY(-50%);
              color: white;
              align-items: center;
              justify-content: space-between;
              padding-inline: 25px;

              &NameField {
                width: 85%;
                background: white;
                color: black;
                padding: 8px;
                border-top-left-radius: 6px;
                border-bottom-left-radius: 6px;
                opacity: 0.6;
              }

              &CVV {
                background: black;
                padding: 8px;
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
              }
            }
          }
        }
      }
    }

    &Submit {
      align-self: flex-end;
      width: 100%;
      display: flex;
      gap: 16px;
    }
  }
}

@media only screen and (max-width: 425px) {
  .AddCart {

    &Form {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

      &Img {

        .FlipCard {
          width: 100%;
        }
      }
    }
  }
}