.CartsContent {
  height: 100%;
  position: relative;

  &Top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &Header {
      font-weight: 600;
      font-size: 24px;
    }
  }

  &Body {
    margin-top: 20px;
    margin-bottom: 60px;

    &Item {
      background-color: var(--navbar-bg-main);
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-block: 10px;
      padding: 5px 24px;
      border-radius: 24px;

      &:hover {
        background-color: rgba(128, 128, 128, 0.2);
      }

      &ImgGroup {
        display: flex;
        align-items: center;
        gap: 15px;
        font-weight: 600;
        font-size: 16px;
        color: var(--text-primary);

        div {
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 8px;
          height: 35px;
          width: 45px;
          background-color: #fff;
          padding: 5px 10px;

          img {
            height: 100%;
            width: 100%;
            object-fit: contain;
          }
        }
      }

      &Buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 18px;

        span {
          font-size: 14px;
          font-family: 'Poppins';
        }

        button {
          margin-inline: 5px;
          padding: 10px;
          border: 0;
          background-color: inherit;

          &:first-child {
            color: var(--user-table-operations-btn);
          }

          &:last-child {
            color: var(--red-main);
          }

          &:hover {

            // outline: 1px solid black;
            svg {
              transform: scale(1.2);
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .CartsContent {
    &Top {}

    &Body {
      &Item {
        padding: 0px 20px;

        &ImgGroup {

          div {
            height: 30px;
            width: 40px;
            padding: 5px 10px;
          }

          span {
            font-size: 12px;
          }
        }

        &Buttons {
          span {
            font-size: 12px;
          }

          button {
            margin-inline: 0px;

            &:first-child {
              font-size: 14px;
            }

            &:last-child {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .CartsContent {
    p {
      display: block;
    }

    &Top {
      &Header {
        font-size: 16px;
      }
    }

    &Body {
      &Item {
        flex-direction: column;
        align-items: flex-start;
        padding: 16px 16px 0px 16px;
        padding-bottom: 6px;
        margin-block: 16px;

        &ImgGroup {
          padding-bottom: 10px;

          div {
            height: 35px;
            width: 45px;
          }

          span {
            font-size: 12px;
          }
        }

        &Buttons {
          flex-direction: column;
          align-items: flex-start;
          gap: 0px;

          button {
            &:first-child {
              font-size: 20px;
            }

            &:last-child {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}