.CampaignsNews {

    &Items {
        background-color: var(--campaigns-item);
        padding-inline: 16px;
        border-radius: 24px;
        // height: 296px;
        height: 90%;
        width: 100%;

        &Item {
            position: relative;
            color: var(--text-primary);
            transform: translateY(-40px);

            &ImgWrapper {
                img {
                    width: 100%;
                    height: 196px;
                }

                &Button {
                    position: absolute;
                    top: 12px;
                    left: 12px;

                    button {
                        background: var(--red-main);
                        color: var(--white);
                        padding: 8px 12px;
                        border-radius: 10px;
                        border: unset;
                        font-weight: 700;
                        font-size: 10px;
                        line-height: 15px;
                    }
                }
            }

            &Content {
                padding: 18px 8px;

                &Title {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    padding-bottom: 24px;
                    color: var(--text-primary);
                }

                &Body {
                    display: flex;
                    gap: 24px;

                    &Day {
                        display: flex;
                        align-items: baseline;
                        gap: 8px;

                        span:nth-child(1) {
                            font-weight: 700;
                            font-size: 24px;
                            line-height: 23px;
                            color: var(--red-main);
                        }

                        span:nth-child(2) {
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 23px;
                            color: var(--text-primary);
                        }
                    }

                    &Hour {
                        display: flex;
                        align-items: baseline;
                        gap: 8px;

                        span:nth-child(1) {
                            font-weight: 700;
                            font-size: 24px;
                            line-height: 23px;
                            color: var(--red-main);
                        }

                        span:nth-child(2) {
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 23px;
                            color: var(--text-primary);
                        }
                    }

                    &Minutes {
                        display: flex;
                        align-items: baseline;
                        gap: 8px;

                        span:nth-child(1) {
                            font-weight: 700;
                            font-size: 24px;
                            line-height: 23px;
                            color: var(--red-main);
                        }

                        span:nth-child(2) {
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 23px;
                            color: var(--text-primary);
                        }
                    }
                }
            }
        }

    }
}

@media only screen and (max-width: 1440px) {

    .CampaignsNews {

        &Items {
            &Item {
                &Content {
                    &Body {

                        &Day {
                            gap: 4px;

                            span:nth-child(1) {
                                font-weight: 700;
                                font-size: 20px;
                            }

                            span:nth-child(2) {
                                font-weight: 400;
                                font-size: 12px;
                            }
                        }

                        &Hour {
                            gap: 4px;

                            span:nth-child(1) {
                                font-weight: 700;
                                font-size: 20px;
                            }

                            span:nth-child(2) {
                                font-weight: 400;
                                font-size: 12px;
                            }
                        }

                        &Minutes {
                            gap: 4px;

                            span:nth-child(1) {
                                font-weight: 700;
                                font-size: 20px;
                            }

                            span:nth-child(2) {
                                font-weight: 400;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .CampaignsNews {

        &Items {}
    }
}