.CampaignsNews_TopProducts_Wrapper {
  // display: none;

  background-color: var(--bg-main);
  // padding: 52px 48px;

  .CampaignsNews_TopProducts {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    padding: 0 48px 50px;

    .CampaignsNews {
      // background-color: green;
      width: calc(75% - 15px);
      display: flex;
      flex-direction: column;
      gap: 80px;

      .Campaigns {
        // background-color: green;
        padding-top: 60px;
        width: 100%;
        position: relative;

        &Slider {
          background-color: var(--navbar-bg-main);
          padding: 0 12px 5px 12px;
          border-radius: 24px;
          position: absolute;
          width: 100%;

          .CampaignsSlideItem {
            position: relative;

            .CampaignsImg {
              display: inline-block;
              width: 100%;
              // height: 100%;
              height: 270px;
              object-fit: cover;
              border-radius: 24px;
            }

            .CampaignsCaptions {
              position: absolute;
              bottom: 0;
              width: 100%;
              padding: 32px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              color: #ffffff;

              &Content {
                width: 50%;

                &Title {
                  font-size: 12px;
                  padding-block: 10px;
                }

                &Body {
                  font-size: 36px;
                  font-weight: 600;
                  line-height: 1.2;
                  letter-spacing: 4px;
                }
              }

              &Button {
                align-self: flex-end;

                button {
                  background-color: #fff;
                  color: #333333;
                  border: 0;
                  outline: none;
                  padding: 12px 24px;
                  font-size: 14px;
                  font-weight: 500;
                  border-radius: 12px;
                  filter: drop-shadow(10px 15px 5px rgba(0, 0, 0, 0.3));
                }
              }
            }
          }
        }
      }

      .News {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        // background-color: red;
        margin-top: 275px;
        // gap: 5%;
        gap: 30px;

        &SliderWrapper {
          position: relative;
          width: calc(33.33% - 15px);
          height: 305px;

          .NewsSlider {
            position: absolute;
            // width: 30%;
            width: 100%;
            background-color: var(--navbar-bg-main);
            padding-inline: 8px;
            border-radius: 24px;
            height: 300px;

            &Item {
              position: relative;
              padding-bottom: 50px;
              color: var(--text-primary);

              &ImgWrapper {
                img {
                  width: 100%;
                  height: 190px;
                  border-radius: 24px;
                  object-fit: cover;
                }
              }

              &Content {
                &Title {
                  font-weight: 700;
                  font-size: 16px;
                  padding-block: 8px;
                  margin-top: 16px;
                }

                &Body {
                  font-weight: 400;
                  font-size: 14px;
                  padding-block: 8px;
                }
              }

              &Expand {
                position: absolute;
                bottom: 10px;
                right: 5px;
                z-index: 5;
                font-size: 12px;
                // transform: translateY(50%);
              }
            }
          }
        }
      }
    }

    .TopProducts {
      width: calc(25% - 25px);
      padding-top: 60px;

      display: flex;
      flex-direction: column;
      gap: 80px;

      .Top5Products {
        position: relative;

        &CardTitle {
          background-color: var(--red-main);
          color: white;
          position: absolute;
          width: 80%;
          left: 50%;
          top: 0;
          transform: translate(-50%, -98%);
          border-top-right-radius: 24px;
          border-top-left-radius: 24px;
          border: 1px solid var(--navbar-bg-main);
          padding: 5px 12px;

          svg {
            height: 18px;
            width: 18px;
          }

          span {
            font-size: 10px;
            font-weight: 700;
            margin-inline: 10px;
          }
        }

        &CardBody {
          position: relative;
          background-color: var(--navbar-bg-main);
          z-index: 1;
          height: 275px;
          border-radius: 24px;
          color: var(--text-primary);
          padding: 5px 0 0 10%;

          &Item {
            margin-block: 10px;
            display: flex;
            gap: 5px;
            width: 100%;

            &ImgWrapper {
              width: 40px;
              height: 40px;

              img {
                height: 100%;
                width: 100%;
                display: inline-block;
              }
            }

            &Content {
              p {
                font-size: 12px;
                font-weight: 500;
                // background-color: #ea2427;
              }

              span {
                font-size: 10px;
                opacity: 0.5;
                // background-color: #333333;
              }
            }
          }
        }
      }

      .ProductsOfWeek {
        color: var(--text-primary);
        position: relative;

        &Top {
          color: #fff;
          position: absolute;
          width: 100%;
          padding-inline: 16px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          top: 0;
          transform: translateY(-95%);

          div {
            width: 100%;
            border-top-left-radius: 24px;
            border-top-right-radius: 24px;
            background-color: var(--red-main);
            padding: 8px 12px;

            svg {
              height: 18px;
              width: 18px;
            }

            span {
              font-weight: 700;
              font-size: 10px;
              margin-inline: 10px;
            }
          }
        }

        &Slider {
          width: 100%;
          position: relative;
          background-color: var(--navbar-bg-main);
          padding: 16px 8px;
          border-radius: 24px;
          height: 300px;

          &Item {
            &Img {
              // padding: 5px;
              border-radius: 16px;
              overflow: hidden;
              background-color: #4e8792;
              position: relative;

              img {
                width: 100%;
                height: 140px;
                object-fit: cover;
              }

              span {
                position: absolute;
                display: inline-block;
                left: 12px;
                bottom: 12px;
                padding: 8px 12px;

                font-weight: 700;
                font-size: 10px;
                line-height: 15px;
                text-align: center;
                color: #ffffff;

                // width: 87px;
                // height: 31px;
                // left: 892.5px;
                // top: 635px;
                background: #333333;
                border-radius: 21px;
              }
            }

            &Title {
              font-size: 14px;
              font-weight: 400;
              padding-top: 10px;
              line-height: 21px;
            }

            .ProductPrice {
              // padding: 0 16px;
              padding: 16px 0 24px 0;
              // padding-bottom: 24px;
              display: flex;
              align-items: stretch;

              &Left {
                p:nth-child(1) {
                  font-weight: 500;
                  font-size: 12px;
                  // line-height: 15px;
                  text-decoration-line: line-through;
                  color: #ea2427;
                  svg {
                    height: 7px;
                    width: 7px;
                    display: inline-block;
                    margin-left: 5px;
                  }
                }

                p:nth-child(2) {
                  font-weight: 700;
                  font-size: 20px;
                  // line-height: 109.4%;
                  color: var(--text-primary);
                  svg {
                    height: 15px;
                    width: 15px;
                    display: inline-block;
                    margin-left: 7px;
                  }
                }
              }

              &Right {
                display: flex;
                align-items: flex-end;

                p {
                  font-weight: 700;
                  font-size: 20px;
                  line-height: 109.4%;
                  color: var(--text-primary);
                  display: flex;
                  // align-items: flex-end;
                  vertical-align: baseline;

                  svg {
                    // height: 15px;
                    width: 15px;
                    display: inline-block;
                    margin: 0 3px 0 7px;
                  }

                  span {
                    color: gray;
                    font-size: 10px;
                  }
                }

                &::before {
                  content: '';
                  height: 37px;
                  opacity: 0.1;
                  border: 1px solid var(--card-breakline);
                  margin: 0 8px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.SectionFour {
  width: 100%;
  background: var(--white-to-black);
  padding-inline: 50px;
}

.SectionFive {
  display: none;

  padding: 60px 36px 0;
  width: 100%;
  background: var(--f-to-0);

  &Left {
    width: 100%;
    height: 310px;
    background: var(--f-to-0);
    border: 1px solid var(--info-card-border);
    box-sizing: border-box;
    border-radius: 24px;
    padding: 32px;
    padding-bottom: 45px;
    position: relative;

    &Title {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: var(--text-primary);
    }

    &Text {
      max-width: 262px;
      font-weight: 500;
      font-size: 36px;
      line-height: 40px;
      text-transform: uppercase;
      color: var(--text-primary);
      position: absolute;
      max-width: 262px;
      z-index: 1;
    }

    &Button {
      height: 100%;
      display: flex;

      a {
        display: inline-block;
        padding: 12px 24px;
        background: #333333;
        color: #ffffff;
        border-radius: 12px;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        margin-top: auto;
      }
    }

    &Img {
      width: 225px;
      position: absolute;
      top: -26px;
      right: 26px;

      img {
        width: 100%;
      }
    }
  }

  &Right {
    width: 100%;
    height: 310px;
    background: var(--info-card-second-bg);
    box-sizing: border-box;
    border-radius: 24px;
    padding: 32px;
    position: relative;

    &Title {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: var(--text-primary);
    }

    &Text {
      max-width: 262px;
      font-weight: 500;
      font-size: 36px;
      line-height: 40px;
      text-transform: uppercase;
      color: var(--text-primary);
      position: absolute;
      max-width: 262px;
      z-index: 1;
    }

    &Button {
      height: 100%;
      display: flex;

      a {
        display: inline-block;
        padding: 12px 24px;
        background: var(--info-card-details-btn);
        color: var(--text-primary);
        border-radius: 12px;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        margin-top: auto;
      }
    }

    &Img {
      width: 170px;
      position: absolute;
      top: -26px;
      right: 26px;

      img {
        width: 100%;
      }
    }
  }
}

.HomeNews {
  padding: 50px;
  background: var(--white-to-black);
  height: 610px;
  width: 100%;
  position: relative;
  @media (max-width: 1200px) {
    height: 510px;
  }
  @media (max-width: 1024px) {
    padding: 50px 20px;
  }

  @media (max-width: 768px) {
    height: 585px;
  }
  @media (max-width: 425px) {
    height: 650px;
  }
  &Top {
    &Title {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.26em;
      color: var(--red-main);
    }
    &Header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      h2 {
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        color: var(--text-primary);
      }
      a {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-decoration-line: underline;
        color: var(--text-primary);
        @media (max-width: 1024px) {
          display: none;
        }

        svg {
          height: 15px;
          width: 15px;
          display: inline-block;
          margin-left: 15px;
          color: var(--red-main);
        }
      }
    }
    @media (min-width: 1440px) {
      width: 1050px;
      margin-inline: auto;
      padding-inline: 0;
    }
  }
}

@media (min-width: 1440px) {
  .CampaignsNews_TopProducts_Wrapper {
    .CampaignsNews_TopProducts {
      margin-inline: auto;
      padding-inline: 0;
      max-width: 1050px;
    }
  }
}
@media (max-width: 1280px) {
  .CampaignsNews_TopProducts {
    .CampaignsNews {
      width: 100% !important;
    }

    .TopProducts {
      display: none !important;
    }
  }
}

@media (max-width: 1024px) {
  .CampaignsNews_TopProducts_Wrapper {
    .CampaignsNews_TopProducts {
      padding: 0 20px 50px;
    }
  }
  .SectionFour {
    padding-inline: 20px;
  }
}

@media (max-width: 768px) {
  .Campaigns {
    &Slider {
      padding: 0 6px !important;
      border-radius: 16px !important;

      .CampaignsSlideItem {
        .CampaignsImg {
          border-radius: 16px !important;
        }

        .CampaignsCaptions {
          height: 100% !important;
          padding: 16px !important;
          flex-direction: column !important;
          align-items: flex-start !important;
          justify-content: space-between !important;

          &Content {
            width: 100% !important;

            &Body {
              font-size: 24px !important;
            }
          }

          &Button {
            align-self: unset !important;
            margin-top: 30px;
          }
        }
      }
    }
  }

  .News {
    &SliderWrapper {
      height: 185px !important;

      .NewsSlider {
        height: 195px !important;
        padding-inline: 6px !important;
        border-radius: 16px !important;

        &Item {
          padding-bottom: 25px !important;

          &Content {
            &Title {
              margin-top: 8px !important;
            }

            &Body {
              display: none;
            }
          }

          &ImgWrapper {
            img {
              height: 145px !important;
              border-radius: 16px !important;
            }
          }

          &Expand {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .CampaignsNews_TopProducts {
    padding: 0 20px 50px !important;

    .CampaignsNews {
      gap: 0 !important;

      .Campaigns {
        &Slider {
          .CampaignsSlideItem {
            .CampaignsImg {
              height: 200px !important;
            }
          }
        }
      }

      .News {
        margin-top: 190px !important;
        flex-wrap: wrap;
        gap: 6% !important;

        &SliderWrapper {
          width: 47% !important;
          margin-top: 70px;

          .NewsSlider {
            height: 170px !important;

            &Item {
              &ImgWrapper {
                img {
                  height: 125px !important;
                }
              }
            }
          }
        }
      }
    }
  }
}
