// Space

// $space-x1: 8px;
// $space-x2: 16px;
// $space-x3: 24px;
// $space-x4: 32px;
// $space-x5: 40px;
// $space-x6: 48px;
// $space-x7: 56px;
// $space-x8: 64px;
// $space-x9: 72px;
// $space-x10: 80px;
// $space-x11: 88px;
// $space-x12: 96px;

// Colors
:root {
  // base colors
  --white: #fff;

  --gray-extra-light: #f5f5f5;
  --gray-extra-light2: #f7f7f7;
  --gray-extra-light3: #f3f3f3;
  --gray-light: #e6e6e6;
  --gray-light2: #7a7a7a;
  --gray-light3: #e5e5e5;
  --gray-light4: #939393;
  --gray-light5: #e9e9e9;
  --gray-light6: #f2f2f2;

  --red-main: #ea2427;

  --black: #000000;
  --black-light: #191919;
  --black-light2: #1a1a1a;
  --black-extra-light: #333333;

  // ui colors
  // --fff-to-lowerOpacity: #fff;
  --f7-to-00: var(--gray-extra-light2);
  --fff-to-333: #fff;
  --bg-main: var(--white);
  --sidebar-bg-main: var(--gray-extra-light);
  --navbar-bg-main: var(--gray-extra-light);
  --user-profile-item-bg: var(--gray-extra-light2);
  --sidebar-bg-secondary: var(--gray-light);
  --sidebar-icon-color: var(--gray-light2);
  --text-primary: var(--black-extra-light);
  --text-secondary: var(--gray-light4);
  --slider-bg: var(--gray-extra-light);
  --slider-indicator: var(--black-extra-light);
  --section-two: var(--gray-extra-light2);
  --campaigns-nav-bg: red;
  --footer-submit: red;
  --gray: #ededed;
  --card-border: #dedede;
  --white-to-black: #f7f7f7;
  --f-to-0: #ffffff;
  --info-card-border: #e0e0e0;
  --info-card-second-bg: #f5f5f5;
  --info-card-details-btn: #e8e8e8;
  --card-breakline: var(--black);
  --black-to-white: var(--black-extra-light);
  --footer-bg: var(--gray-extra-light2);
  --custom-slider-bg: var(--gray-extra-light);
  --custom-slider-dots: var(--black-extra-light);
  --info-box-shadow-first: var(--white);
  --info-box-shadow-second: rgba(0, 0, 0, 0.09);
  --user-sidebar-main: var(--white);
  --user-sidebar-secondary: var(--gray-extra-light);
  --product-card-bg: var(--gray-extra-light);
  --product-card-btn: rgba(0, 0, 0, 0.05);
  --products-page-inner: var(--white);
  --products-page-card: var(--gray-extra-light);
  --product-option-button: var(--gray-extra-light2);
  --most-viewed-bg: var(--gray-extra-light2);
  --button-product: rgba(234, 36, 39, 0.13);
  --mobile-navbar-border: unset;
  --user-button: var(--gray-light);
  --user-tab-btn-bg: var(--gray-extra-light);
  --user-tab-btn-bg-selected: var(--black-extra-light);
  --user-table-row-bg: var(--gray-extra-light);
  --user-table-operations-btn: gray;
  --pagination-bg: rgba(234, 36, 39, 0.1);
  --black-to-red: var(--black-extra-light);
  --product-details-inner-icon-bg: var(--gray-light5);
  --product-details-bg: var(--white);
  --product-details-btn-item: var(--gray-extra-light);
  --product-details-icon-bg: var(--gray-light5);
  --special-offer-bg: var(--slider-bg);
  --inner-news-bg: var(--white);
  --inner-news-sidebar-bg: var(--gray-extra-light);
  --inner-news-page-cards-bg: var(--gray-extra-light2);
  --inner-news-card-bg: var(--white);
  --campaigns-bg: var(--white);
  --campaigns-item: var(--gray-extra-light);
  --campaigns-inner-page-sidebar-bg: var(--gray-extra-light2);
  // <<<<<<< styles/_variables.scss
  --user-profile-input-bg: var(--white);
  --brands-bg: var(--white);
  --brand-top-header-bg: var(--gray-extra-light2);
  --brands-all-products-sidebar-bg: var(--gray-extra-light2);
  --nav-filter-bg: var(--white);
  --nav-filter-border-color: var(--gray-light6);
  --searchbar-bg: var(--white);
  --products-sidebar-bg: var(--gray-extra-light);
  --news-bg: var(--white);
  --bonus-bg: #f7f7f7;
  --add-btn: #fff;
  --payment-option-item-bg: var(--gray-extra-light3);
  --gender-man-btn-bg: var(--gray-light5);
  --gender-woman-btn-bg: var(--black-extra-light);
  --brend-list-item: white;

  [data-theme='dark'] {
    // --fff-to-lowerOpacity: rgba(255, 255, 255, 0.9);
    --f7-to-00: var(--black);
    --fff-to-333: #333;
    --add-btn: black;
    --bonus-bg: var(--black);
    --bg-main: var(--black);
    --sidebar-bg-main: var(--black-light2);
    --navbar-bg-main: var(--black-extra-light);
    --sidebar-bg-secondary: var(--black-extra-light);
    --sidebar-icon-color: #c4c4c4;
    --text-primary: var(--white);
    --text-secondary: var(--gray-light4);
    --slider-bg: var(--black-extra-light);
    --slider-indicator: var(--white);
    --section-two: var(--black-light);
    --campaigns-nav-bg: var(--white);
    --gray: var(--black-extra-light);
    --card-border: #404040;
    --white-to-black: #191919;
    --f-to-0: #000000;
    --info-card-border: #4d4d4d;
    --info-card-second-bg: #191919;
    --info-card-details-btn: #333333;
    --card-breakline: var(--white);
    --black-to-white: var(--white);
    --footer-bg: var(--black-light);
    --custom-slider-bg: var(--black-extra-light);
    --custom-slider-dots: var(--white);
    --info-box-shadow-first: rgba(255, 255, 255, 0.07);
    --info-box-shadow-second: rgba(0, 0, 0, 0.56);
    --user-sidebar-main: var(--black-light);
    --user-sidebar-secondary: var(--black);
    --product-card-bg: var(--black-light);
    --product-card-btn: var(--black-extra-light);
    --products-page-inner: var(--black-light);
    --products-page-card: var(--black-extra-light);
    --product-option-button: var(--black-extra-light);
    --most-viewed-bg: var(--black-light);
    --button-product: rgba(234, 36, 39, 0.13);
    --mobile-navbar-border: var(--gray-light2);
    --user-button: var(--black-light2);
    --user-tab-btn-bg: var(--black-extra-light);
    --user-tab-btn-bg-selected: var(--black);
    --user-table-row-bg: var(--black-extra-light);
    --user-table-operations-btn: var(--white);
    --pagination-bg: var(--black-extra-light);
    --black-to-red: var(--red-main);
    --product-details-inner-icon-bg: var(--black-light);
    --product-details-bg: var(--black-extra-light);
    --product-details-btn-item: var(--black-light);
    --product-details-icon-bg: var(--black-extra-light);
    --special-offer-bg: var(--black);
    --inner-news-bg: var(--black-extra-light);
    --inner-news-page-cards-bg: var(--black);
    --inner-news-card-bg: var(--black-extra-light);
    --inner-news-sidebar-bg: var(--black-light);
    --campaigns-bg: var(--black);
    --campaigns-item: var(--black-extra-light);
    --campaigns-inner-page-sidebar-bg: var(--black-extra-light);
    --user-profile-input-bg: var(--black-extra-light);
    --brands-bg: var(--black);
    --brand-top-header-bg: var(--black-extra-light);
    --brands-all-products-sidebar-bg: var(--black-extra-light);
    --nav-filter-bg: var(--black-extra-light);
    --nav-filter-border-color: var(--black-extra-light);
    --searchbar-bg: var(--black-light);
    --products-sidebar-bg: var(--black-extra-light);
    --news-bg: var(--black);
    --payment-option-item-bg: var(--black-extra-light);
    --gender-man-btn-bg: var(--black);
    --gender-woman-btn-bg: var(--gray-light5);
    --user-profile-item-bg: var(--black-extra-light);
    --brend-list-item: #333;
  }
}