@import '~bootstrap/scss/bootstrap';
@import 'reset';
@import 'fonts';
@import 'variables';
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';
// @import "globalmixins";

body {
  font-family: 'Poppins' !important;
  overflow-x: hidden;
}

.product-inner-slider {
  .carousel-root {
    .carousel-slider {
      background: #f7f7f7;
      border-radius: 16px;
      padding: 55px 55px 0 55px;

      img {
        height: 455px;
        object-fit: cover;
      }
    }

    .carousel {
      .thumbs-wrapper {
        .thumbs {
          .thumb {
            position: relative;
            width: 71px !important;
            height: 87px;
            border-radius: 16px;

            &:before {
              content: '';
              background: rgba(51, 51, 51, 0.5);
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
            }

            &:hover {
              border: unset;
            }
          }

          .selected {
            border: unset;

            &:before {
              content: unset;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1366px) {
  .product-inner-slider {
    .carousel-root {
      .carousel-slider {
        padding: 30px 40px 0 40px;

        // .carousel-slider {
        img {
          height: 410px;
          // object-fit: cover;
        }
        // }
      }

      .carousel {
        position: relative;
        .thumbs-wrapper {
          position: absolute;
          bottom: 0;
          left: 0;
          margin: 0;
          padding: 10px 20px;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .product-inner-slider {
    .carousel-root {
      .carousel-slider {
        background: #f7f7f7;
        border-radius: 32px;
        padding: 55px 55px 0 55px;

        // .carousel-slider {
        img {
          height: 455px;
          // object-fit: unset;
        }
        // }
      }

      .carousel {
        position: static;
        .thumbs-wrapper {
          position: static;
          padding: unset;
          margin: 20px;
          .thumbs {
            .thumb {
              position: relative;
              width: 71px !important;
              height: 87px;
              border-radius: 16px;

              &:before {
                content: '';
                background: rgba(51, 51, 51, 0.5);
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
              }

              &:hover {
                border: unset;
              }
            }

            .selected {
              border: unset;

              &:before {
                content: unset;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 475px) {
  .product-inner-slider {
    .carousel-root {
      .carousel-slider {
        border-radius: 16px;
        padding: 30px 30px 0 30px;
      }

      .carousel {
        .thumbs-wrapper {
          .thumbs {
            .thumb {
              position: relative;
              width: 50px !important;
              height: 62px;
              border-radius: 8px;
            }
          }
        }
      }
    }
  }
}

.CampaignsSlider {
  // background-color: blue !important;
  .slick-slider {
    bottom: 35px;

    .slick-list {
      cursor: grab;
      border-radius: 24px;
      overflow: hidden;

      &:active {
        cursor: grabbing;
      }

      .slick-slide {
        padding-inline: 10px;
      }
    }

    .slick-arrow {
      display: none !important;
    }

    .slick-dots {
      bottom: -30px;
      text-align: left;
      padding-inline: 33px;

      li {
        height: 8px;
        width: 8px;
        margin: 3px;
        padding: 0;
        opacity: 0.5;
        border-radius: 3px;
        overflow: hidden;

        button {
          background: var(--custom-slider-dots);
          height: 8px;
          width: 8px;
          margin: 0;
          padding: 0;

          &::before {
            content: none;
          }
        }

        &.slick-active {
          width: 18px;
          opacity: 1;

          button {
            width: 18px;
          }
        }
      }
    }
  }
}

// .NewsPage {
//   .slick-prev {
//     // display: block;
//     position: absolute;
//     left: 310px;
//     top: 560px;
//     border-radius: 16px;
//     background: #ffffff !important;
//     // border-radius: 16px;
//     padding: 22px 24px;
//     display: flex !important;
//     align-items: center;
//     justify-content: center;
//     z-index: 1;
//   }

//   .slick-next {
//     // border-radius: 16px;
//     background: #191919 !important;
//     border-radius: 16px;
//     padding: 22px 24px;
//     display: flex !important;
//     align-items: center;
//     justify-content: center;
//     z-index: 1;
//     // display: block;
//     position: absolute;
//     left: 370px;
//     top: 560px;
//   }

//   .slick-next:hover {
//     background: #191919 !important;
//   }

//   .slick-prev:hover {
//     background: #fff !important;
//   }

//   .slick-next::before {
//     content: url(../icons/arrowRightSlider.svg) !important;
//   }

//   .slick-prev::before {
//     content: url(../icons/arrowLeftSlider.svg) !important;
//   }

//   .slick-dots {
//     bottom: 30px;
//     text-align: left;
//     padding-inline: 33px;

//     li {
//       height: 8px;
//       width: 8px;
//       margin: 3px;
//       padding: 0;
//       opacity: 0.5;
//       border-radius: 3px;
//       overflow: hidden;

//       button {
//         background: var(--custom-slider-dots);
//         height: 8px;
//         width: 8px;
//         margin: 0;
//         padding: 0;

//         &::before {
//           content: none;
//         }
//       }

//       &.slick-active {
//         width: 18px;
//         opacity: 1;

//         button {
//           width: 18px;
//         }
//       }
//     }
//   }
// }

// .NewsPage {}

.SectionTwo {
  .container {
    padding: 0 !important;
  }
}

.NewsSlider {
  .slick-slider {
    bottom: 35px;

    .slick-list {
      cursor: grab;
      border-radius: 24px;
      overflow: hidden;

      &:active {
        cursor: grabbing;
      }

      .slick-slide {
        padding-inline: 10px;
      }
    }

    .slick-arrow {
      display: none !important;
    }

    .slick-dots {
      bottom: 5px;
      text-align: left;
      padding-left: 12px;
      width: 55%;
      background-color: var(--navbar-bg-main);

      li {
        height: 8px;
        width: 8px;
        margin: 3px;
        padding: 0;
        opacity: 0.5;
        border-radius: 3px;
        overflow: hidden;

        button {
          background: var(--custom-slider-dots);
          height: 8px;
          width: 8px;
          margin: 0;
          padding: 0;

          &::before {
            content: none;
          }
        }

        &.slick-active {
          width: 18px;
          opacity: 1;

          button {
            width: 18px;
          }
        }
      }
    }
  }
}

.ProductsOfWeekSlider {
  .slick-slider {
    height: 100%;
  }

  .slick-list {
    cursor: grab;
    border-radius: 24px;
    overflow: hidden;

    &:active {
      cursor: grabbing;
    }

    .slick-slide {
      padding-inline: 8px;
      // border-radius: 24px;
      // overflow: hidden;
    }
  }

  .slick-arrow {
    display: none !important;
  }

  .slick-dots {
    position: absolute;
    transform: translateY(40%);
    bottom: 0;
    text-align: left;
    padding-left: 12px;
    width: 55%;
    background-color: var(--navbar-bg-main);

    li {
      height: 8px;
      width: 8px;
      margin: 3px;
      padding: 0;
      opacity: 0.5;
      border-radius: 3px;
      overflow: hidden;

      button {
        background: var(--custom-slider-dots);
        height: 8px;
        width: 8px;
        margin: 0;
        padding: 0;

        &::before {
          content: none;
        }
      }

      &.slick-active {
        width: 18px;
        opacity: 1;

        button {
          width: 18px;
        }
      }
    }
  }
}

.products-pagination,
.BrandList {
  .MuiPagination-root {
    .MuiPagination-ul {
      li {
        .MuiButtonBase-root {
          background: var(--pagination-bg);
          margin: unset;
          padding: unset;
          font-weight: 700;
          font-size: 12px;
          line-height: 13px;
          border-radius: unset;
          color: var(--text-primary);

          svg {
            width: 6px;
            height: 9px;
            color: var(--text-primary);
          }

          &:hover {
            background: rgba(234, 36, 39);
            color: #fff;

            svg {
              color: #fff;
            }
          }
        }

        .Mui-selected {
          color: var(--red-main);

          &:hover {
            color: #fff;
          }
        }

        &:first-child {
          button {
            margin: unset;
            margin-right: 10px;
            padding: unset;
            border-radius: 12px;
          }
        }

        &:last-child {
          & button {
            margin: unset;
            margin-left: 10px;
            padding: unset;
            border-radius: 12px;
          }
        }

        &:nth-child(2) {
          button {
            border-radius: 12px 0 0 12px;
          }
        }

        &:nth-last-child(2) {
          button {
            border-radius: 0 12px 12px 0;
          }
        }
      }
    }
  }
}

.products-range-slider {
  .Mui-focusVisible {
    box-shadow: 0px 0px 0px 5px rgba(234, 36, 39, 0.16) !important;
    color: unset !important;
  }

  .MuiSlider-thumb {
    width: 16px;
    height: 16px;
    color: #ffffff;
    box-shadow: 0 0 0 5px rgba(234, 36, 39, 0.16) !important;

    &:hover {
      color: unset !important;
    }
  }
}

.SlickSlider {
  position: relative;

  .slick-slide {
    &-content {
      // background-color: red;
      position: relative;

      &-img {
        img {
          height: 620px;
          width: 75%;
          border-radius: 24px;
          object-fit: cover;
        }
      }

      &-text {
        background: var(--f7-to-00);
        color: var(--text-primary);
        position: absolute;
        right: 0;
        bottom: 0;
        width: 60%;
        border-radius: 24px;
        padding: 40px 100px 40px 40px;

        // background-color: yellow;
        &-date {
          padding-left: 12px;
          border-left: 2px solid var(--red-main);
          font-weight: 500;
          font-size: 12px;
          margin-bottom: 20px;
        }

        &-title {
          font-weight: 700;
          font-size: 32px;
          margin-bottom: 20px;
        }

        &-body {
          font-size: 14px;
          opacity: 0.5;
          margin-bottom: 20px;
        }
        &-btn {
          display: flex;
          a {
            background-color: #333333;
            color: #ffffff;
            padding: 16px 32px;
            border-radius: 16px;
            font-weight: 500;
            font-size: 14px;
          }
        }
      }
    }
  }

  .slick-dots {
    position: absolute;
    bottom: 35px;
    left: 40px;
    text-align: left;

    li {
      height: 8px;
      width: 8px;
      margin: 3px;
      padding: 0;
      opacity: 0.5;
      border-radius: 3px;
      overflow: hidden;

      button {
        background: var(--custom-slider-dots);
        height: 8px;
        width: 8px;
        margin: 0;
        padding: 0;

        &::before {
          content: none;
        }
      }

      &.slick-active {
        width: 18px;
        opacity: 1;

        button {
          width: 18px;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    // background-color: red;
    .slick-slide {
      height: 330px;
      &-content {
        &-img {
          img {
            height: 230px;
            width: 100%;
          }
        }
        &-text {
          bottom: -40%;
          width: 90%;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          padding: 20px;

          &-date {
            margin-bottom: 14px;
          }
          &-title {
            font-size: 18px;
            margin-bottom: 14px;
          }
          &-body {
            font-size: 12px;
            margin-bottom: 14px;
          }
          &-btn {
          }
        }
      }
    }
    .slick-dots {
      // position: absolute;
      // bottom: 35px;
      // left: 40px;
      // text-align: left;
      li {
        // height: 8px;
        // width: 8px;
        // margin: 3px;
        // padding: 0;
        // opacity: 0.5;
        // border-radius: 3px;
        // overflow: hidden;

        button {
          // background: var(--custom-slider-dots);
          // height: 8px;
          // width: 8px;
          // margin: 0;
          // padding: 0;

          &::before {
            // content: none;
          }
        }

        &.slick-active {
          // width: 18px;
          // opacity: 1;

          button {
            // width: 18px;
          }
        }
      }
    }
  }
  @media (max-width: 592px) {
    // background-color: red;
    .slick-slide {
      height: 420px;
      &-content {
        &-img {
          img {
            // height: 230px;
            // width: 100%;
          }
        }
        &-text {
          bottom: -85%;
          // width: 90%;
          // border-top-right-radius: 0;
          // border-bottom-right-radius: 0;
          // padding: 20px 50px 20px 20px;

          &-date {
            margin-bottom: 14px;
          }
          &-title {
            font-size: 18px;
            margin-bottom: 14px;
          }
          &-body {
            font-size: 12px;
            margin-bottom: 14px;
          }
          &-btn {
          }
        }
      }
    }
    // .slick-dots {
    //   // position: absolute;
    //   // bottom: 35px;
    //   // left: 40px;
    //   // text-align: left;
    //   li {
    //     // height: 8px;
    //     // width: 8px;
    //     // margin: 3px;
    //     // padding: 0;
    //     // opacity: 0.5;
    //     // border-radius: 3px;
    //     // overflow: hidden;

    //     button {
    //       // background: var(--custom-slider-dots);
    //       // height: 8px;
    //       // width: 8px;
    //       // margin: 0;
    //       // padding: 0;

    //       &::before {
    //         // content: none;
    //       }
    //     }

    //     &.slick-active {
    //       // width: 18px;
    //       // opacity: 1;

    //       button {
    //         // width: 18px;
    //       }
    //     }
    //   }
    // }
  }
}

.HomeNewsSlider {
  position: relative;

  .slick-slide {
    &-content {
      position: relative;

      &-img {
        img {
          height: 395px;
          width: 75%;
          border-radius: 24px;
          object-fit: cover;
        }
      }

      &-text {
        background: var(--bg-main);
        color: var(--text-primary);
        position: absolute;
        right: 0;
        bottom: 0;
        width: 60%;
        border-radius: 24px;
        padding: 40px;

        &-date {
          padding-left: 12px;
          border-left: 2px solid var(--red-main);
          font-weight: 500;
          font-size: 12px;
          margin-bottom: 20px;
        }

        &-title {
          font-weight: 700;
          font-size: 32px;
          margin-bottom: 20px;
        }

        &-body {
          font-size: 14px;
          opacity: 0.5;
          margin-bottom: 20px;
        }
        &-btn {
          display: flex;
          a {
            background-color: #333333;
            color: #ffffff;
            padding: 16px 32px;
            border-radius: 16px;
            font-weight: 500;
            font-size: 14px;
          }
        }
      }
    }
  }

  .slick-dots {
    position: absolute;
    bottom: 35px;
    left: 40px;
    text-align: left;

    li {
      height: 8px;
      width: 8px;
      margin: 3px;
      padding: 0;
      opacity: 0.5;
      border-radius: 3px;
      overflow: hidden;

      button {
        background: var(--custom-slider-dots);
        height: 8px;
        width: 8px;
        margin: 0;
        padding: 0;

        &::before {
          content: none;
        }
      }

      &.slick-active {
        width: 18px;
        opacity: 1;

        button {
          width: 18px;
        }
      }
    }
  }

  @media (max-width: 1200px) {
    .slick-slide {
      height: 330px;
      &-content {
        &-img {
          img {
            height: 230px;
            width: 100%;
          }
        }
        &-text {
          bottom: -40%;
          width: 90%;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          padding: 20px;

          &-date {
            margin-bottom: 14px;
          }
          &-title {
            font-size: 18px;
            margin-bottom: 14px;
          }
          &-body {
            font-size: 12px;
            margin-bottom: 14px;
          }
          &-btn {
          }
        }
      }
    }
    .slick-dots {
      top: 100px;
      right: 24px;
      bottom: unset;
      left: unset;
      text-align: right;
    }
  }
  @media (max-width: 768px) {
    .slick-slide {
      height: 380px;
      &-content {
        &-text {
          bottom: -65%;
        }
      }
    }
    .slick-dots {
      top: 120px;
    }
  }
  @media (max-width: 425px) {
    .slick-slide {
      height: 460px;
      &-content {
        &-text {
          bottom: -90%;
        }
      }
    }
    .slick-dots {
      top: 160px;
    }
  }
}

.star-rating {
  display: flex;

  .MuiRating-root {
    span {
      &:last-child {
        margin-right: 12px;
      }
    }
  }

  p {
    color: var(--text-primary);
  }
}

.product-rating {
  .MuiRating-root {
    .MuiRating-icon {
      margin-right: 16px;

      &:last-child {
        margin: unset;
      }
    }

    .MuiRating-iconEmpty {
      opacity: 0.5;
    }
  }
}

.credit-tab {
  .MuiBox-root {
    border: unset;
    padding: unset;
  }

  .MuiTabs-root {
    .MuiTabs-flexContainer {
      button {
        text-transform: unset;
        color: var(--text-primary);
        padding: unset;
        border-radius: 32px;
        min-height: unset;
        height: fit-content;
        margin-right: 16px;

        &:last-child {
          margin: unset;
        }
      }

      .Mui-selected {
        > div {
          background: var(--black-to-white);

          > span {
            color: var(--f-to-0);
          }
        }
      }
    }

    .MuiTabs-indicator {
      display: none;
    }
  }

  .MuiTypography-root {
    font-family: unset;
  }

  .Mui-focusVisible {
    box-shadow: 0px 0px 0px 3px rgba(234, 36, 39, 0.16) !important;
    color: unset !important;
  }

  .MuiSlider-thumb {
    width: 16px;
    height: 16px;
    box-shadow: 0 0 0 3px rgba(234, 36, 39, 0.16) !important;

    &:hover {
      color: unset !important;
    }
  }
}

.credit-toggle-mobile {
  .MuiBox-root {
    border: unset;
    padding: unset;

    .MuiTabs-root {
      button {
        color: var(--text-primary);
        min-height: unset;
        padding: unset;
        margin-right: 4px;
        border-radius: 32px;
        text-transform: unset;

        &:last-child {
          margin: unset;
        }

        > div {
          background: var(--slider-bg);

          > span:nth-child(1) {
            color: var(--text-primary);
          }
        }
      }

      .Mui-selected {
        > div {
          background: var(--text-primary);

          > span:nth-child(1) {
            color: var(--f-to-0);
          }
        }
      }

      .MuiTabs-indicator {
        display: none;
      }
    }
  }
}

.other-mobile {
  .MuiTabs-flexContainer {
    button {
      text-transform: unset;
    }
  }
}

.custom-slick-main {
  position: relative;

  .slick-list {
    border-radius: 24px;
  }

  .slick-dots {
    position: absolute;
    bottom: 40px;
    left: 40px;
    width: fit-content;

    li {
      background: #ffffff;
      opacity: 0.5;
      border-radius: 3px;
      width: 8px;
      height: 8px;
      margin: 0 4px;

      button {
        &::before {
          content: unset;
        }
      }
    }

    .slick-active {
      width: 17px;
      opacity: unset;
    }
  }

  .arrow-left {
    z-index: 2;
    background: unset;
    border: unset;
    padding: 12px 13px;
    background: #ffffff;
    backdrop-filter: blur(10px);
    border-radius: 16px;
    position: absolute;
    bottom: 40px;
    left: 26%;

    transition: 0.3s;

    &:hover {
      // scale: 110%;
      transform: scale(1.1);
    }

    svg {
      width: 23px;
      height: 23px;
    }
  }

  .arrow-right {
    z-index: 2;
    background: unset;
    border: unset;
    padding: 12px 13px;
    background: #333333;
    // backdrop-filter: blur(10px);
    border-radius: 16px;
    position: absolute;
    bottom: 40px;
    left: 32%;
    transition: 0.3s;

    &:hover {
      // scale: 110%;
      transform: scale(1.1);
    }

    svg {
      width: 23px;
      height: 23px;
      color: #ffffff;
    }
  }
}

.custom-row {
  .row {
    .col-lg-9 {
      .slider-container {
        .row {
          .col {
            padding: 0 21.5px;
          }
        }
      }
    }
  }
}

.custom-carousel {
  // max-width: 784px;
  .slick-slider {
    .slick-list {
      border-radius: 24px;
    }

    .slick-dots {
      position: absolute;
      bottom: 16px;
      left: 48px;
      width: fit-content;

      li {
        width: 8px;
        height: 8px;
        margin: 0 4px;

        button {
          width: 8px;
          height: 8px;
          background: var(--custom-slider-dots);
          opacity: 0.5;
          border-radius: 3px;

          &::before {
            content: '';
          }
        }
      }

      .slick-active {
        width: 17px;

        button {
          width: 17px;
          opacity: unset;
        }
      }
    }
  }

  &__item {
    max-width: 784px;
    padding-top: 40px;
    position: relative;
  }

  &__img {
    padding-bottom: 40px;
    display: inline-block;
    justify-content: center;
    border-radius: 24px;
    background: var(--custom-slider-bg);

    img {
      width: 100%;
      padding: 0 16px;
      margin-top: -40px;
    }
  }

  &__caption {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 48px;
    position: absolute;
    bottom: 72px;

    .caption-left {
      h2 {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #ffffff;
        margin-bottom: 8px;
      }

      p {
        max-width: 385px;
        font-weight: 500;
        font-size: 36px;
        line-height: 38px;
        text-transform: uppercase;
        color: #ffffff;
      }
    }

    .caption-right {
      a {
        background: #ffffff;
        box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.11);
        border-radius: 12px;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: #333333;
        padding: 12px 24px;
      }
    }
  }
}

.card-carousel {
  .custom-card-carousel {
    .slick-slider {
      .slick-dots {
        width: fit-content;
        position: absolute;
        bottom: 30px;
        left: 24px;

        li {
          width: 8px;
          height: 8px;
          margin: 0 4px;

          button {
            width: 8px;
            height: 8px;
            background: var(--custom-slider-dots);
            opacity: 0.5;
            border-radius: 3px;

            &::before {
              content: '';
            }
          }
        }

        .slick-active {
          width: 17px;

          button {
            width: 17px;
            opacity: unset;
          }
        }
      }
    }

    &__item {
      // aspect-ratio: 2/3;
      position: relative;
      height: 345px;
      padding-top: 40px;
    }

    &__img {
      padding: 0 16px;
      padding-bottom: 20px;
      padding-top: 40px;
      height: 100%;
      border-radius: 24px;
      background: var(--custom-slider-bg);

      img {
        width: 100%;
        height: 196px;
        margin-top: -80px;
      }
    }

    &__caption {
      position: absolute;
      bottom: 70px;
      left: 25px;

      h2 {
        margin-bottom: 15px;
        color: var(--text-primary);
        font-weight: 700;
        font-size: 16px;
        line-height: 109.4%;
      }

      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: var(--text-primary);
      }
    }

    &__link {
      width: fit-content;
      position: absolute;
      bottom: 20px;
      right: 20px;

      a {
        font-weight: 400;
        font-size: 12px;
        line-height: 109.4%;
        color: var(--text-primary);
      }
    }
  }
}

.product-deal-slider {
  position: relative;

  .slick-dots {
    width: fit-content;
    position: absolute;
    bottom: -30px;
    left: 0px;

    li {
      width: 8px;
      height: 8px;
      margin: 0 4px;

      button {
        width: 8px;
        height: 8px;
        background: var(--custom-slider-dots);
        opacity: 0.5;
        border-radius: 3px;

        &::before {
          content: '';
        }
      }
    }

    .slick-active {
      width: 17px;

      button {
        width: 17px;
        opacity: unset;
      }
    }
  }

  &__img {
    position: relative;
    height: 140px;
    background: #ffffff;
    border: 1px solid #dedede;
    box-sizing: border-box;
    filter: drop-shadow(0px 16px 23px rgba(0, 0, 0, 0.01));
    border-radius: 16px;

    img {
      width: 100%;
    }

    span {
      position: absolute;
      bottom: 12px;
      left: 12px;
      padding: 8px 12px;
      background: #333333;
      color: #ffffff;
      border-radius: 21px;
      font-weight: 700;
      font-size: 10px;
      line-height: 15px;
    }
  }

  &__title {
    margin-top: 5px;

    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: var(--text-primary);
    }
  }

  &__price {
    display: flex;
    align-items: flex-end;

    .price-left {
      span {
        font-weight: 400;
        font-size: 10px;
        line-height: 15px;
        text-decoration-line: line-through;
        color: #ea2427;
        margin-bottom: 5px;
      }

      p {
        font-weight: 700;
        font-size: 20px;
        line-height: 109.4%;
        color: var(--text-primary);
      }
    }

    .price-right {
      display: flex;

      p {
        font-weight: 700;
        font-size: 20px;
        line-height: 109.4%;
        color: var(--text-primary);

        span {
          color: gray;
          font-size: 10px;
        }
      }

      &::before {
        content: '';
        height: 37px;
        opacity: 0.1;
        border: 1px solid #000000;
        margin: 0 16px;
      }
    }
  }
}

.lang-select {
  .MuiSelectUnstyled-root {
    // design of lang dropdown button

    background-color: var(--navbar-bg-main);
    color: var(--text-primary);
    border: none;
    border-radius: 12px;
    font-weight: 700;
    font-size: 14px;
    height: 38px;
    width: 38px;
    transition: 0.3s;

    &:hover {
      background-color: var(--red-main);
      color: var(--white);
    }

    &.Mui-expanded {
      border-radius: 12px 12px 0 0;
    }
  }

  .MuiSelectUnstyled-popper {
    // design of opening listbox popup

    position: absolute;
    display: block;
    overflow: hidden;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: var(--navbar-bg-main);
    z-index: 1;
    box-shadow: 0 5px 5px gray;

    & > ul {
      // selecting ul inside of listbox popup

      & > li {
        // selecting li elements
        height: 38px;
        width: 38px;
        line-height: 38px;
        text-align: center;
        cursor: pointer;
        color: var(--text-primary);

        &:hover {
          background-color: var(--bg-main);
        }
      }
    }

    & .Mui-selected {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .lang-select {
    .MuiSelectUnstyled-root {
      // design of lang dropdown button
      border-radius: 8px;
      height: 35px;
      width: 35px;

      // &.Mui-expanded {
      //   border-radius: 12px 12px 0 0;
      // }
    }

    .MuiSelectUnstyled-popper {
      // design of opening listbox popup
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;

      & > ul {
        // selecting ul inside of listbox popup
        & > li {
          // selecting li elements
          height: 35px;
          width: 35px;
          line-height: 35px;
        }
      }
    }
  }
}

.modal-content,
.modal-header,
.modal-body,
.modal-footer {
  border: unset;
}

.modal {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(30px);
}

.modal-content {
  background: rgba(255, 255, 255, 0.87);
  backdrop-filter: blur(25px);
  border-radius: 16px;
}

.modal-header {
  align-items: flex-start;

  .btn-close {
    background-color: rgba(51, 51, 51, 0.4);
    border-radius: 15px;
    box-sizing: unset;
    width: unset;
    height: unset;
    padding: 13px;
    font-size: 10px;
  }
}

.modal-footer {
  justify-content: flex-start;
}

.Orders,
.OrdersMobile {
  height: 100%;

  .MuiTabs-root {
    margin-block: 16px 10px;

    .MuiTabs-scroller {
      position: relative;

      .MuiTabs-flexContainer {
        gap: 15px;
        // flex-wrap: wrap;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        flex-wrap: nowrap;
        overflow-x: scroll;
        padding-bottom: 14px;

        .TabCircle {
          color: #333333;
          // color: var(--f-to-0);
        }
      }
    }

    .MuiTabs-indicator {
      display: none;
    }
  }

  .MuiBox-root {
    padding: 0;
  }

  .MuiPagination-root {
    position: absolute;
    bottom: 0;
    width: 100%;

    .MuiPagination-ul {
      li {
        .MuiButtonBase-root {
          background: var(--pagination-bg);
          margin: unset;
          padding: unset;
          font-weight: 700;
          font-size: 12px;
          line-height: 13px;
          border-radius: unset;
          color: var(--text-primary);

          svg {
            width: 6px;
            height: 9px;
            color: var(--text-primary);
          }

          &:hover {
            background: rgba(234, 36, 39);
            color: #fff;

            svg {
              color: #fff;
            }
          }
        }

        .Mui-selected {
          color: #ea2427;

          &:hover {
            color: #fff;
          }
        }

        &:first-child {
          button {
            margin: unset;
            margin-right: 10px;
            padding: unset;
            border-radius: 12px;
          }
        }

        &:last-child {
          & button {
            margin: unset;
            margin-left: 10px;
            padding: unset;
            border-radius: 12px;
          }
        }

        &:nth-child(2) {
          button {
            border-radius: 12px 0 0 12px;
          }
        }

        &:nth-last-child(2) {
          button {
            border-radius: 0 12px 12px 0;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .OrdersMobile {
    .MuiTabs-root {
      .MuiTabs-scroller {
        .MuiTabs-flexContainer {
          flex-wrap: nowrap;
          overflow-x: auto;
          padding-bottom: 14px;
        }
      }
    }
  }
}

.Latest,
.Location,
.Carts {
  height: 100%;

  .MuiPagination-root {
    position: absolute;
    width: 100%;
    bottom: 0;

    .MuiPagination-ul {
      li {
        .MuiButtonBase-root {
          background: var(--pagination-bg);
          margin: unset;
          padding: unset;
          font-weight: 700;
          font-size: 12px;
          line-height: 13px;
          border-radius: unset;
          color: var(--text-primary);

          svg {
            width: 6px;
            height: 9px;
            color: var(--text-primary);
          }

          &:hover {
            background: rgba(234, 36, 39);
            color: #fff;

            svg {
              color: #fff;
            }
          }
        }

        .Mui-selected {
          color: #ea2427;

          &:hover {
            color: #fff;
          }
        }

        &:first-child {
          button {
            margin: unset;
            margin-right: 10px;
            padding: unset;
            border-radius: 12px;
          }
        }

        &:last-child {
          & button {
            margin: unset;
            margin-left: 10px;
            padding: unset;
            border-radius: 12px;
          }
        }

        &:nth-child(2) {
          button {
            border-radius: 12px 0 0 12px;
          }
        }

        &:nth-last-child(2) {
          button {
            border-radius: 0 12px 12px 0;
          }
        }
      }
    }
  }
}

.Location {
  height: 100%;

  .MuiPagination-root {
    position: absolute;
    width: 100%;
    bottom: 0;

    .MuiPagination-ul {
      li {
        .MuiButtonBase-root {
          background: var(--pagination-bg);
          margin: unset;
          padding: unset;
          font-weight: 700;
          font-size: 12px;
          line-height: 13px;
          border-radius: unset;
          color: var(--text-primary);

          svg {
            width: 6px;
            height: 9px;
            color: var(--text-primary);
          }

          &:hover {
            background: rgba(234, 36, 39);
            color: #fff;

            svg {
              color: #fff;
            }
          }
        }

        .Mui-selected {
          color: #ea2427;

          &:hover {
            color: #fff;
          }
        }

        &:first-child {
          button {
            margin: unset;
            margin-right: 10px;
            padding: unset;
            border-radius: 12px;
          }
        }
      }
    }
  }
}

.ShopPage,
.MapPage {
  .MuiInputBase-root {
    min-width: 100px;
    border-radius: 16px;
    padding-inline: 24px;
    background: var(--navbar-bg-main);
    color: var(--text-primary);

    .MuiSelect-select {
      font-weight: 500;
      font-size: 14px;
      color: var(--text-primary);
      padding: 12px;
    }

    svg {
      width: 14px;
      color: var(--red-main);
      transition: 0.2s;
    }

    [aria-expanded='true'] ~ svg {
      transform: rotate(-180deg);
    }

    fieldset {
      display: none;
    }
  }
}

.LoginContent {
  .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 13px 14px !important;
  }

  .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    top: 0;
  }
}

.RegisterContent {
  .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 13px 14px !important;
  }

  .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    top: 0;
  }
}

.Compare {
  .MuiPaper-root {
    border-radius: '16px';
    box-shadow: none;
    font-family: 'Poppins';
  }

  .css-6so005-MuiTypography-root {
    font-family: 'Poppins';
  }
}

h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}

.Personal,
.ChangePassword {
  // .MuiInputAdornment-root {
  //   svg {
  //     margin-top: 3px;
  //     color: var(--red-main);
  //     height: 18px;
  //     width: 18px;
  //   }
  // }

  // .MuiFormControl-root {
  //   width: 100%;
  // }

  // .css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root {
  //   margin-right: 0;
  // }

  // .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  //   padding: 12px;
  // }
}

.AddCart,
.AddLocation,
.AddBonusCard,
.Personal,
.ChangePassword,
.Apply,
.Basket {
  // >>>>>>> styles/globals.scss
  .MuiOutlinedInput-root {
    .MuiOutlinedInput-notchedOutline {
      border-radius: 16px;
    }

    &.Mui-focused {
      .MuiOutlinedInput-notchedOutline {
        border-color: black !important;
      }
    }
  }

  //   .MuiInputLabel-root {
  //     &.Mui-focused {
  //       color: var(--text-primary) !important;
  //     }
  //   }

  // .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  //   padding: 12px 14px;
  // }

  // .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  //   top: 0;
  // }
}

.LoginContent {
  // background-color: red;
  // .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  //   padding: 12px 14px;
  // }
  .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 13px 14px !important;
  }

  .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    top: 0;
  }
}

.Compare {
  .MuiPaper-root {
    border-radius: '16px';
    box-shadow: none;
    font-family: 'Poppins';
  }

  .css-6so005-MuiTypography-root {
    font-family: 'Poppins';
  }
}

.BrandsContainer {
  .slick-slide {
    padding-inline: 18px;

    &.slick-active:first-child {
      padding-left: 0;
    }

    &.slick-active:last-child {
      padding-right: 0;
    }

    // <<<<<<< styles/globals.scss
    // =======
    // >>>>>>> styles/globals.scss
  }
}

.BrandsMainContainer {
  .slick-arrow {
    display: none !important;
  }
}

.ymaps-2-1-79-balloon__layout {
  border-radius: 16px !important;
  border: none !important;
  padding: 10px !important;
}

.ymaps-2-1-79-balloon {
  box-shadow: none !important;
}

.ymaps-2-1-79-_visible-arrow .ymaps-2-1-79-listbox__button-text {
  display: none !important;
}

.ymaps-2-1-79-_visible-arrow .ymaps-2-1-79-listbox__button-arrow {
  display: none !important;
}

.ymaps-2-1-79-listbox__button,
.ymaps-2-1-79-float-button {
  background: #191919 !important;
}

.ymaps-2-1-79-listbox__button-icon.ymaps-2-1-79-_icon_layers {
  background-image: url(/img/layer.png) !important;
  background-size: 80% !important;
}

// .ymaps-2-1-79-controls__toolbar_right{
//   float: left !important;
//   margin-top: 300px !important;
//   margin-left: 11px !important;
// }

.ymaps-2-1-79-float-button-icon_icon_geolocation {
  background-image: url(/img/location.png) !important;
  background-size: 80% !important;
}

.ymaps-2-1-79-float-button-icon_icon_expand {
  background-image: url(/img/fullscreen.png) !important;
  background-size: 80% !important;
}

.ymaps-2-1-79-zoom {
  height: 6px !important;
}

.ymaps-2-1-79-zoom__runner {
  display: none !important;
}

.ymaps-2-1-79-zoom__plus .ymaps-2-1-79-zoom__icon {
  background-image: url(/img/plus.png) !important;
  background-size: 80% !important;
}

.ymaps-2-1-79-zoom__minus .ymaps-2-1-79-zoom__icon {
  background-image: url(/img/minus.png) !important;
  background-size: 80% !important;
}

.MapContentIcon {
  width: 32px !important;
  height: 32px !important;
}

.MuiPaper-root {
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border: 0 1px solid rgba(255, 255, 255, 0.01);
  background-color: transparent;

  [aria-labelledby='lang-select-light'] {
    // ul styles
    box-shadow: unset !important;
    padding: 0;
    background-color: #f5f5f5;
    li {
      padding: 0 !important;
      a {
        color: #333;
        margin: auto;
        display: flex;
        height: 38px;
        width: 100%;
        align-items: center;
        justify-content: center;
      }
    }
  }
  [aria-labelledby='lang-select-dark'] {
    // ul styles
    box-shadow: unset !important;
    padding: 0;
    background-color: #333;
    li {
      padding: 0 !important;
      a {
        color: #fff;
        margin: auto;
        display: flex;
        height: 38px;
        width: 100%;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

[labelId='swipeableDrawer-dark'] {
  .MuiBox-root {
    background: #191919;
    .CurrentPrice {
      color: white !important;
      span:nth-child(1) {
        &:after {
          border: 1px solid white !important;
        }
      }
    }
    .ButtonGroup {
      &Compare {
        background-color: #333 !important;
        svg {
          color: white !important;
        }
      }
      &Favourite {
        background-color: #333 !important;
        svg {
          color: white !important;
        }
      }
    }
    .BottomButtons {
      .MuiButton-root {
        background-color: #333 !important;
        border-right-color: black;
      }
      span {
        color: white !important;
      }
    }
    .OneClickToggle {
      span {
        color: white;
      }
    }
    .CreditToggle {
      .LoanTerm,
      .InitialPayment,
      .BottomSection,
      .loan-term,
      .initial-payment {
        background: #333;
      }
    }
    .LoanTermTitle,
    .LoanTermText,
    .InitialPaymentTitle,
    .InitialPaymentText {
      color: white;
    }
    .BottomSection {
      p,
      span {
        color: white;
      }
    }
  }
}

.rah-input-wrapper {
  flex-grow: 1;
}

// .ProductsSidebar {
//   background: var(--product-card-bg);
//   color: var(--text-primary);
// }