.FavoritesContainer {
  padding-block: 40px 40px;
  padding-inline: 48px;
  width: 100%;
  background: var(--special-offer-bg);

  &Title {
    margin-bottom: 24px;

    &Top {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
      color: var(--text-primary);
    }

    &ProductCount {
      display: none;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: var(--text-primary);
      opacity: 0.5;
    }
  }

  &Body {
    display: grid;
    //grid-template-columns: repeat(5, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 2%;
  }
}

@media only screen and (min-width: 1440px) {
  .FavoritesContainer {
    &Title {
      margin: 0 auto 24px auto;
      max-width: 1340px;
    }
    &Body {
      margin: auto;
      max-width: 1340px;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .FavoritesContainer {
    padding-inline: 20px;
    padding-top: 10px;

    &Title {
      &ProductCount {
        display: block;

        &Top {
          font-weight: 700;
          font-size: 16px;
          line-height: 16px;
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .FavoritesContainer {
    &Body {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
}

@media only screen and (max-width: 670px) {
  .FavoritesContainer {
    &Body {
      grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
      grid-column-gap: 16%;
    }
  }
}

@media only screen and (max-width: 576px) {
  .FavoritesContainer {
    &Body {
      grid-template-columns: repeat(auto-fit, minmax(154px, 1fr));
      grid-column-gap: 10%;
    }
  }
}

@media only screen and (max-width: 400px) {
  .FavoritesContainer {
    &Body {
      grid-column-gap: 4%;
    }
  }
}

@media only screen and (max-width: 361px) {
  .FavoritesContainer {
    &Body {
      grid-column: auto;
      grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
      justify-content: center;
    }
  }
}
