.SectionTwo {
  // display: none;
  width: 100%;
  padding: 52px 48px;
  background: var(--section-two);

  &Title {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .TitleLeft {
      margin-right: 20px;

      h2 {
        color: var(--campaigns-nav-bg);
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.26em;
      }

      p {
        color: var(--text-primary);
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
      }
    }

    .TitleRight {
      display: flex;
      align-items: flex-end;

      &Filter {
        // ul {
        display: flex;
        column-gap: 24px;

        li {
          padding: 5px 0;

          &:first-child {
            margin-left: 0px;
          }

          a {
            color: var(--text-primary);
            opacity: 0.5;
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            white-space: nowrap;

            &:hover {
              color: var(--text-primary);
            }
          }

          &:last-child {
            margin-right: 0;
          }
        }
        // }

        .ActiveLink {
          border-bottom: 2px solid var(--campaigns-nav-bg);

          a {
            opacity: unset;
            font-weight: 600;
          }
        }
      }
      &Link {
        a {
          display: flex;
          gap: 15px;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          text-decoration-line: underline;
          color: var(--text-primary);

          svg {
            color: var(--red-main);
            height: 15px;
            width: 15px;
          }
        }
      }
    }
  }

  &Products {
    margin-top: 32px;

    &Container {
      padding: 0px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 1%;
      row-gap: 36px;

      &Item {
        width: 24%;
      }
    }
  }
}

@media (min-width: 1440px) {
  .SectionTwo {
    &Title,
    &Products {
      margin-inline: auto;
      padding-inline: 0;
      max-width: 1050px;
    }
  }
}
@media (max-width: 1280px) {
  .SectionTwo {
    &Products {
      &Container {
        gap: 2%;

        &Item {
          width: 32%;
          margin-bottom: 24px;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .SectionTwo {
    padding: 52px 20px !important;
  }
}

@media (max-width: 992px) {
  .SectionTwo {
    &Title {
      flex-direction: column;

      .TitleLeft {
        padding-bottom: 20px;
      }

      .TitleRight {
        ul {
          li {
            &:first-child {
              margin-left: unset;
            }
          }
        }
      }
    }

    &Products {
      &Container {
        .Product {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .SectionTwo {
    &Products {
      &Container {
        &Item {
          width: 44%;
          margin-bottom: 24px;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .SectionTwo {
    // display: none;
    width: 100%;
    padding: 52px 48px;
    background: var(--section-two);

    &Title {
      display: flex;
      justify-content: space-between;
      position: relative;

      .TitleLeft {
        margin: 0;
        padding-bottom: 20px;

        h2 {
          color: var(--campaigns-nav-bg);
          font-weight: 400;
          font-size: 10px;
          line-height: 15px;
        }

        p {
          color: var(--text-primary);
          font-weight: 600;
          font-size: 20px;
          line-height: 30px;
          padding-bottom: 40px;
        }
      }

      .TitleRight {
        display: flex;
        align-items: flex-end;
        padding-bottom: 10px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow-x: auto;

        ul {
          display: flex;
          width: 100%;

          li {
            padding: 5px 0;
            flex-shrink: 0;

            a {
              color: var(--text-primary);
              opacity: 0.5;
              font-weight: 500;
              font-size: 14px;
              line-height: 21px;
              white-space: nowrap;

              &:hover {
                color: var(--text-primary);
              }
            }

            &:last-child {
              margin-right: 0;
            }
          }
        }

        .ActiveLink {
          border-bottom: 2px solid var(--campaigns-nav-bg);

          a {
            opacity: unset;
            font-weight: 600;
          }
        }
      }
    }

    &Products {
      margin-top: 20px;

      &Container {
        gap: 1%;

        &Item {
          width: 42%;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .SectionTwo {
    &Products {
      margin-top: 20px;

      &Container {
        gap: 1%;

        &Item {
          width: 48%;
        }
      }
    }
  }
}

@media (max-width: 360px) {
  .SectionTwo {
    &Title {
      .TitleLeft {
        h2 {
          font-size: 8px;
        }

        p {
          font-size: 16px;
        }
      }

      .TitleRight {
        ul {
          column-gap: 20px;

          li {
            a {
              font-size: 12px;
            }
          }
        }
      }
    }

    &Products {
      &Container {
        justify-content: center;

        &Item {
          width: 70%;
        }
      }
    }
  }
}
