.Product {
    width: 100%;
    border-radius: 16px;
    padding: 4px;
    // background-color: #F5F5F5;
    background-color: var(--f7-to-00);

    .Heart {
        text-align: end;
        padding: 6px 6px 0 0;

        button {
            color: #ea2427;
            font-size: 12px;
            width: 24px;
            height: 24px;
            // background: #FFFFFF;
            background: var(--products-page-inner);
            border-radius: 50%;
            border: none;
        }
    }

    &Img {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 115px;
            height: 110px;
            // mix-blend-mode: multiply;
        }
    }

    &Icons {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
        padding: 16px 10px 8px 10px;

        .Comments {

            button {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 6px 8px;
                gap: 4px;
                width: 60px;
                height: 24px;
                // background: #FFFFFF;
                background: var(--products-page-inner);
                border-radius: 25px;
                border: unset;

                span {
                    font-weight: 500;
                    font-size: 8px;
                    line-height: 12px;
                    text-align: center;
                    color: var(--text-primary);
                }
            }
        }

        .FavouriteButton {
            button {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 6px 8px;
                gap: 4px;
                width: 45px;
                height: 24px;
                // background: #FFFFFF;
                background: var(--products-page-inner);

                border-radius: 25px;
                border: unset;

                span {
                    font-weight: 500;
                    font-size: 8px;
                    line-height: 12px;
                    text-align: center;
                    color: var(--text-primary);

                }
            }
        }
    }

    &Title {
        padding: 12px;
        // background-color: white;
        background: var(--products-page-inner);
        border-radius: 0px 0px 16px 16px;

        p {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            line-height: 15px;
            color: var(--text-primary);
            opacity: 0.6;
        }
    }
}